<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/templateProject.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:metadata>
        <f:event type="preRenderView" listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>
    <ui:define name="title">
        <h:outputText value="標籤維護作業" />
    </ui:define>

    <ui:define name="content">
        <p:remoteCommand name="doSearchData" actionListener="#{setting3Bean.doSearch()}" update="#{setting3Bean.dataTableID}"
                         onstart="showLoad();" oncomplete="hideLoad();"
                         process="@this headerTitle" />
        <p:outputPanel id="allPanel" >
            <p:panel id="headerTitle"  style="border:none" >
                <p:outputPanel id="headerPanel"  >
                    <p:outputPanel style="margin-left:5px;">
                        <h:outputText value="類型 ： 標籤維護作業" styleClass="reportTypeColor" />
                    </p:outputPanel>
                </p:outputPanel>
                <p:outputPanel style="overflow: hidden;">
                    <p:panelGrid columns="14">
                        <h:outputText value="狀態 ： "/>
                        <p:selectOneMenu value="#{setting3Bean.workReportSearchHeaderComponent.selectStatus}" style="width: 80px;" >
                            <f:selectItem itemLabel="全部" itemValue=""/>
                            <f:selectItems value="#{activationItemBean.activationItems}"/>
                        </p:selectOneMenu>
                        <h:outputText value="標籤名稱 ： "/>
                        <p:inputText value="#{setting3Bean.workReportSearchHeaderComponent.tagName}" onkeydown="executeScriptByEnter(event, 'doSearchData();');" />

                        <p:commandButton  title="搜尋" value="搜尋"
                                          onclick="doSearchData();" 
                                          />
                        <p:commandButton  title="清除" value="清除"
                                          onclick="showLoad();" oncomplete="hideLoad();"
                                          actionListener="#{setting3Bean.clear()}" update="headerTitle #{setting3Bean.dataTableID}"
                                          process="@this "
                                          />

                        <p:commandButton  title="新增" value="新增"
                                          onclick="showLoad();" oncomplete="hideLoad();PF('tag_maintain_setting_dlg_wv').show();" update="#{setting3Bean.dataTableID} tag_maintain_setting_dlg_panel_id"
                                          actionListener="#{setting3Bean.addTag()}"  
                                          process="@this "
                                          />
                    </p:panelGrid>
                </p:outputPanel>
            </p:panel>
            <!--查詢表身-->
            <p:dataTable id="#{setting3Bean.dataTableID}"  
                         widgetVar="#{setting3Bean.dataTableWv}"
                         value="#{setting3Bean.tagSearchVO}" var="workReport" rowKey="#{workReport.sid}" rowIndexVar="index"

                         scrollHeight="450" scrollable="true" paginator="true" rows="#{setting3Bean.searchColumnVO.pageCount}"
                         draggableColumns="true" 
                         resizableColumns="true"
                         resizeMode="expand" 
                         selectionMode="single"
                         selection="#{setting3Bean.selTagSearchVO}"> 
                <p:ajax event="rowDblselect" 
                        process="#{setting3Bean.dataTableID}"
                        onstart="showLoad();"                        
                        listener="#{setting3Bean.loadTag()}"
                        update="tag_maintain_setting_dlg_panel_id"
                        oncomplete="hideLoad();PF('tag_maintain_setting_dlg_wv').show();"/>

                <p:ajax event="colResize" 
                        process="@this" 
                        update="widthSaveBtn"
                        listener="#{setting3Bean.customColumn.doResizeColumn()}"
                        />
                <f:facet name="header">
                    <p:outputPanel autoUpdate="true">
                        <p:commandButton value="欄位"
                                         actionListener="#{setting3Bean.openCustomColumn()}"
                                         onclick="showLoad();" oncomplete="hideLoad();"
                                         process="@this dlgDefineField_view"
                                         style="float:right">
                        </p:commandButton>
                        <p:commandButton value="寬度儲存" id="widthSaveBtn"
                                         rendered="#{setting3Bean.customColumn.showResizeColumn}"
                                         onstart="btnSaveColumnWith('#{setting3Bean.dataTableID}');"
                                         process="@this"
                                         style="float:right">
                        </p:commandButton>
                    </p:outputPanel>
                </f:facet>

                <p:column headerText="#{setting3Bean.searchColumnVO.index.name}"  style="#{setting3Bean.searchColumnVO.index.width}" rendered="#{setting3Bean.searchColumnVO.index.show}" >
                    <h:outputText value="#{index+1}"/>
                </p:column>
                <p:column headerText="#{setting3Bean.searchColumnVO.seq.name}" sortBy="#{workReport.seq}" rendered="#{setting3Bean.searchColumnVO.seq.show}"
                          style="#{setting3Bean.searchColumnVO.seq.width}">
                    <h:outputText value="#{workReport.seq}">
                    </h:outputText>
                </p:column>
                <p:column headerText="#{setting3Bean.searchColumnVO.createTime.name}" sortBy="#{workReport.createTime}" rendered="#{setting3Bean.searchColumnVO.createTime.show}"
                          style="#{setting3Bean.searchColumnVO.createTime.width}">
                    <h:outputText value="#{workReport.createTime}">
                    </h:outputText>
                </p:column>
                <p:column headerText="#{setting3Bean.searchColumnVO.createUser.name}" sortBy="#{workReport.creatUser}" rendered="#{setting3Bean.searchColumnVO.createUser.show}"
                          style="#{setting3Bean.searchColumnVO.createUser.width}"
                          >
                    <h:outputText value="#{workReport.creatUser}"/>
                </p:column>
                <p:column headerText="#{setting3Bean.searchColumnVO.categoryName.name}" sortBy="#{workReport.categoryName}" rendered="#{setting3Bean.searchColumnVO.categoryName.show}"
                          style="#{setting3Bean.searchColumnVO.categoryName.width}">
                    <h:outputText value="#{workReport.categoryName}"/>
                </p:column>
                <p:column headerText="#{setting3Bean.searchColumnVO.tag.name}" sortBy="#{workReport.tagName}" rendered="#{setting3Bean.searchColumnVO.tag.show}"
                          >
                    <h:outputText value="#{workReport.tagName}" id="tagName"/>
                </p:column>
                <p:column headerText="#{setting3Bean.searchColumnVO.status.name}" sortBy="#{workReport.status}" rendered="#{setting3Bean.searchColumnVO.status.show}"
                          style="#{setting3Bean.searchColumnVO.status.width}">
                    <h:outputText value="#{workReport.status}">
                    </h:outputText>
                </p:column>
                <p:column headerText="#{setting3Bean.searchColumnVO.modifyTime.name}" sortBy="#{workReport.modifyTime}" rendered="#{setting3Bean.searchColumnVO.modifyTime.show}"
                          style="#{setting3Bean.searchColumnVO.modifyTime.width}">
                    <h:outputText value="#{workReport.modifyTime}">
                    </h:outputText>
                </p:column>
            </p:dataTable>
        </p:outputPanel>


        <p:dialog header="部門" widgetVar="deptUnitDlg" modal="true" resizable="false">
            <p:outputPanel id="depDialogPanel">
                <cp:depTree model="#{setting3Bean.depTreeManager}" 
                            dlgName="deptUnitDlg"   btnShow="true"  >
                    <f:actionListener for="actionEvent" binding="#{setting3Bean.doSelectOrg()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>

        <p:dialog  header="標籤維護"
                   id="tag_maintain_setting_dlg_id"
                   position="left top"
                   modal="true" 
                   widgetVar="tag_maintain_setting_dlg_wv" 
                   draggable="true" 
                   closable="false"
                   resizable="false"
                   >
            <p:panel id="tag_maintain_setting_dlg_panel_id" style="border:none">

                <p:panelGrid  >
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="標籤名稱" />
                        </p:column>
                        <p:column colspan="1">
                            <p:inputTextarea  value="#{setting3Bean.tagName}"
                                              rows="1" cols="30" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="排序序號" />
                        </p:column>
                        <p:column colspan="1">
                            <p:inputTextarea  value="#{setting3Bean.seq}"
                                              rows="1" cols="15" />
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="可使用單位："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="部門："/>
                            <p:commandButton icon="fa fa-gear" actionListener="#{setting3Bean.loadOrgs()}" update="depDialogPanel"
                                             onclick="showLoad();" 
                                             oncomplete="hideLoad();PF('deptUnitDlg').show();"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="可使用的模組"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:selectOneMenu  value="#{setting3Bean.selectTagCategoryID}"  >
                                <f:selectItem itemLabel="請選擇" itemValue=""/>
                                <f:selectItems value="#{tagCategoryItemBean.tagCategoryItems}" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:outputLabel value="使用狀態"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:selectOneMenu value="#{setting3Bean.statusID}" disabled="#{setting3Bean.disableStatus}" >
                                <f:selectItems value="#{activationItemBean.activationItems}" />
                            </p:selectOneMenu>
                        </p:column>
                    </p:row>

                    <p:row style="vertical-align: top" >
                        <p:column colspan="1">
                            <p:outputLabel value="備註" />
                        </p:column>
                        <p:column colspan="1">
                            <p:inputTextarea  value="#{setting3Bean.memo}" 
                                              rows="5" cols="30" />
                        </p:column>
                    </p:row>
                </p:panelGrid>
                <p:row >
                    <p:commandButton value="確定" actionListener="#{setting3Bean.saveTag()}" process="@this tag_maintain_setting_dlg_panel_id"
                                     onclick="showLoad();" oncomplete="hideLoad();"
                                     />
                    <p:commandButton value="取消"
                                     onclick="showLoad();" 
                                     oncomplete="hideLoad();PF('tag_maintain_setting_dlg_wv').hide();"  />
                </p:row>
            </p:panel>
        </p:dialog>



        <p:confirmDialog id="confirmDlgTemplate"  widgetVar="confirmDlgTemplate" >
            <f:facet name="message">
                <h:outputText value="#{setting3Bean.errorMessage}" escape="false"/>
            </f:facet>
            <p:commandButton value="確認" type="button" onclick="PF('confirmDlgTemplate').hide()"/>
        </p:confirmDialog>
        <p:dialog header="個人化顯示設定" widgetVar="#{setting3Bean.customColumn.dialogWar}" modal="true" position="right top">
            <p:outputPanel id="dlgDefineField_view"> 
                <cp:customColumn  model="#{setting3Bean.customColumn}"  >

                </cp:customColumn> 
            </p:outputPanel>
        </p:dialog>



        <p:remoteCommand name="saveColumnWith" 
                         onstart="showLoad();" oncomplete="hideLoad();"
                         actionListener="#{setting3Bean.customColumn.saveColumnWith()}"  
                         process="@this" >
        </p:remoteCommand>

        <script type="text/javascript">
            function btnSaveColumnWith(obj) {
                var theadclone = obj + " .ui-datatable-scrollable-theadclone";
                var columnvalue = "";
                var headText = "";
                var widthText = "";
                if ($("#" + theadclone).length > 0) {
                    $("#" + obj + "_head th").each(function () {
                        if ($(this).css("display") !== 'none') {
                            if (columnvalue !== "") {
                                columnvalue = columnvalue + ",";
                            }
                            headText = $.trim($(this).text());
                            widthText = $(this).css("width").replace('px', '');
                            columnvalue = columnvalue + '{"name":"' + headText + '","width":"' + widthText + '"}';
                        }
                    });
                    saveColumnWith([{name: 'columnvalue', value: "[" + columnvalue + "]"}]);
                }
            }


        </script>

    </ui:define>

</ui:composition>
