<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="../template/templateProject.xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
	<f:metadata>
		<f:event
			type="preRenderView"
			listener="#{sessionTimerBean.reStartIdle()}" />
	</f:metadata>
	<ui:define name="title">
		<h:outputText value="工作報告可閱權限查詢" />

	</ui:define>

	<ui:define name="content">
		<style>
body {
	font: 70% 'Microsoft JhengHei', Arial, Helvetica, Verdana, sans-serif;
}
</style>
		<!-- ==================================== -->
		<!-- 設定資料顯示區 -->
		<!-- ==================================== -->
		<div style="height: 20px"></div>
		<div style="display: flex; flex-direction: column">
			<p:fieldset legend="設定資料">
				<p:selectBooleanCheckbox
					value="#{setting6Bean.allDataOnlyActive}"
					itemLabel="僅顯示非停用單位">
					<p:ajax
						update="#{setting6Bean.dataTableID}"
						listener="#{setting6Bean.prepareAllData}" />
				</p:selectBooleanCheckbox>
				<p:dataTable
					id="#{setting6Bean.dataTableID}"
					value="#{setting6Bean.allData}"
					var="itemVO"
					scrollable="true"
					paginator="true"
					rows="20"
					rowKey="#{itemVO.sid}"
					rowIndexVar="index">
					<p:column
						headerText="序號"
						width="30">
						<h:outputText value="#{index+1}" />
					</p:column>
					<p:column
						headerText="公司別"
						width="100">
						<h:outputText
							value="#{itemVO.targetDepCompInfo}"
							escape="false" />
					</p:column>
					<p:column
						headerText="單位"
						width="260">
						<h:outputText
							value="#{itemVO.targetDepInfo}"
							escape="false" />
					</p:column>
					<p:column
						headerText="增加可閱"
						width="1200">
						<h:outputText
							value="#{itemVO.addInfo}"
							escape="false" />

						<p:tooltip
							for="@previous"
							value="#{itemVO.addInfo}"
							escape="false"
							style="white-space: pre;"
							trackMouse="true" />
					</p:column>
					<p:column headerText="限制可閱">
						<h:outputText
							value="#{itemVO.limitInfo}"
							escape="false" />
					</p:column>
				</p:dataTable>
			</p:fieldset>
		</div>

		<!-- ==================================== -->
		<!-- 使用分析 -->
		<!-- ==================================== -->
		<div style="height: 20px"></div>
		<div style="display: flex; flex-direction: column">
			<p:fieldset legend="使用分析">
				<p:selectBooleanCheckbox
					value="#{setting6Bean.usedRecordsOnlyActive}"
					itemLabel="僅顯示非停用單位">
					<p:ajax
						update="usedRecords_datatable"
						listener="#{setting6Bean.prepareUsedRecords}" />
				</p:selectBooleanCheckbox>

				<p:dataTable
					id="usedRecords_datatable"
					value="#{setting6Bean.usedRecords}"
					var="itemVO"
					scrollable="true"
					paginator="true"
					rows="20"
					rowKey="#{itemVO.sid}"
					rowIndexVar="index">
					<p:column
						headerText="序號"
						width="30">
						<h:outputText value="#{index+1}" />
					</p:column>
					<p:column
						headerText="公司別"
						width="100">
						<h:outputText
							value="#{itemVO.compName}"
							escape="false" />
					</p:column>
					<p:column headerText="單位">
						<h:outputText
							value="#{itemVO.depName}"
							escape="false" />
					</p:column>
					<p:column
						headerText="筆數"
						sortBy="#{itemVO.cnt}">
						<h:outputText
							value="#{itemVO.cnt}"
							escape="false" />
					</p:column>
					<p:column
						headerText="最後建單日"
						sortBy="#{itemVO.lastCreateDate}"
						width="120">
						<h:outputText
							value="#{itemVO.lastCreateDateStr}"
							escape="false" />
					</p:column>
				</p:dataTable>
			</p:fieldset>
		</div>

		<!-- ==================================== -->
		<!-- 有設定資料，但已停用部門 -->
		<!-- ==================================== -->
		<div style="height: 20px"></div>
		<div>
			<p:fieldset
				legend="有設定資料，但已停用部門"
				rendered="#{not empty setting6Bean.inactiveDepInfo}">
				<h:outputText
					value="#{setting6Bean.inactiveDepInfo}"
					escape="false" />
			</p:fieldset>
		</div>
		<!-- ==================================== -->
		<!-- 有設定資料，但已停用部門 -->
		<!-- ==================================== -->
		<div style="height: 20px"></div>
		<div>
			<p:fieldset
				legend="DELETE SQL for 停用部門設定"
				rendered="#{not empty setting6Bean.inActiveDepDeleteSql}">
				<p:inputTextarea
					rows="10"
					style="width:100%"
					value="#{setting6Bean.inActiveDepDeleteSql}" />
			</p:fieldset>
		</div>
		<div style="height: 20px"></div>
		<div>
			<p:fieldset
				legend="刪除資料備份 SQL"
				rendered="#{not empty setting6Bean.inActiveDepRecoverySql}">
				<p:inputTextarea
					rows="3"
					style="width:100%"
					value="#{setting6Bean.inActiveDepRecoverySql}" />
			</p:fieldset>
		</div>

	</ui:define>
</ui:composition>
