<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/templateProject.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:metadata>
        <f:event type="preRenderView" listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>
    <ui:define name="title">
        <h:outputText value="報表快選區設定" />
    </ui:define>

    <ui:define name="content">
        <script type="text/javascript">
            //回到首頁樣式
            function backHome() {
                if (checkIframe()) {
                    $('#btnHome', window.parent.document).click();
                    $("#defineFavorite").css("display", "none");
                }
            }

            function checkIframe() {
                if (self !== top) {
                    return true;
                }
                return false;
            }
        </script>
        <p:outputPanel id="defineFavorite">
            <p:scrollPanel style="height:500px; width: 200px;" 
                           mode="native">
                <p:panelGrid columns="1">
                    <p:selectManyCheckbox value="#{setting1Bean.selectReportTypes}" 
                                          layout="grid" 
                                          columns="1">
                        <f:selectItems value="#{setting1Bean.reportItems}"/>
                    </p:selectManyCheckbox>
                </p:panelGrid>
            </p:scrollPanel>
            <p:panelGrid columns="1">
                <p:commandButton value="確定"
                                 onclick="showLoad();"
                                 actionListener="#{setting1Bean.saveSetting()}"
                                 oncomplete="hideLoad();backHome();"
                                 update="defineFavorite" 
                                 process="@this defineFavorite" />
            </p:panelGrid>
        </p:outputPanel>

        <p:confirmDialog id="confirmDlgTemplate"  widgetVar="confirmDlgTemplate" >
            <f:facet name="message">
                <h:outputText value="#{setting1Bean.errorMessage}" escape="false"/>
            </f:facet>
            <p:commandButton value="確認" type="button" onclick="PF('confirmDlgTemplate').hide()"/>
        </p:confirmDialog>
    </ui:define>

</ui:composition>

