<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/templateProject.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:metadata>
        <f:event type="preRenderView" listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>
    <ui:define name="title">
        <h:outputText value="最後修改日調整" />
    </ui:define>

    <ui:define name="content">
        <p:remoteCommand name="doSearchData" actionListener="#{setting2Bean.doSearch()}" update="#{setting2Bean.dataTableID}"
                         onstart="showLoad();" oncomplete="hideLoad();"
                         process="@this headerTitle" />
        <p:outputPanel id="allPanel" >
            <p:panel id="headerTitle"  style="border:none" rendered="#{!setting2Bean.showFrame}">
                <p:outputPanel id="headerPanel"  >
                    <p:outputPanel style="margin-left:5px;">
                        <h:outputText value="類型 ： 最後修改日調整" styleClass="reportTypeColor" />
                    </p:outputPanel>
                </p:outputPanel>
                <p:outputPanel style="overflow: hidden;">
                    <p:panelGrid columns="14">
                        <h:outputText value="建立部門： "/>
                        <p:commandButton icon="fa fa-search" process="@this" update="depDialogPanel"  onclick="showLoad();" oncomplete="hideLoad();PF('deptUnitDlg').show();"
                                         actionListener="#{setting2Bean.loadOrgs()}"                />
                        <h:outputText value="單號 ： "/>
                        <p:inputText value="#{setting2Bean.workReportSearchHeaderComponent.no}" onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
                        <h:outputText value="建立者 ： "/>
                        <p:inputText value="#{setting2Bean.workReportSearchHeaderComponent.personName}" onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
                        <p:commandButton  title="搜尋" value="搜尋"
                                          onclick="doSearchData();" 
                                          />
                        <p:commandButton  title="清除" value="清除"
                                          onclick="showLoad();" oncomplete="hideLoad();"
                                          actionListener="#{setting2Bean.clear()}" update="headerTitle #{setting2Bean.dataTableID}"
                                          process="@this "
                                          />
                    </p:panelGrid>
                </p:outputPanel>
            </p:panel>
            <!--查詢表身-->
            <p:dataTable id="#{setting2Bean.dataTableID}"  rendered="#{!setting2Bean.showFrame}"
                         widgetVar="#{setting2Bean.dataTableWv}"
                         value="#{setting2Bean.lastModifySearchVOs}" var="workReport" rowKey="#{workReport.sid}" rowIndexVar="index"

                         scrollHeight="450" scrollable="true" paginator="true" rows="#{setting2Bean.searchColumnVO.pageCount}"
                         draggableColumns="true" 
                         resizableColumns="true"
                         resizeMode="expand" 
                         selectionMode="single"
                         selection="#{setting2Bean.selLastModifySearchVO}"> 
                <p:ajax event="rowSelect" 

                        process="#{setting2Bean.dataTableID}" 
                        update="#{setting2Bean.dataTableID}" />
                <p:ajax event="colResize" 
                        process="@this" 
                        update="widthSaveBtn"
                        listener="#{setting2Bean.customColumn.doResizeColumn()}"
                        />
                <f:facet name="header">
                    <p:outputPanel autoUpdate="true">
                        <p:commandButton value="欄位"
                                         actionListener="#{setting2Bean.openCustomColumn()}"
                                         onclick="showLoad();" oncomplete="hideLoad();"
                                         process="@this dlgDefineField_view"
                                         style="float:right">
                        </p:commandButton>
                        <p:commandButton value="寬度儲存" id="widthSaveBtn"
                                         rendered="#{setting2Bean.customColumn.showResizeColumn}"
                                         onstart="btnSaveColumnWith('#{setting2Bean.dataTableID}');"
                                         process="@this"
                                         style="float:right">
                        </p:commandButton>
                    </p:outputPanel>
                </f:facet>

                <p:column headerText="#{setting2Bean.searchColumnVO.index.name}"  style="#{setting2Bean.searchColumnVO.index.width}" rendered="#{setting2Bean.searchColumnVO.index.show}" >
                    <h:outputText value="#{index+1}"/>
                </p:column>
                <p:column headerText="#{setting2Bean.searchColumnVO.createTime.name}" sortBy="#{workReport.create_time}" rendered="#{setting2Bean.searchColumnVO.createTime.show}"
                          style="#{setting2Bean.searchColumnVO.createTime.width}">
                    <h:outputText value="#{workReport.create_time}">
                    </h:outputText>
                </p:column>
                <p:column headerText="#{setting2Bean.searchColumnVO.department.name}" sortBy="#{workReport.department_name}" rendered="#{setting2Bean.searchColumnVO.department.show}"
                          style="#{setting2Bean.searchColumnVO.department.width}"
                          >
                    <h:outputText value="#{workReport.department_name}"/>
                </p:column>
                <p:column headerText="#{setting2Bean.searchColumnVO.createUser.name}" sortBy="#{workReport.create_usr_name}" rendered="#{setting2Bean.searchColumnVO.createUser.show}"
                          style="#{setting2Bean.searchColumnVO.createUser.width}">
                    <h:outputText value="#{workReport.create_usr_name}"/>
                </p:column>
                <p:column headerText="#{setting2Bean.searchColumnVO.theme.name}" sortBy="#{workReport.title}" rendered="#{setting2Bean.searchColumnVO.theme.show}"

                          >
                    <h:outputText value="#{workReport.title}" id="theme"/>
                    <p:tooltip for="theme" value="#{workReport.title}" trackMouse="true" escape="false" rendered="#{setting2Bean.hasDisplay}"
                               />
                </p:column>
                <p:column headerText="#{setting2Bean.searchColumnVO.no.name}" sortBy="#{workReport.wr_no}" rendered="#{setting2Bean.searchColumnVO.no.show}"
                          style="#{setting2Bean.searchColumnVO.no.width}">
                    <h:outputText value="#{workReport.wr_no}">
                    </h:outputText>
                </p:column>
                <p:column headerText="#{setting2Bean.searchColumnVO.editType.name}" sortBy="#{workReport.editType}" rendered="#{setting2Bean.searchColumnVO.editType.show}"
                          style="#{setting2Bean.searchColumnVO.editType.width}">
                    <h:outputText value="#{workReport.editType}">
                    </h:outputText>
                </p:column>
                <p:column headerText="#{setting2Bean.searchColumnVO.status.name}" sortBy="#{workReport.status}" rendered="#{setting2Bean.searchColumnVO.status.show}"
                          style="#{setting2Bean.searchColumnVO.status.width}">
                    <h:outputText value="#{workReport.status}">
                    </h:outputText>
                </p:column>

                <p:column headerText="#{setting2Bean.searchColumnVO.lastModifyTime.name}" sortBy="#{workReport.last_modify_time}" rendered="#{setting2Bean.searchColumnVO.lastModifyTime.show}"
                          style="#{setting2Bean.searchColumnVO.lastModifyTime.width}">
                    <p:commandButton icon="fa fa-pencil"
                                     actionListener="#{setting2Bean.loadLastModifyTime(workReport.sid)}" 
                                     onclick="showLoad();"  oncomplete="hideLoad();"
                                     process="@this"
                                     />
                    <h:outputText value="#{workReport.last_modify_time}">
                    </h:outputText>
                </p:column>
                <p:column headerText="#{setting2Bean.searchColumnVO.memo.name}" sortBy="#{workReport.memo}" rendered="#{setting2Bean.searchColumnVO.memo.show}"
                          style="#{setting2Bean.searchColumnVO.memo.width}">
                    <p:commandButton icon="fa fa-pencil"
                                     actionListener="#{setting2Bean.loadLastModifyTimeMemo(workReport.sid)}" 
                                     onclick="showLoad();"  oncomplete="hideLoad();reEditor();"
                                     process="@this"
                                     />
                    <h:outputText value="#{workReport.memo}" id="lastModifyMemo">
                    </h:outputText>

                    <p:tooltip for="lastModifyMemo" value="#{workReport.memoCss}" trackMouse="true" escape="false" rendered="#{setting2Bean.hasDisplay}"
                               />
                </p:column>


            </p:dataTable>
        </p:outputPanel>
        <!--最後可編輯時間-->
        <p:dialog id="dlglastModifyTime"
                  widgetVar="dlglastModifyTimeWv" 
                  header="最後可編輯時間" 
                  position="top"
                  resizable="false"

                  modal="true">
            <p:outputPanel id="dlglastModifyTime_view">
                <p:panelGrid  columns="2">
                    <p:outputLabel value="最後可編輯時間："/>
                    <p:calendar  value="#{setting2Bean.lastModifyDate}"
                                 pattern="yyyy/MM/dd"
                                 navigator="true" 
                                 mode="popup" 
                                 showOn="button" >
                    </p:calendar>
                </p:panelGrid>
                <p:panelGrid  columns="2">
                    <p:commandButton value="確定" 
                                     actionListener="#{setting2Bean.saveLastModifyTime()}" 
                                     onclick="showLoad();" 
                                     oncomplete="hideLoad();"
                                     process="@this dlglastModifyTime_view">
                    </p:commandButton>
                    <p:commandButton value="取消" 
                                     onclick="PF('dlglastModifyTimeWv').hide();" 
                                     process="@this"/>
                </p:panelGrid>   
            </p:outputPanel>
        </p:dialog>

        <p:dialog header="部門" widgetVar="deptUnitDlg" modal="true" resizable="false">
            <p:outputPanel id="depDialogPanel">
                <cp:depTree model="#{setting2Bean.depTreeManager}" 
                            dlgName="deptUnitDlg"   btnShow="true"  >
                    <f:actionListener for="actionEvent" binding="#{setting2Bean.doSelectOrg()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>

        <!--備註說明-->
        <p:dialog id="dlglastModifyTime_memo"
                  widgetVar="dlglastModifyTime_memoWv" 
                  header="備註說明" 
                  position="top"
                  modal="true">
            <p:outputPanel id="dlglastModifyTime_memo_view" 
                           >
                <p:panelGrid  columns="2">
                    <p:outputLabel value="備註說明："/>
                    <p:editor widgetVar="dlglastModifyTime_memo_view_wvMome" 
                              id="dlglastModifyTime_memo_view_wvMome_id"
                              converter="#{editorConverter}"
                              value="#{setting2Bean.memo}"
                              controls="font size bold italic underline color highlight"
                              height="150"
                              style="width: 600px; " >
                    </p:editor>
                </p:panelGrid>
                <p:panelGrid  columns="2">
                    <p:commandButton value="確定" 
                                     actionListener="#{setting2Bean.saveLastModifyTimeMemo()}"
                                     onclick="showLoad();saveHTML('dlglastModifyTime_memo_view_wvMome');" 
                                     oncomplete="hideLoad();"
                                     process="@this dlglastModifyTime_memo_view">
                    </p:commandButton>
                    <p:commandButton value="取消" 
                                     onclick="PF('dlglastModifyTime_memoWv').hide();" 
                                     process="@this"/>
                </p:panelGrid>   
            </p:outputPanel>
        </p:dialog>
        <p:remoteCommand name="openerByBtnUp" 
                         actionListener="#{setting2Bean.openerByBtnUp()}"
                         process="@this " >
        </p:remoteCommand>

        <p:remoteCommand name="closeIframe" 
                         actionListener="#{setting2Bean.closeIframe()}" update=":formTemplate:allPanel :formTemplate:iframePanel"
                         process="@this " >
        </p:remoteCommand>

        <p:remoteCommand name="openerByBtnDown" 
                         actionListener="#{setting2Bean.openerByBtnDown()}"
                         process="@this " >
        </p:remoteCommand>

        <p:confirmDialog id="confirmDlgTemplate"  widgetVar="confirmDlgTemplate" >
            <f:facet name="message">
                <h:outputText value="#{setting2Bean.errorMessage}" escape="false"/>
            </f:facet>
            <p:commandButton value="確認" type="button" onclick="PF('confirmDlgTemplate').hide()"/>
        </p:confirmDialog>
        <p:dialog header="個人化顯示設定" widgetVar="#{setting2Bean.customColumn.dialogWar}" modal="true" position="right top">
            <p:outputPanel id="dlgDefineField_view"> 
                <cp:customColumn  model="#{setting2Bean.customColumn}"  >

                </cp:customColumn> 
            </p:outputPanel>
        </p:dialog>
        <p:outputPanel id="iframePanel" >
            <p:outputPanel id="frameContentPanel" rendered="#{setting2Bean.showFrame}" >
                <iframe id="test"  
                        name="tetst" 
                        frameborder="0"
                        src="#{setting2Bean.iframeUrl}"
                        width="100%"/>
                <script type="text/javascript">
                    jQuery(document).ready(function () {
                        $("#test").css('height', $(window).height() - 20);
                    });
                </script>
            </p:outputPanel>

        </p:outputPanel>


        <p:remoteCommand name="saveColumnWith" 
                         onstart="showLoad();" oncomplete="hideLoad();"
                         actionListener="#{setting2Bean.customColumn.saveColumnWith()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByCommit" 
                         actionListener="#{setting2Bean.openerByCommit()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByDelete" 
                         actionListener="#{setting2Bean.openerByDelete()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByInvalid" 
                         actionListener="#{setting2Bean.openerByInvalid()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByEditContent" 
                         actionListener="#{setting2Bean.openerByEditContent()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByEditTag" 
                         actionListener="#{setting2Bean.openerByEditTag()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByTrace" 
                         actionListener="#{setting2Bean.openerByTrace()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByFavorite" 
                         actionListener="#{setting2Bean.openerByFavorite()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByTrans" 
                         actionListener="#{setting2Bean.openerByTrans()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByReadRecept" 
                         actionListener="#{setting2Bean.openerByReadRecept()}"  
                         process="@this" >
        </p:remoteCommand>

        <script type="text/javascript">
            function openerByBtnCommitJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByCommit([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByDeleteJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByDelete([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByInvalidJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByInvalid([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByEditContentJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByEditContent([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByEditTagJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByEditTag([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByTraceJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByTrace([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByFavoriteJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByFavorite([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByTransJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByTrans([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByBtnReadReceptJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByReadRecept([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }


            function btnSaveColumnWith(obj) {
                var theadclone = obj + " .ui-datatable-scrollable-theadclone";
                var columnvalue = "";
                var headText = "";
                var widthText = "";
                if ($("#" + theadclone).length > 0) {
                    $("#" + obj + "_head th").each(function () {
                        if ($(this).css("display") !== 'none') {
                            if (columnvalue !== "") {
                                columnvalue = columnvalue + ",";
                            }
                            headText = $.trim($(this).text());
                            widthText = $(this).css("width").replace('px', '');
                            columnvalue = columnvalue + '{"name":"' + headText + '","width":"' + widthText + '"}';
                        }
                    });
                    saveColumnWith([{name: 'columnvalue', value: "[" + columnvalue + "]"}]);
                }
            }


        </script>

    </ui:define>

</ui:composition>
