<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
]>
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >
    <h:head>
        <h:outputStylesheet name="cytheme.css" library="css" />
    </h:head>
    <h:body>
        <ui:composition>
            <h:form>
            </h:form>
        </ui:composition>
    </h:body>
</html>
