<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    <h:head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <link rel="shortcut icon" type="image/x-icon" href="../img/chungyo.ico"/>
        <title>
            <ui:insert name="title">無標題</ui:insert>
        </title> 
        <style>
            * {
                /*margin: 0px;
                padding: 0px;*/
            }
            body{
                font: 70% Arial,Helvetica,Verdana,sans-serif;
                margin: 0px;
                padding: 6px 3px;
            }
            a img{ 
                border:none;
            }
            /* Track */
            ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
                -webkit-border-radius: 10px;
                border-radius: 10px;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                -webkit-border-radius: 10px;
                border-radius: 10px;
                background: rgba(203,204,204,1); 
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
            }
            ::-webkit-scrollbar-thumb:window-inactive {
                background: rgba(203,204,204,0.4); 
            }
            .ui-tabs-left>.ui-tabs-nav {
                width: 15%;
            }

            .ui-tabs-left>.ui-tabs-panels {
                float: left;
                width: 85%;
            }

            .ui-tabs .ui-tabs-panel { 
                padding: 0px;
            }

            .ui-panel .ui-panel-content {
                padding: 0.5em;
            }

            .ui-datatable th div.ui-dt-c,.ui-datatable .ui-datatable-data td div.ui-dt-c,.ui-datatable .ui-datatable-data-empty td div.ui-dt-c,.ui-datatable tfoot td div.ui-dt-c
            {
                padding: 4px;
            }

            .ui-toolbar,.ui-scrollpanel ,.ui-layout-unit-header ,.ui-tabs-nav{
                border-radius:4px;
            }
            .ui-datatable-header{
                border-radius : 4px 4px 0px 0px; 
            }
            .ui-paginator-bottom{
                border-radius : 0px 0px 4px 4px; 
            }
            .ui-state-default{
                border-radius:3px;
            }
            .ui-layout-resizer{
                border-radius : 0px 4px 4px 0px; 
            }
            .ui-layout-resizer .ui-state-default {
                border:none;
                background:transparent;
            }

            #form\:tabs {
                width: 99%;
            }

            #form\:tabs div {
                /*margin-bottom: 10px;*/
            }

            #form\:tabs div table td {
                padding: 5px;
            }

            /* 取消 layout 的邊框 */
            .ui-layout, .ui-layout-doc, .ui-layout-unit, .ui-layout-wrap, .ui-layout-bd, .ui-layout-hd, .ui-panelgrid tr, .ui-panelgrid td{
                border: none;
            }
            .ui-datatable .ui-datatable-footer {
                text-align:left;
            } 
            .ui-layout-north {
                z-index:20 !important;
                overflow:visible !important;
            }

            .ui-layout-north .ui-layout-unit-content {
                overflow:visible !important;
            }
            .ui-datalist-item {
                padding-right: 30px;
            }

            .DataTable2 table>thead>tr>th,.DataTable2 table>tbody,.DataTable2 table>tbody>tr,.DataTable2 table>tbody>tr>td {
                background-color : #fff;

            }

            a { text-decoration : none; }
            a:hover{ text-decoration : underline; }
            .colNowrap{
                white-space:nowrap;
            }
            .colNormal{
                white-space: normal!important;
            }
            .colPre{
                white-space: pre!important;
            }

            .alignCenter{
                float : none;
                text-align: center;
            }

            .alignRight{
                float:right;
                text-align: right;
            }

            .onlyAlignRight{
                text-align: right;
            }

            .customPandding td{
                padding: 20px 20px;
            }
            .disableColor{
                color: #CCC;
            }
            .width100{
                width: 100%;
            }

            .width30{
                width: 250%;
            }
            .width31{
                width: 150%;
                height:300px;
            }
            .marginTop10{
                margin-top: 10px;
            }
            .ui-datatable-hor-scroll .ui-datatable-tablewrapper,.scrolling-div .ui-datatable-tablewrapper {
                overflow: auto;
                width: 100%;
                padding-bottom: 5px;
            }

            .disable-scroll .ui-dialog-content {
                overflow: hidden !important;
            }

            .soBig{
                width:120px;
                height:64px;
                font-size:28px !important;
            }
            .dtFilterWidth{
                width: 70px !important;
            }
            .areaClass {
                display: block;
                border: 1px solid #CCC;
                padding: 5px;
                white-space: pre;
            }
            .areaClass a{
                text-decoration: underline;
                color: blue;
            }
            .ACC_TG .ui-panel-titlebar{
                background: #aed7a8;
                color: #000;
                font-weight: normal;
                border: none;
                padding: 0.5em 1em;
            }
            /* 內文顏色 */
            .ACC_TG .ui-widget-content, .ACC_TG .ui-widget-content a{
            }
            .ACC_BY .ui-panel-titlebar{
                background: #2e44a7;
                font-weight: normal;
                border: none;
                padding: 0.5em 1em;
            }
            .ACC_YT .ui-panel-titlebar{
                background: #a69b5b;
                color: #070c46;
                font-weight: normal;
                border: none;
                padding: 0.5em 1em;
            }
            /* 內文顏色 */
            .ACC_YT .ui-widget-content, .ACC_YT .ui-widget-content a{

            }
            .ACC_SYSTEM .ui-panel-titlebar{
                background: #ff99ff;
                font-weight: normal;
                border: none;
                padding: 0.5em 1em;
            }
            .defaultOverflow .ui-dialog-content{
                overflow: visible;
            }
            .redColor{
                color: red;
                margin-left: 10px;
            }
            .ui-panelgrid td, .ui-panelgrid tr
            {
                border-style: none !important;
                margin:0 !important;
                padding:6px !important;
            }
            .topAligned{
                vertical-align: top;
            }
            .ui-inplace{
                font-weight: bold;
                color: rgb(0, 0, 153);
            }
            .textBold{
                font-weight: bold;
            }
            .btnIcon{
                width: 30px; 
                height:30px; 
            }
            .btnIcon>.ui-icon{
                transform: scale(1.5,1.5);
            }
            .btnIcon>.fa{
                margin-top: -5px !important;
            }
            .btnAccPanelIcon{
                border:none;
                margin-top: 0px !important;
            }
            .btnAccPanelIcon>.ui-icon{
                border:none;
            }
            .btnAccPanelIcon>.fa{
                margin-left: 0px !important;
                background-color: rgba(0,0,0,0);
            }
            .treeIcon>.ui-tree-selectable>.ui-icon{
                transform: scale(1.5,1.5);
            }
            .widenTD{
                border-collapse: separate;
                border-spacing: 5px 10px;
            }
            .wrap{
                word-wrap: break-word; 
                word-break: normal;
            }
            .areaClass {
                display: block;
                white-space: pre;
                width: 400px;
                word-break: break-word;
            }
            .canEditColor{
                font-weight: bold;
                color: rgb(0, 0, 153);
            }
            .ui-datatable td,th{
                text-overflow: ellipsis;
            }
            .breakAll{
                word-break: break-all;
            }
            .autoSkip{
                white-space: nowrap;
                overflow:hidden;
                text-overflow:ellipsis;
            }
            .urgencyRow{
                background: #f2a7c3;
            }
            .urgencyRowAndUnRead{
                background: #f2a7c3;
                font-weight: bold;
                color: black;
            }
            .unRead{
                font-weight: bold;
                color: black;
            }
            .inactiveRow{
                background: #f2a7c3;
            }
            .reportTypeColor{
                color: blue;
            }
            /* 日期按鈕 */
            #dateBtn ul{
                padding: 0px;
                background: rgba(0, 0, 0, 0);
            }
            /* 日期按鈕外框 */
            #dateBtn ul li{
                border: 1px solid #999;
            }
            /* 日期外框 */
            #dateBtn {
                border:none;
            }
            /* p:tooltip 的寬度*/
            .tooltipWidth{
                max-width: 300px;
            }
            .ui-accordion .ui-accordion-header{
                margin-top:1px;
                margin-bottom:1px; 
                padding:.2em .2em .2em 2.0em
            }
            .ui-accordion .ui-accordion-content{
                padding: .5em 1.5em !important;
                position:static;
            }
            .datalist-noborder .ui-widget-content {
                border: none;
            }
            /*變更 disabled 中 opacity*/
            .opacity75 .ui-state-disabled{
                opacity: .75 !important;
            }

            /** 追蹤頁籤的css start*/
            .ui-tabs-nav>.ui-state-default{
                background: #76564a!important;
            }
            .ui-tabs-nav>.ui-state-default a{
                color: #edebe8!important;
            }
            .ui-tabs-nav>.ui-state-active{
                background: #edebe8!important;
                color: #000000!important;
            }
            .ui-tabs-nav>.ui-state-active a{
                color: #000000!important;
                text-decoration: none!important;
            }
            .ui-tabs-nav> li.ui-state-active a{
                background: #edebe8!important;
                color: #000000!important;
            }
            .ui-accordion >.ui-state-default{
                background: #76564a!important;
            }
            .ui-accordion> .ui-state-default{
                color: #edebe8!important;
            }
            .ui-accordion >.ui-state-active{
                background: #edebe8!important;
                color: #000000!important;
            }
            .ui-accordion >.ui-state-active a{
                color: #000000!important;
            }
            .blueAndUnderline {
                color: blue !important;
                text-decoration: underline !important;
            }
            .req_template_grid_style > .ui-panelgrid td,  .req_template_grid_style > .ui-panelgrid tr
            {
                border-style: none !important;
                margin:0 !important;
                padding:1px 6px 0px 6px !important;
            }
            .assign_send_row_clz{
                background: gainsboro;
            }
            .assign_send_row_sub_clz{
                font-weight: bold;
            }            
            /** 追蹤頁籤的css end*/
        </style>
        <ui:insert name="customCSS" />
        <script>
            //<![CDATA[
            //將	Wizard元件導回第一個
            function resetWizard(wiz) {
                wiz.loadStep(wiz.cfg.steps[0], true);
            }
            function handleLoginRequest(xhr, status, args) {
                if (!args.validationFailed) {
                    dlgAddProgramClass.hide();
                }
            }
            //驗證通過才關閉Dialog
            function closeDialog(xhr, status, args, dlg) {
                if (!args.validationFailed) {
                    dlg.hide();
                }
            }
            //清除 primefaces datatable filter 
            function cleanFilter(datatableWidgetVar) {
                datatableWidgetVar.clearFilters();
            }
            function handleComplete(xhr, status, args) {
                if (args.validationFailed) {
                    PrimeFaces.debug("Validation Failed");
                } else {
                    PrimeFaces.debug("Save:" + args.saved);
                    PrimeFaces.debug("FirstName: " + args.user.firstname + ", Lastname: " + args.user.lastname);
                }
            }
            PrimeFaces.locales['zh_TW'] = {
                closeText: '關閉',
                prevText: '上個月',
                nextText: '下個月',
                currentText: '今天',
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                monthNamesShort: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                dayNames: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
                dayNamesShort: ['日', '一', '二', '三', '四', '五', '六'],
                dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
                weekHeader: '周',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: true,
                yearSuffix: '', // 年
                timeOnlyTitle: '僅時間',
                timeText: '時間',
                hourText: '時',
                minuteText: '分',
                secondText: '秒',
                ampm: false,
                month: '月',
                week: '周',
                day: '日',
                allDayText: '全天'
            };

            //凍結窗格
            function fixedCol(tableId) {
                var oTable2 = $('#' + tableId).find('table').dataTable({
                    "sScrollX": "600", //Scroll
                    "sScrollY": "550",
                    "bAutoWidth": false,
                    "bFilter": false,
                    "bScrollCollapse": true,
                    "bPaginate": false,
                    "bSort": false,
                    "bInfo": false
                });

                var oFC = new FixedColumns(oTable2, {
                    "iLeftColumns": 1, //Freezed first for columns
                    "sHeightMatch": "auto"
                });
            }
            //選取表格變色
            function selectedColor(tid, split) {
                $("#" + tid + " td").click(function () {
                    $("#" + tid + " td").removeClass("ui-state-highlight");
                    var col = $(this).parent().children().index($(this));
                    if (col < split)
                        $(this).parent().children("td:lt(" + split + ")").addClass("ui-state-highlight");
                    else
                        $(this).parent().children("td" + (split != 0 ? ":gt(" + (split - 1) + ")" : "")).addClass("ui-state-highlight");
                });
            }
            function validateNum(e, limit) {
                var pattern = "\\d+[.]?\\d{0," + limit + "}";
                var fullPattern = "^" + pattern + "$";//加上頭尾符號
                var regexp = new RegExp(fullPattern);
                var rep = e.value.replace(/\,/g, "");//避免有逗號被清空
                if (!regexp.test(rep)) {
                    regexp = new RegExp(pattern);
                    e.value = regexp.exec(rep);
                }
                return false;
            }
            var win;
            function openInNewTab(url) {
                win = window.open(url, '_blank');
            }
            function replaceUrl(url) {
                win.location = url;
            }
            $(function () {
                //除了input text外，停用Backsapce，防止不慎回前一頁
                $(document).keydown(function (e) {
                    if (e.which == 8 && !(e.target.type == "text" || e.target.type == "textarea" || e.target.type == "password")) {
                        e.preventDefault();
                    }
                    //除了textarea外，停用ENTER，以防觸發button
                    if (e.which == 13 && e.target.type != "textarea") {
                        e.preventDefault();
                    }
                });
            });
            //開啟primefaces元件
            function showPF(obj) {
                PF(obj).show();
            }
            //隱藏primefaces元件
            function hidePF(obj) {
                PF(obj).hide();
            }
            //editor元件存入內容
            function saveHTML(obj) {
                PF(obj).saveHTML();
            }
            //focus primefaces元件
            function focusPF(obj) {
                PF(obj).focus();
            }
            function checkCodeForInt(obj) {
                if (obj.value != "") {
                    if (!/^\d+$/.test(obj.value)) {
                        checkErrCode();
                    }
                }
            }
            //選取表格變色
            function selectedMenu(tid) {
                $("#" + tid + " li").click(function () {
                    $("#" + tid + " li").children().removeClass("ui-state-highlight");
                    $(this).children().addClass("ui-state-highlight");
                });
            }
            function removeSticky() {
                $("body").children("div").each(function () {
                    if ($(this).hasClass("ui-datatable-sticky")) {
                        $(this).remove();
                    }
                });
            }
            function moveScrollTop() {
                $(window).scrollTop("0");
            }
            function moveScrollBottom() {
                $("html, body").animate({scrollTop: $(document).height()}, 500);
            }
            jQuery(window).load(function () {
                reEditor();
            });
            function reEditor() {
                $("form").find(".ui-editor").each(function () {
                    var widthLenght = $(this).width() - 30;
                    var heightLenght = $(this).height() - 35;
                    $(this).find('iframe').contents().find('body').css({
                        'word-wrap': 'break-word',
                        'display': 'block',
                       'white-space': 'pre-wrap',
                        'height': heightLenght,
                        'width': widthLenght,
                        'word-break': 'break-word',
                    });
                });
            }
            //判斷為iframe
            function checkIframe() {
                if (self != top) {
                    return true;
                }
                return false;
            }
            //判斷是否按下Enter按鈕
            function checkEnter(event) {
                if (event.keyCode == 13) {
                    return true;
                }
                return false;
            }
            //取得元件
            function getElementId(obj) {
                return $(document.getElementById(obj));
            }
            //取得元件
            function getElementIdAndCssName(obj, cssName) {
                return $(document.getElementById(obj).getElementsByClassName(cssName));
            }
            //判斷元件是否存在
            function checkElementId(obj) {
                if (getElementId(obj).length > 0) {
                    return true;
                }
                return false;
            }
            //顯示剩餘時間
            function countDown(timeStr) {
                $('#countDownDisplay').countdown(timeStr, function (event) {
                    $(this).html(event.strftime('可編輯剩餘時間： %M:%S'));
                });
            }
            function getUrlParameter(sParam) {
			
			
                var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                        sURLVariables = sPageURL.split('&'),
                        sParameterName,
                        i;

                for (i = 0; i < sURLVariables.length; i++) {
                    sParameterName = sURLVariables[i].split('=');

                    if (sParameterName[0] === sParam) {
                        return sParameterName[1] === undefined ? true : sParameterName[1];
                    }
                }
            }

            /**
             * 開啟所有頁籤(以 p:tabView id="viewPanelBottomInfoTabId" 為基準)
             * 
             * @param widgetVar p:accordionPanel 的 widgetVar
             * @param widgetId p:accordionPanel 的 id
             */
            function openAllTab(widgetVar, widgetId) {
                $('#viewPanelBottomInfoTabId\\:' + widgetId).children(".ui-accordion-header").each(function (index) {
                    PF(widgetVar).select(index);
                });
            }

            /**
             * 關閉所有頁籤(以 p:tabView id="viewPanelBottomInfoTabId" 為基準)
             * 
             * @param widgetVar p:accordionPanel 的 widgetVar
             * @param widgetId p:accordionPanel 的 id
             */
            function closeAllTab(widgetVar, widgetId) {
                $('#viewPanelBottomInfoTabId\\:' + widgetId).children(".ui-accordion-header").each(function (index) {
                    PF(widgetVar).unselect(index);
                });
            }

            //重新搜尋的空方法，主要讓各報表覆寫
            var reSearch = function () {
                console.log('no reSearch');
            }
            //展開
            function expendWidget(widgetVar, size) {
                for (var i = 0; i < size; i++) {
                    PF(widgetVar).select(i);
                }
            }
            function foldWidget(widgetVar, size) {
                for (var i = 0; i < size; i++) {
                    PF(widgetVar).unselect(i);
                }
            }
            // p:accordionPanel use 
            function accPanelSelectTab(widgetVar, idx) {
                PF(widgetVar).select(idx);
                if (idx !== 0) {
                    for (var i = 0; i < idx; i++) {
                        PF(widgetVar).unselect(i);
                    }
                }
            }
            function bottomTabCloseAndSel(widgetVar, idx, size) {
                PF(widgetVar).select(idx);
                for (var i = 0; i < size; i++) {
                    if (i !== idx)
                        PF(widgetVar).unselect(i);
                }
            }
            //]]>
        </script>
        <script type="text/javascript" charset="utf-8" src="../js/jquery.dataTables.js"></script>
        <script type="text/javascript" charset="utf-8" src="../js/FixedColumns.js"></script>
        <script type="text/javascript" charset="utf-8" src="../js/jquery.timer.js"></script>
        <script type="text/javascript" charset="utf-8" src="../js/demo.js"></script>
        <script type="text/javascript" charset="utf-8" src="../js/jquery.countdown.js"></script>
        <h:outputStylesheet library="css" name="cytheme.css"/> 
    </h:head>
    <h:body>
        <!-- 
        <div id="paramTitle">
                <h1>組織管理平台</h1>
                <span>登入者：［］</span>
        </div>
        -->
        <ui:insert name="__form"/>

        <ui:insert name="contentFull"></ui:insert>
        <ui:insert name="_script"></ui:insert>
    </h:body>
</html>
