<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="../template/template.xhtml">

    <ui:define name="__form">

        <h:form id="formTemplate" prependId="false" onkeypress="if (event.keyCode == 13) {
                    return false;
                }">
            <ui:include src="session_time_out.xhtml" />
            <ui:insert name="content" >
                <ui:include src="blankContect.xhtml" />
            </ui:insert>

            <p:dialog header="執行中" widgetVar="dlgLoading" modal="true" closable="false">
                <h:graphicImage library="images" name="ajax-loader.gif" title="執行中" />
            </p:dialog>

        </h:form>
        <script type="text/javascript">
            jQuery(window).load(function () {
                reEditor();
            });
            function reEditor() {
                $("form").find(".ui-editor").each(function () {
                    var widthLenght = $(this).width() - 30;
                    var heightLenght = $(this).height() - 35;
                    $(this).find('iframe').contents().find('body').css({
                        'word-wrap': 'break-word',
                        'display': 'block',
                        'white-space': 'pre-wrap',
                        'height': heightLenght,
                        'width': widthLenght,
                        'word-break': 'break-word',
                    });
                });
            }
            
            //判斷是否按下Enter按鈕，如果是則觸發function
            function executeScriptByEnter(event, scriptName) {
                if (checkEnter(event)) {
                    var jsMethod = new Function(scriptName);
                    jsMethod();
                }
            }
            
             //判斷是否按下Enter按鈕
            function checkEnter(event) {
                if (event.keyCode === 13) {
                    return true;
                }
                return false;
            }

            //選取dataTable row
            function selectRow(obj, rowIndex) {
                if (checkWidgets(obj)) {
                    PF(obj).unselectAllRows();
                    PF(obj).selectRow(rowIndex, false);
                }
            }
            //檢查widgets是否存在
            function checkWidgets(obj) {
                if (PrimeFaces.widgets[obj]) {
                    return true;
                }
                return false;
            }

            var winMap = {};
            //開啟視窗(以防連續開啟)
            function openWinByStore(key) {
                var tabWin = window.open('', '_blank');
                winMap[key] = tabWin;
            }
            //替換URl(以防連續開啟)
            function replaceUrlByStore(key, url) {
                var tabWin = winMap[key];
                tabWin.location = url;
                delete winMap[key];
            }


            function showLoad() {
                PF('dlgLoading').show();
            }

            function hideLoad() {
                PF('dlgLoading').hide();
            }
        </script>
    </ui:define>

</ui:composition>
