<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>錯誤</title>
        <style>
            body{
                background-image: url("../img/error.gif");
            }
        </style>
        <h:outputStylesheet library="css" name="error.css"/>
    </h:head>
    <h:body>
    </h:body>
</html>

