<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/templateProject.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:metadata>
        <f:event type="preRenderView" listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>
    <ui:define name="title">
        <h:outputText value="追蹤" />
    </ui:define>

    <ui:define name="content">
        <p:remoteCommand name="doSearchData"  actionListener="#{search4Bean.doSearch()}" update="toggleSearchBodyPanel #{search4Bean.dataTableID}"
                         process="@this headerTitle"
                         onstart="showLoad();" oncomplete="hideLoad();" />
        <ui:include src="../worp/workReportTraceComponents.xhtml">
            <ui:param name="workReportTraceComponents" value="#{search4Bean.traceComponent}" />
        </ui:include>
        <ui:include src="../worp/workReportTransTableComponents.xhtml">
            <ui:param name="workReportTraceComponents" value="#{search4Bean.transTableComponent}" />
            <ui:param name="workReportTransComponentsHeight" value="width:1000px;height:600px;" />
            <ui:param name="workReportTransDepComponentsHeight" value="height:500px;" />
            <ui:param name="workReportTransPersonComponentsHeight" value="height:500px;" />
        </ui:include>
        <p:outputPanel id="allPanel" >
            <p:panel id="headerTitle"  style="border:none" rendered="#{!search4Bean.showFrame}" >
                <p:outputPanel id="headerPanel"  >
                    <p:outputPanel style="margin-left:5px;">
                        <h:outputText value="類型 ： 追蹤" styleClass="reportTypeColor" />
                    </p:outputPanel>
                    <p:outputPanel >
                        <p:panelGrid>
                            <p:row>
                                <p:column colspan="1">
                                    <h:outputText value="標籤： "/>
                                </p:column>
                                <p:column colspan="1">
                                    <p:selectOneMenu  value="#{search4Bean.workReportSearchHeaderComponent.selectTag}"  style="width: 80px;">
                                        <f:selectItem itemLabel="請選擇" itemValue=""/>
                                        <f:selectItems value="#{workProjectTagItemBean.workProjectTagItems}"   />
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column colspan="1">
                                    <h:outputText value="狀態： "/>
                                </p:column>
                                <p:column colspan="1">
                                    <p:selectOneMenu  value="#{search4Bean.workReportSearchHeaderComponent.selectStatus}" style="width: 80px;" >
                                        <f:selectItem itemLabel="全部" itemValue=""/>
                                        <f:selectItems value="#{workRrojectStatusItemBean.workSearchStatusItems}"/>
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column colspan="1">
                                    <h:outputText value="追蹤狀態： "/>
                                </p:column>
                                <p:column colspan="1">
                                    <p:selectOneMenu value="#{search4Bean.workReportSearchHeaderComponent.selectTraceStatus}" style="width: 80px;" >
                                        <f:selectItems value="#{workReportTraceStatusItemBean.workReportTraceStatusItems}"/>
                                    </p:selectOneMenu>
                                </p:column>
                                <p:column colspan="1">
                                    <p:panelGrid columns="2">
                                        <p:selectBooleanCheckbox  value="#{search4Bean.emptyNoticeDate}" />
                                        <p:outputLabel value="顯示追蹤日期為空的資料"/>
                                    </p:panelGrid>
                                </p:column>
                                <p:column colspan="1"/>
                            </p:row>
                            <p:row>
                                <p:column colspan="1">
                                    <h:outputText value="主題： " />
                                </p:column>
                                <p:column colspan="1">
                                    <p:inputText value="#{search4Bean.workReportSearchHeaderComponent.title}"  onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
                                </p:column>
                                <p:column colspan="1">
                                    <h:outputText value="內容： "/>
                                </p:column>
                                <p:column colspan="1">
                                    <p:inputText value="#{search4Bean.workReportSearchHeaderComponent.content}"  onkeydown="executeScriptByEnter(event, 'doSearchData();');"/>
                                </p:column>
                                <p:column colspan="1">
                                    <h:outputText value="追蹤區間： "/>
                                </p:column>
                                <p:column colspan="2">
                                    <p:outputPanel>
                                        <p:calendar  value="#{search4Bean.workReportSearchHeaderComponent.traceDateStart}"
                                                     navigator="true" mode="popup" 
                                                     showOn="button" pattern="yyyy/MM/dd"/>
                                        <p:outputLabel value="～"/>
                                        <p:calendar value="#{search4Bean.workReportSearchHeaderComponent.traceDateEnd}"
                                                    navigator="true" mode="popup" 
                                                    showOn="button" pattern="yyyy/MM/dd"/>
                                    </p:outputPanel>
                                </p:column>
                                <p:column colspan="1"/>
                            </p:row>
                            <p:row>
                                <p:column colspan="1">
                                    <h:outputText value="模糊搜尋： "/>
                                </p:column>
                                <p:column colspan="1">
                                    <p:inputText  style="width:153px;" value="#{search4Bean.workReportSearchHeaderComponent.allSearchText}"  onkeydown="executeScriptByEnter(event, 'doSearchData();');"
                                                  />
                                </p:column>
                                <p:column colspan="2">
                                </p:column>
                                <p:column colspan="1">
                                    <h:outputText value="追蹤日期： "/>
                                </p:column>
                                <p:column colspan="2">
                                    <p:outputPanel>
                                        <p:calendar   value="#{search4Bean.workReportSearchHeaderComponent.traceNotifyDateStart}"
                                                      navigator="true" mode="popup" 
                                                      showOn="button" pattern="yyyy/MM/dd"/>
                                        <p:outputLabel value="～"/>
                                        <p:calendar  value="#{search4Bean.workReportSearchHeaderComponent.traceNotifyDateEnd}"
                                                     navigator="true" mode="popup" 
                                                     showOn="button" pattern="yyyy/MM/dd"/>
                                    </p:outputPanel>
                                </p:column>
                                <p:column colspan="1">
                                    <p:panelGrid columns="2" style="float:right;margin-top: 4px;">
                                        <p:commandButton value="搜尋"  
                                                         onclick="doSearchData();" />
                                        <p:commandButton value="清除"   
                                                         onclick="showLoad();" 
                                                         actionListener="#{search4Bean.clear()}"
                                                         update="headerPanel toggleSearchBodyPanel"
                                                         oncomplete="hideLoad();" 
                                                         process="@this"/>
                                    </p:panelGrid>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:outputPanel>

                </p:outputPanel>
                <!--查詢表身上的按鈕-->
                <p:panelGrid columns="5" id="toggleSearchBodyPanel">
                    <p:commandButton value="追蹤報表匯出"  onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)" actionListener="#{search4Bean.hideColumnContent()}" ajax="false" >
                        <p:dataExporter type="xls" target="#{search4Bean.dataTableID}" fileName="WorkReportTrace"
                                        postProcessor="#{search4Bean.exportExcel}"/>       
                    </p:commandButton>
                    <p:commandButton value="取消追蹤" update="toggleSearchBodyPanel" disabled="#{!search4Bean.showCancelAndOverTraceBtn}" actionListener="#{search4Bean.cancelTrace()}"  onclick="showLoad();" oncomplete="hideLoad();" process="@this">
                    </p:commandButton>
                    <p:commandButton value="已完成"  update="toggleSearchBodyPanel" disabled="#{!search4Bean.showCancelAndOverTraceBtn}" actionListener="#{search4Bean.overTrace()}"  onclick="showLoad();" oncomplete="hideLoad();" process="@this">
                    </p:commandButton>
                </p:panelGrid>


            </p:panel>
            <!--查詢表身-->
            <p:dataTable id="#{search4Bean.dataTableID}"  rendered="#{!search4Bean.showFrame}"
                         widgetVar="#{search4Bean.dataTableWv}"
                         value="#{search4Bean.traceReportSearchVO}" var="workTraces" rowKey="#{workTraces.tracesid}" rowIndexVar="index"
                         scrollHeight="350" scrollable="true" paginator="true" rows="#{search4Bean.searchColumnVO.pageCount}"
                         draggableColumns="true" 
                         resizableColumns="true"
                         resizeMode="expand" selectionMode="single" selection="#{search4Bean.straceReportSearchVO}"> 
                <p:ajax event="rowSelect" 
                        listener="#{search4Bean.selectCell()}"      
                        process="#{search4Bean.dataTableID}" 
                        update="toggleSearchBodyPanel #{search4Bean.dataTableID}" />
                <p:ajax event="colResize" 
                        process="@this" 
                        update="widthSaveBtn"
                        listener="#{search4Bean.customColumn.doResizeColumn()}"
                        />
                <f:facet name="header">
                    <p:outputPanel autoUpdate="true">
                        <p:commandButton value="欄位"
                                         actionListener="#{search4Bean.openCustomColumn()}"
                                         onclick="showLoad();" oncomplete="hideLoad();"
                                         process="@this dlgDefineField_view"
                                         style="float:right">
                        </p:commandButton>
                        <p:commandButton value="寬度儲存" id="widthSaveBtn"
                                         rendered="#{search4Bean.customColumn.showResizeColumn}"
                                         onstart="btnSaveColumnWith('#{search4Bean.dataTableID}');"
                                         process="@this"
                                         style="float:right">
                        </p:commandButton>
                    </p:outputPanel>
                </f:facet>

                <p:column headerText="#{search4Bean.searchColumnVO.index.name}"  style="#{search4Bean.searchColumnVO.index.width}" rendered="#{search4Bean.searchColumnVO.index.show}" >
                    <h:outputText value="#{index+1}"/>
                </p:column>
                <p:column headerText="#{search4Bean.searchColumnVO.fowardDep.name}"  exportable="false" rendered="#{search4Bean.searchColumnVO.fowardDep.show}"
                          style="#{search4Bean.searchColumnVO.fowardDep.width}">
                    <p:commandLink value="#{workTraces.tofowardDep ?'★':'　'}"
                                   actionListener="#{search4Bean.clickTransDep(workTraces.tracesid)}"
                                   process="@this"
                                   onclick="showLoad();"
                                   oncomplete="hideLoad();" 
                                   style="color: red" >
                    </p:commandLink>

                </p:column>
                <p:column headerText="#{search4Bean.searchColumnVO.fowardMember.name}" exportable="false" rendered="#{search4Bean.searchColumnVO.fowardMember.show}"
                          style="#{search4Bean.searchColumnVO.fowardMember.width}">
                    <p:commandLink value="#{workTraces.tofowardMember ?'★':'　'}"
                                   actionListener="#{search4Bean.clickTransPerson(workTraces.tracesid)}"
                                   process="@this"
                                   onclick="showLoad();"
                                   oncomplete="hideLoad();reEditor();" 
                                   style="color: red" >
                    </p:commandLink>
                </p:column>

                <p:column headerText="#{search4Bean.searchColumnVO.trace.name}" exportable="false" rendered="#{search4Bean.searchColumnVO.trace.show}"
                          style="#{search4Bean.searchColumnVO.trace.width}">
                    <p:commandLink value="#{workTraces.totrace ?'★':'　'}"
                                   actionListener="#{search4Bean.clickTrace(workTraces.tracesid)}"
                                   process="@this"
                                   onclick="showLoad();"
                                   oncomplete="hideLoad();reEditor();" 
                                   style="color: red" >
                    </p:commandLink>
                </p:column>

                <p:column headerText="#{search4Bean.searchColumnVO.traceType.name}" sortBy="#{workTraces.traceType_name}" rendered="#{search4Bean.searchColumnVO.traceType.show}"
                          style="#{search4Bean.searchColumnVO.traceType.width}">
                    <h:outputText value="#{workTraces.traceType_name}"/>
                </p:column>

                <p:column headerText="#{search4Bean.searchColumnVO.tag.name}" sortBy="#{workTraces.tag_name}" rendered="#{search4Bean.searchColumnVO.tag.show}"
                          style="#{search4Bean.searchColumnVO.tag.width}">
                    <h:outputText value="#{workTraces.tag_name}"/>
                </p:column>

                <p:column headerText="#{search4Bean.searchColumnVO.traceNotifyDate.name}" sortBy="#{workTraces.traceNotifyDate}" rendered="#{search4Bean.searchColumnVO.traceNotifyDate.show}"
                          style="#{search4Bean.searchColumnVO.traceNotifyDate.width}">
                    <h:outputText value="#{workTraces.traceNotifyDate}" />
                </p:column>

                <p:column headerText="#{search4Bean.searchColumnVO.traceCreateUser.name}" sortBy="#{workTraces.trace_create_usr_name}" rendered="#{search4Bean.searchColumnVO.traceCreateUser.show}"
                          style="#{search4Bean.searchColumnVO.traceCreateUser.width}">
                    <h:outputText value="#{workTraces.trace_create_usr_name}"/>
                </p:column>

                <p:column headerText="#{search4Bean.searchColumnVO.traceStatus.name}" sortBy="#{workTraces.traceStatus_name}" rendered="#{search4Bean.searchColumnVO.traceStatus.show}"
                          style="#{search4Bean.searchColumnVO.traceStatus.width}"
                          >
                    <h:outputText value="#{workTraces.traceStatus_name}"/>
                </p:column>

                <p:column headerText="#{search4Bean.searchColumnVO.traceMemo.name}" sortBy="#{workTraces.trace_memo}" rendered="#{search4Bean.searchColumnVO.traceMemo.show}"
                          style="#{search4Bean.searchColumnVO.traceMemo.width}"
                          >
                    <p:commandButton icon="ui-icon-search" 
                                     rendered="#{search4Bean.hasDisplay}"
                                     onclick="showLoad();"
                                     oncomplete="hideLoad();reEditor();" 
                                     actionListener="#{search4Bean.clickTraceNote(workTraces.tracesid)}"
                                     process="@this">
                    </p:commandButton>
                    <p:outputLabel value="#{workTraces.trace_memo}"/>
                    <p:tooltip for="@previous" value="#{workTraces.trace_memo_css}" 
                               trackMouse="true" escape="false"
                               rendered="#{search4Bean.hasDisplay}" styleClass="tooltipWidth"/>
                </p:column>

                <p:column headerText="#{search4Bean.searchColumnVO.theme.name}" sortBy="#{workTraces.theme}" rendered="#{search4Bean.searchColumnVO.theme.show}">

                    <p:commandButton icon="fa fa-search" rendered="#{search4Bean.hasDisplay}" 
                                     onclick="openWinByStore('#{index+1}-#{workTraces.no}')" 
                                     oncomplete="replaceUrlByStore('#{index+1}-#{workTraces.no}','../worp/worp_full.xhtml?wrcId=#{workTraces.wr_Id}')"
                                     actionListener="#{search4Bean.btnOpenUrl(workTraces.tracesid)}"
                                     process="@this"/>
                    <p:commandLink id="theme" value="#{workTraces.theme}" styleClass="blueAndUnderline"
                                   process="@this"
                                   onclick="showLoad();" oncomplete="hideLoad();"
                                   actionListener="#{search4Bean.btnOpenFrame(workTraces.tracesid)}" 
                                   update=":formTemplate:allPanel :formTemplate:iframePanel" 
                                   />
                    <p:tooltip for="theme" value="#{workTraces.theme}" trackMouse="true" escape="false"  rendered="#{search4Bean.hasDisplay}" 
                               />
                </p:column>


                <p:column headerText="#{search4Bean.searchColumnVO.modifyTime.name}" sortBy="#{workTraces.update_dt_time}" rendered="#{search4Bean.searchColumnVO.modifyTime.show}"
                          style="#{search4Bean.searchColumnVO.modifyTime.width}">
                    <h:outputText value="#{workTraces.update_dt_time}"/>
                </p:column>

                <p:column headerText="#{search4Bean.searchColumnVO.traceCreateDate.name}" sortBy="#{workTraces.trace_create_time}" rendered="#{search4Bean.searchColumnVO.traceCreateDate.show}"
                          style="#{search4Bean.searchColumnVO.traceCreateDate.width}">
                    <h:outputText value="#{workTraces.trace_create_time}"/>
                </p:column>

                <p:column headerText="#{search4Bean.searchColumnVO.readed.name}" sortBy="#{workTraces.readStatus}" rendered="#{search4Bean.searchColumnVO.readed.show}"
                          style="#{search4Bean.searchColumnVO.readed.width}">
                    <h:outputText value="#{workTraces.readStatus}"  style="#{workTraces.readStatusColor} #{workTraces.readStatusTextBold}" />
                </p:column>
            </p:dataTable>
        </p:outputPanel>

        <p:remoteCommand name="openerByBtnUp" 
                         actionListener="#{search4Bean.openerByBtnUp()}"
                         process="@this " >
        </p:remoteCommand>

        <p:remoteCommand name="closeIframe" 
                         actionListener="#{search4Bean.closeIframe()}" update=":formTemplate:allPanel :formTemplate:iframePanel"
                         process="@this " >
        </p:remoteCommand>

        <p:remoteCommand name="openerByBtnDown" 
                         actionListener="#{search4Bean.openerByBtnDown()}"
                         process="@this " >
        </p:remoteCommand>

        <p:confirmDialog id="confirmDlgTemplate"  widgetVar="confirmDlgTemplate" >
            <f:facet name="message">
                <h:outputText value="#{search4Bean.errorMessage}" escape="false"/>
            </f:facet>
            <p:commandButton value="確認" type="button" onclick="PF('confirmDlgTemplate').hide()"/>
        </p:confirmDialog>
        <p:dialog header="個人化顯示設定" widgetVar="#{search4Bean.customColumn.dialogWar}" modal="true" position="right top">
            <p:outputPanel id="dlgDefineField_view"> 
                <cp:customColumn  model="#{search4Bean.customColumn}"  >

                </cp:customColumn> 
            </p:outputPanel>
        </p:dialog>

        <!--追蹤事項-->
        <p:dialog id="dlgTraceAction_mome"
                  widgetVar="dlgTraceAction_mome" 
                  header="追蹤事項" 
                  position="left top"
                  modal="true">
            <p:outputPanel id="dlgTraceAction_mome_view" 
                           >
                <p:panelGrid  columns="2">
                    <p:outputLabel value="工作報告主題："/>
                    <p:outputLabel value="#{search4Bean.editTraceNoteVO.title}" 
                                   style="white-space: normal; width: 600px;"
                                   escape="false"/>

                    <p:outputLabel value="追蹤日期："/>
                    <p:calendar value="#{search4Bean.editTraceNoteVO.noticeDate}" 
                                pattern="yyyy/MM/dd"
                                navigator="true" 
                                mode="popup" 
                                showOn="button" >
                    </p:calendar>

                    <p:outputLabel value="追蹤事項："/>
                    <p:editor widgetVar="dlgTraceAction_mome_view_wvMome" 
                              id="dlgTraceAction_mome_view_wvMome_id"
                              converter="#{editorConverter}"
                              value="#{search4Bean.editTraceNoteVO.memo}"
                              controls="font size bold italic underline color highlight"
                              height="150"
                              style="width: 600px; " >
                    </p:editor>
                </p:panelGrid>
                <p:panelGrid  columns="2">
                    <p:commandButton value="確定" 
                                     actionListener="#{search4Bean.updateTraceNote()}"
                                     onclick="showLoad();
                                             saveHTML('dlgTraceAction_mome_view_wvMome');" 
                                     oncomplete="hideLoad();"
                                     process="@this dlgTraceAction_mome_view">
                    </p:commandButton>
                    <p:commandButton value="取消" 
                                     onclick="PF('dlgTraceAction_mome').hide();" 
                                     process="@this"/>
                </p:panelGrid>   
            </p:outputPanel>
        </p:dialog>

        <p:outputPanel id="iframePanel" >
            <p:outputPanel id="frameContentPanel" rendered="#{search4Bean.showFrame}" >
                <iframe id="test"  
                        name="tetst" 
                        frameborder="0"
                        src="#{search4Bean.iframeUrl}"
                        width="100%" 
                        />
                <script type="text/javascript">
                    jQuery(document).ready(function () {
                        $("#test").css('height', $(window).height() - 20);
                    });
                </script>
            </p:outputPanel>

        </p:outputPanel>



        <p:remoteCommand name="saveColumnWith" 
                         onstart="showLoad();" oncomplete="hideLoad();"
                         actionListener="#{search4Bean.customColumn.saveColumnWith()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByCommit" 
                         actionListener="#{search4Bean.openerByCommit()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByDelete" 
                         actionListener="#{search4Bean.openerByDelete()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByInvalid" 
                         actionListener="#{search4Bean.openerByInvalid()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByEditContent" 
                         actionListener="#{search4Bean.openerByEditContent()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByEditTag" 
                         actionListener="#{search4Bean.openerByEditTag()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByTrace" 
                         actionListener="#{search4Bean.openerByTrace()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByFavorite" 
                         actionListener="#{search4Bean.openerByFavorite()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByTrans" 
                         actionListener="#{search4Bean.openerByTrans()}"  
                         process="@this" >
        </p:remoteCommand>
        <p:remoteCommand name="openerByReadRecept" 
                         actionListener="#{search4Bean.openerByReadRecept()}"  
                         process="@this" >
        </p:remoteCommand>

        <script type="text/javascript">
            function openerByBtnCommitJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByCommit([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByDeleteJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByDelete([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByInvalidJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByInvalid([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByEditContentJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByEditContent([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByEditTagJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByEditTag([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByTraceJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByTrace([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByFavoriteJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByFavorite([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByTransJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByTrans([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }


            function openerByBtnReadReceptJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByReadRecept([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function btnSaveColumnWith(obj) {
                var theadclone = obj + " .ui-datatable-scrollable-theadclone";
                var columnvalue = "";
                var headText = "";
                var widthText = "";
                if ($("#" + theadclone).length > 0) {
                    $("#" + obj + "_head th").each(function () {
                        if ($(this).css("display") !== 'none') {
                            if (columnvalue !== "") {
                                columnvalue = columnvalue + ",";
                            }
                            headText = $.trim($(this).text());
                            widthText = $(this).css("width").replace('px', '');
                            columnvalue = columnvalue + '{"name":"' + headText + '","width":"' + widthText + '"}';
                        }
                    });
                    saveColumnWith([{name: 'columnvalue', value: "[" + columnvalue + "]"}]);
                }
            }


        </script>

    </ui:define>

</ui:composition>
