<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/templateProject.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:metadata>
        <f:event type="preRenderView" listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>
    <ui:define name="title">
        <h:outputText value="部門草稿搜尋" />
    </ui:define>

    <ui:define name="content">
        <p:remoteCommand name="doSearchData" actionListener="#{search3Bean.doSearch()}" update="#{search3Bean.dataTableID}"
                         onstart="showLoad();" oncomplete="hideLoad();"
                         process="@this headerTitle" />

        <p:outputPanel id="allPanel" >
            <p:panel id="headerTitle"  style="border:none" rendered="#{!search3Bean.showFrame}">
                <p:outputPanel id="headerPanel"  >
                    <p:outputPanel style="margin-left:5px;">
                        <h:outputText value="類型 ： 部門草稿查詢" styleClass="reportTypeColor" />
                    </p:outputPanel>
                </p:outputPanel>
                <p:outputPanel style="overflow: hidden;">
                    <p:panelGrid columns="14">
                        <h:outputText value="標籤 ： "/>
                        <p:selectOneMenu value="#{search3Bean.workReportSearchHeaderComponent.selectTag}" style="width: 80px;" disabled="#{!search3Bean.canKeyIn}">
                            <f:selectItem itemLabel="請選擇" itemValue=""/>
                            <f:selectItems value="#{workProjectTagItemBean.workProjectTagItems}"   />
                        </p:selectOneMenu>
                        <h:outputText value="主題 ： "/>
                        <p:inputText value="#{search3Bean.workReportSearchHeaderComponent.title}" onkeydown="executeScriptByEnter(event, 'doSearchData();');" disabled="#{!search3Bean.canKeyIn}"/>
                        <h:outputText value="內容 ： "/>
                        <p:inputText value="#{search3Bean.workReportSearchHeaderComponent.content}" onkeydown="executeScriptByEnter(event, 'doSearchData();');" disabled="#{!search3Bean.canKeyIn}"/>
                        <h:outputText value="建立人員 ： "/>
                        <p:inputText value="#{search3Bean.workReportSearchHeaderComponent.personName}" onkeydown="executeScriptByEnter(event, 'doSearchData();');" disabled="#{!search3Bean.canKeyIn}"/>
                        <h:outputText value="草稿日期 ： "/> 
                        <p:calendar value="#{search3Bean.workReportSearchHeaderComponent.createTime}"
                                    navigator="true" mode="popup" disabled="#{!search3Bean.canKeyIn}"
                                    showOn="button" pattern="yyyy/MM/dd"/>            
                        <p:commandButton  title="搜尋" value="搜尋" disabled="#{!search3Bean.canKeyIn}"
                                          onclick="doSearchData();" 
                                          />
                        <p:commandButton  title="清除" value="清除" disabled="#{!search3Bean.canKeyIn}"
                                          onclick="showLoad();" oncomplete="hideLoad();"
                                          actionListener="#{search3Bean.clear()}" update="headerTitle #{search3Bean.dataTableID}"
                                          process="@this "
                                          />
                    </p:panelGrid>
                </p:outputPanel>
                <p:outputPanel style="overflow: hidden;">

                    <p:panelGrid columns="14">
                        <p:commandButton value="匯出" onclick="PrimeFaces.monitorDownload(showLoad, hideLoad)" actionListener="#{search3Bean.hideColumnContent()}" ajax="false" >
                            <p:dataExporter type="xls" target="#{search3Bean.dataTableID}" fileName="WorkReportDraft"
                                            postProcessor="#{search3Bean.exportExcel}"/>
                        </p:commandButton>
                        <p:selectBooleanCheckbox id="checkAll" style="margin-left:5px;color: red;"
                                                 value="#{search3Bean.toSelectAll}"  
                                                 itemLabel="顯示全部" >
                            <p:ajax listener="#{search3Bean.changeToSelectValue()}" 
                                    onstart="showLoad();" oncomplete="hideLoad();"
                                    update="allPanel" process="@this" />
                        </p:selectBooleanCheckbox>
                    </p:panelGrid>
                </p:outputPanel>
            </p:panel>


            <!--查詢表身-->
            <p:dataTable id="#{search3Bean.dataTableID}"  rendered="#{!search3Bean.showFrame}"
                         widgetVar="#{search3Bean.dataTableWv}"
                         value="#{search3Bean.workReportDraftSearchVO}" var="workReport" rowKey="#{workReport.sid}" rowIndexVar="index"
                         filteredValue="#{search3Bean.filterworkReportDraftSearchVO}"
                         scrollHeight="450" scrollable="true" paginator="true" rows="#{search3Bean.searchColumnVO.pageCount}"
                         draggableColumns="true" 
                         resizableColumns="true"
                         resizeMode="expand" 
                         selectionMode="single"
                         selection="#{search3Bean.selWorkReportDraftSearchVO}"> 
                <p:ajax event="rowSelect" 

                        process="#{search3Bean.dataTableID}" 
                        update="#{search3Bean.dataTableID}" />
                <p:ajax event="colResize" 
                        process="@this" 
                        update="widthSaveBtn"
                        listener="#{search3Bean.customColumn.doResizeColumn()}"
                        />
                <f:facet name="header">
                    <p:outputPanel autoUpdate="true">
                        <p:commandButton value="欄位"
                                         actionListener="#{search3Bean.openCustomColumn()}"
                                         onclick="showLoad();" oncomplete="hideLoad();"
                                         process="@this dlgDefineField_view"
                                         style="float:right">
                        </p:commandButton>
                        <p:commandButton value="寬度儲存" id="widthSaveBtn"
                                         rendered="#{search3Bean.customColumn.showResizeColumn}"
                                         onstart="btnSaveColumnWith('#{search3Bean.dataTableID}');"
                                         process="@this"
                                         style="float:right">
                        </p:commandButton>
                    </p:outputPanel>
                </f:facet>

                <p:column headerText="#{search3Bean.searchColumnVO.index.name}"  style="#{search3Bean.searchColumnVO.index.width}" rendered="#{search3Bean.searchColumnVO.index.show}" >
                    <h:outputText value="#{index+1}"/>
                </p:column>
                <p:column headerText="#{search3Bean.searchColumnVO.createTime.name}"  filterBy="#{workReport.draft_time}" filterMatchMode="startsWith" sortBy="#{workReport.draft_time}" rendered="#{search3Bean.searchColumnVO.createTime.show}"
                          style="#{search3Bean.searchColumnVO.createTime.width}"   filterFunction="#{stringFilterMBean.filterStartsWithAndInsensitive}">

                    <h:outputText value="#{workReport.draft_time}">
                    </h:outputText>
                </p:column>
                <p:column headerText="#{search3Bean.searchColumnVO.modifyTime.name}" filterBy="#{workReport.modify_time}" filterMatchMode="startsWith" filterFunction="#{stringFilterMBean.filterStartsWithAndInsensitive}"  sortBy="#{workReport.modify_time}" rendered="#{search3Bean.searchColumnVO.modifyTime.show}"
                          style="#{search3Bean.searchColumnVO.modifyTime.width}">
                    <h:outputText value="#{workReport.modify_time}">
                    </h:outputText>
                </p:column>
                <p:column headerText="#{search3Bean.searchColumnVO.tag.name}" filterBy="#{workReport.tag_name}" filterMatchMode="exact" sortBy="#{workReport.tag_name}" rendered="#{search3Bean.searchColumnVO.tag.show}"
                          style="#{search3Bean.searchColumnVO.tag.width}">
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('#{search3Bean.dataTableWv}').filter()"   style="#{search3Bean.searchColumnVO.tag.width}">
                            <f:selectItem itemLabel="請選擇" itemValue=""/>
                            <f:selectItems value="#{search3Bean.tagStatusFilters}"   />
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{workReport.tag_name}"/>
                </p:column>
                <p:column headerText="#{search3Bean.searchColumnVO.department.name}" filterBy="#{workReport.department_name}" filterMatchMode="exact" sortBy="#{workReport.department_name}" rendered="#{search3Bean.searchColumnVO.department.show}"
                          style="#{search3Bean.searchColumnVO.department.width}"
                          >
                    <f:facet name="filter">
                        <p:selectOneMenu onchange="PF('#{search3Bean.dataTableWv}').filter()"   style="#{search3Bean.searchColumnVO.department.width}">
                            <f:selectItem itemLabel="請選擇" itemValue=""/>
                            <f:selectItems value="#{search3Bean.departmetFilters}"   />
                        </p:selectOneMenu>
                    </f:facet>
                    <h:outputText value="#{workReport.department_name}" style="#{search3Bean.searchColumnVO.department.width}"/>
                </p:column>
                <p:column headerText="#{search3Bean.searchColumnVO.createUser.name}" sortBy="#{workReport.create_usr_name}" rendered="#{search3Bean.searchColumnVO.createUser.show}"
                          filterBy="#{workReport.create_usr_name}" filterMatchMode="contains" filterFunction="#{stringFilterMBean.filterContainsAndInsensitive}"    style="#{search3Bean.searchColumnVO.createUser.width}">

                    <h:outputText value="#{workReport.create_usr_name}"/>
                </p:column>
                <p:column headerText="#{search3Bean.searchColumnVO.theme.name}" sortBy="#{workReport.title}" rendered="#{search3Bean.searchColumnVO.theme.show}"
                          filterBy="#{workReport.title}" filterMatchMode="contains" filterFunction="#{stringFilterMBean.filterContainsAndInsensitive}">

                    <p:commandButton icon="fa fa-search"  rendered="#{search3Bean.hasDisplay}"
                                     onclick="openWinByStore('#{index+1}-#{workReport.wr_no}')" 
                                     oncomplete="replaceUrlByStore('#{index+1}-#{workReport.wr_no}','../worp/worp_full.xhtml?wrcId=#{workReport.sid}')"
                                     actionListener="#{search3Bean.btnOpenUrl(workReport.sid)}"
                                     process="@this"/>
                    <p:commandLink id="theme" value="#{workReport.title}" styleClass="blueAndUnderline"
                                   process="@this"
                                   onclick="showLoad();" oncomplete="hideLoad();"
                                   actionListener="#{search3Bean.btnOpenFrame(workReport.sid)}" 
                                   update=":formTemplate:allPanel :formTemplate:iframePanel" 
                                   />
                    <p:tooltip for="theme" value="#{workReport.title}" trackMouse="true" escape="false" rendered="#{search3Bean.hasDisplay}"
                               />
                </p:column>
            </p:dataTable>
        </p:outputPanel>
        <p:remoteCommand name="openerByBtnUp" 
                         actionListener="#{search3Bean.openerByBtnUp()}"
                         process="@this " >
        </p:remoteCommand>

        <p:remoteCommand name="closeIframe" 
                         actionListener="#{search3Bean.closeIframe()}" update=":formTemplate:allPanel :formTemplate:iframePanel"
                         process="@this " >
        </p:remoteCommand>

        <p:remoteCommand name="openerByBtnDown" 
                         actionListener="#{search3Bean.openerByBtnDown()}"
                         process="@this " >
        </p:remoteCommand>

        <p:confirmDialog id="confirmDlgTemplate"  widgetVar="confirmDlgTemplate" >
            <f:facet name="message">
                <h:outputText value="#{search3Bean.errorMessage}" escape="false"/>
            </f:facet>
            <p:commandButton value="確認" type="button" onclick="PF('confirmDlgTemplate').hide()"/>
        </p:confirmDialog>
        <p:dialog header="個人化顯示設定" widgetVar="#{search3Bean.customColumn.dialogWar}" modal="true" position="right top">
            <p:outputPanel id="dlgDefineField_view"> 
                <cp:customColumn  model="#{search3Bean.customColumn}"  >

                </cp:customColumn> 
            </p:outputPanel>
        </p:dialog>
        <p:outputPanel id="iframePanel" >
            <p:outputPanel id="frameContentPanel" rendered="#{search3Bean.showFrame}" >
                <iframe id="test"  
                        name="tetst" 
                        frameborder="0"
                        src="#{search3Bean.iframeUrl}"
                        width="100%"/>
                <script type="text/javascript">
                    jQuery(document).ready(function () {
                        $("#test").css('height', $(window).height() - 20);
                    });
                </script>
            </p:outputPanel>

        </p:outputPanel>


        <p:remoteCommand name="saveColumnWith" 
                         onstart="showLoad();" oncomplete="hideLoad();"
                         actionListener="#{search3Bean.customColumn.saveColumnWith()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByCommit" 
                         actionListener="#{search3Bean.openerByCommit()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByDelete" 
                         actionListener="#{search3Bean.openerByDelete()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByInvalid" 
                         actionListener="#{search3Bean.openerByInvalid()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByEditContent" 
                         actionListener="#{search3Bean.openerByEditContent()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByEditTag" 
                         actionListener="#{search3Bean.openerByEditTag()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByTrace" 
                         actionListener="#{search3Bean.openerByTrace()}"  
                         process="@this" >
        </p:remoteCommand>

        <p:remoteCommand name="openerByFavorite" 
                         actionListener="#{search3Bean.openerByFavorite()}"  
                         process="@this" >
        </p:remoteCommand>
         <p:remoteCommand name="openerByTrans" 
                         actionListener="#{search3Bean.openerByTrans()}"  
                         process="@this" >
        </p:remoteCommand>
        <p:remoteCommand name="openerByReadRecept" 
                         actionListener="#{search3Bean.openerByReadRecept()}"  
                         process="@this" >
        </p:remoteCommand>


        <script type="text/javascript">
            function openerByBtnCommitJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByCommit([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByDeleteJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByDelete([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByInvalidJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByInvalid([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByEditContentJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByEditContent([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByEditTagJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByEditTag([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByTraceJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByTrace([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByFavoriteJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByFavorite([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }

            function openerByTransJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByTrans([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }
            
            function openerByBtnReadReceptJS(obj) {
                var sidValue = '{"sid":"' + obj + '"}';
                openerByReadRecept([{name: 'wrc_sid', value: "[" + sidValue + "]"}]);
            }


            function btnSaveColumnWith(obj) {
                var theadclone = obj + " .ui-datatable-scrollable-theadclone";
                var columnvalue = "";
                var headText = "";
                var widthText = "";
                if ($("#" + theadclone).length > 0) {
                    $("#" + obj + "_head th").each(function () {
                        if ($(this).css("display") !== 'none') {
                            if (columnvalue !== "") {
                                columnvalue = columnvalue + ",";
                            }
                            headText = $.trim($(this).find('.ui-column-title').text());
                            widthText = $(this).css("width").replace('px', '');
                            columnvalue = columnvalue + '{"name":"' + headText + '","width":"' + widthText + '"}';

                        }
                    });
                    saveColumnWith([{name: 'columnvalue', value: "[" + columnvalue + "]"}]);
                }
            }


        </script>

    </ui:define>

</ui:composition>
