<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui"
                 xmlns:o="http://omnifaces.org/ui"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:fn="http://java.sun.com/jsp/jstl/functions"
                 xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="model" type="com.cy.work.backend.web.view.components.WorkReportAttachMaintainCompant" shortDescription="附加檔案模型物件" required="true" />
        <cc:attribute name="wrStatusDeleteOrInvail" shortDescription="是否為作廢或刪除"
                      type="java.lang.Boolean" required="true"/>
        
        <cc:attribute name="ath_servlet_package"
                      shortDescription="下載用Servlet實作路徑" 
                      type="java.lang.String"
                      default="com.cy.work.backend.web.common.attachment.WPAttachServlet" /> 
    </cc:interface>
    <cc:implementation>
        <o:importConstants type="#{cc.attrs.ath_servlet_package}" var="attsvl" />
       
        <p:outputPanel id="ath_maitain_id" class="attach_view_class">
            <p:panelGrid columns="2">
                <p:commandButton value="全選" 
                                 onclick="showLoad();"
                                 process="@this" 
                                 actionListener="#{cc.attrs.model.selectAll()}" 
                                 update="@composite:ath_maitain_id" 
                                 oncomplete="hideLoad();"
                                 />
                <p:commandButton value="下載檔案" ajax="false"
                                 onclick="PrimeFaces.monitorDownload(showLoad(), hideLoad())"
                                 disabled="#{fn:length(cc.attrs.model.selectAttachmentVOs) eq 0}"
                                 >
                    <p:fileDownload
                        value="#{cc.attrs.model.downloadFile()}" 
                        contentDisposition="#{cc.attrs.model.downloadFileContentDisposition()}" />
                </p:commandButton>
            </p:panelGrid>
            <p:outputPanel >
                <p:dataList id="ath_file_list_id" class="datalist-noborder"
                            value="#{cc.attrs.model.attachmentVOs}" var="attach" type="definition" >
                    <p:panelGrid columns="5">
                        <p:selectBooleanCheckbox value="#{attach.checked}" >
                            <p:ajax onstart="showLoad();"
                                    process="@composite:ath_file_list_id" 
                                    listener="#{cc.attrs.model.changeCheckBox()}" 
                                    oncomplete="hideLoad();"
                                    update="@composite:ath_maitain_id"
                                    />
                        </p:selectBooleanCheckbox>
                        <p:outputPanel>
                            <p:panelGrid columns="3">
                                <p:outputLabel value="#{attach.createTime}">
                                </p:outputLabel>
                                <h:outputLink  title="#{attach.attName}" 
                                               value="#{request.contextPath}/#{attsvl.SERVLET_NAME}"
                                               target="_blank">
                                    <h:outputText value="#{attach.attName}" />
                                    <f:param name="#{attsvl.PARAM_SID_KEY}" 
                                             value="#{attach.attSid}" />
                                    <f:param name="#{attsvl.PARAM_TIME_KEY}"
                                             value="#{attach.paramCreateTime}" />
                                    <f:param name="#{attsvl.PARAM_ATTACH_SERVICE_KEY}"
                                             value="WPAttachServlet" />
                                </h:outputLink>
                            </p:panelGrid>
                        </p:outputPanel>
                        <p:outputPanel>
                               <h:outputText value="#{attach.userInfo}" />
                        </p:outputPanel>
                        <p:outputPanel>
                            <p:inputText value="#{attach.attDesc}"
                                         disabled="#{!attach.editMode}"
                                         maxlength="255"/>
                        </p:outputPanel>
                        <p:outputPanel>
                            <p:panelGrid columns="3" >
                                <p:commandButton icon="fa fa-pencil" title="編輯"
                                                 onclick="showLoad();"
                                                 oncomplete="hideLoad();"
                                                 rendered="#{attach.showEditBtn and !cc.attrs.wrStatusDeleteOrInvail}"
                                                 disabled="#{attach.editMode}"
                                                 actionListener="#{cc.attrs.model.changeToEditMode(attach.attSid)}"
                                                 update="@composite:ath_file_list_id" process="@composite:ath_file_list_id"

                                                 />
                                <p:commandButton icon="fa fa-check" title="存檔"
                                                 onclick="showLoad();"
                                                 oncomplete="hideLoad();"
                                                 disabled="#{!attach.editMode}"
                                                 actionListener="#{cc.attrs.model.saveAttDesc(attach.attSid)}"                                                 
                                                 update="@composite:ath_file_list_id" process="@composite:ath_file_list_id"
                                                 rendered="#{attach.showEditBtn and !cc.attrs.wrStatusDeleteOrInvail}"
                                                 />
                                <p:commandButton icon="fa fa-trash-o" title="刪除"

                                                 rendered="#{attach.showEditBtn and !cc.attrs.wrStatusDeleteOrInvail}"
                                                 onclick="showLoad();"
                                                 oncomplete="PF('attach_del_confirm_wv').show();hideLoad();"

                                                 actionListener="#{cc.attrs.model.loadDeleteAtt(attach.attSid)}"        
                                                 update="attach_del_confirm_id" process="@this @composite:ath_file_list_id"
                                                 disabled="#{!attach.editMode}"
                                                 />
                            </p:panelGrid>
                        </p:outputPanel>
                    </p:panelGrid>
                </p:dataList>
            </p:outputPanel>
        </p:outputPanel>


    </cc:implementation>
</ui:composition>
