<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="model" type="com.cy.work.backend.web.view.components.CustomColumnComponent" shortDescription="欄位調整模型物件" required="true" />
        <cc:actionSource name="actionEvent" targets="saveEvent" />  
    </cc:interface>
    <cc:implementation>
        <p:outputPanel id="custom_column_id" >
            <p:panelGrid columns="2">
                <p:outputLabel value="分頁筆數：" />
                <p:selectOneMenu value="#{cc.attrs.model.pageCount}">
                    <f:selectItem itemLabel="25" itemValue="25" />
                    <f:selectItem itemLabel="50" itemValue="50" />
                    <f:selectItem itemLabel="100" itemValue="100" />
                </p:selectOneMenu>
            </p:panelGrid>
            <p:panelGrid columns="2">
                <p:selectBooleanCheckbox value="#{cc.attrs.model.selectAll}" 
                                         itemLabel="全選" >
                    <p:ajax   listener="#{cc.attrs.model.doSelectAll()}"
                              onstart="showLoad();" 
                              oncomplete="hideLoad();"
                              update="custom_column_id"
                              process="@this" />
                </p:selectBooleanCheckbox>
                <p:selectBooleanCheckbox value="#{cc.attrs.model.unSelectAll}" 
                                         itemLabel="取消全選" >
                    <p:ajax  listener="#{cc.attrs.model.doUnSelectAll()}"
                             onstart="showLoad();" 
                             oncomplete="hideLoad();"
                             update="custom_column_id" 
                             process="@this" />
                </p:selectBooleanCheckbox>
            </p:panelGrid>
            <p:scrollPanel style="height:400px; width: 200px;" 
                           mode="native">
                <p:panelGrid columns="１">
                    <c:forEach items="#{cc.attrs.model.customCulumnVO}" 
                               var="field">
                        <p:selectBooleanCheckbox value="#{field.selected}" 
                                                 itemLabel="#{field.name}" >
                        </p:selectBooleanCheckbox>
                    </c:forEach>
                </p:panelGrid>
            </p:scrollPanel>
            <p:panelGrid columns="2">
                <p:commandButton value="確定"
                                 onclick ="showLoad();"
                                 oncomplete="hideLoad();"
                                 actionListener="#{cc.attrs.model.doSaveCustomColumn()}"
                                 process="@this custom_column_id">
                </p:commandButton>
                <p:commandButton value="取消" 
                                 onclick="showLoad();"
                                 actionListener="#{cc.attrs.model.closeDialog()}"
                                 oncomplete="hideLoad();"
                                 process="@this">
                </p:commandButton>
            </p:panelGrid>
        </p:outputPanel>
    </cc:implementation>
</ui:composition>
