<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="items" shortDescription="InBoxItemVO物件"
                      type="java.util.ArrayList" required="true" />
        <cc:attribute name="accId" 
                      required="true" 
                      shortDescription="accpanel id and widgetVar" 
                      />
    </cc:interface>
    <cc:implementation>
        <p:accordionPanel value="#{cc.attrs.items}"
                          var="inbox"
                          multiple="true"
                          dynamic="false"
                          id="#{cc.attrs.accId}"
                          widgetVar="#{cc.attrs.accId}"
                          activeIndex="0"
                          >
            <p:tab>
                <f:facet name="title">
                    <p:outputLabel value="寄件者：#{inbox.senderName}　　"/>
                    <h:outputText value="#{inbox.sendTime}"
                                  style="font-weight: bold">
                    </h:outputText>
                </f:facet>
                <p:panelGrid>
                    <p:row>
                        <p:column colspan="1" style="text-align:right;">
                            <p:outputLabel value="收件者："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="#{inbox.receviceName}"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1" style="text-align:right;vertical-align:top;">
                            <p:outputLabel value="留言訊息："/>
                        </p:column>
                        <p:column colspan="1">
                            <p:editor rendered="#{inbox.messageCss != ''}" value="#{inbox.messageCss}" width="600" height="100" controls=""  disabled="true"/>
                            <p:outputLabel rendered="#{inbox.messageCss == ''}" value="無"/>
                        </p:column>
                    </p:row>                
                </p:panelGrid>
            </p:tab>
        </p:accordionPanel>   

    </cc:implementation>
</ui:composition>

