<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>

        <cc:attribute name="model" type="com.cy.work.backend.web.view.components.WorkInboxComponent" shortDescription="欄位調整模型物件" required="true" />
        <cc:attribute name="accId" 
                      required="true" 
                      shortDescription="accpanel id and widgetVar" 
                      />
    </cc:interface>
    <cc:implementation>
        <p:accordionPanel value="#{cc.attrs.model.sentBackups}"
                          var="inboxGroup"
                          multiple="true"
                          dynamic="false"
                          id="#{cc.attrs.accId}"
                          widgetVar="#{cc.attrs.accId}"
                          activeIndex="0"
                          >
            <p:tab>
                <f:facet name="title">
                    <p:outputLabel value="寄件者：#{inboxGroup.createUserName}　　"/>
                    <h:outputText value="#{inboxGroup.time}"
                                  style="font-weight: bold">
                    </h:outputText>
                </f:facet>
                <p:panelGrid columns="2"
                             styleClass="width100 marginTop10">
                    <p:panelGrid columns="2">
                        <p:outputLabel value="收件者："/>
                        <p:scrollPanel style="max-width: 1000px;border:none;" mode="native">
                            <p:outputLabel value="#{inboxGroup.send_to}"/>
                        </p:scrollPanel>
                    </p:panelGrid>
                    <p:panelGrid columns="1"
                                 styleClass="alignRight">
                        <p:commandButton value="訊息點閱狀況"
                                         actionListener="#{cc.attrs.model.clickGroupToStatus(inboxGroup.inbox_group_sid)}"
                                         onclick="showLoad();"
                                         oncomplete="hideLoad();"
                                         process="@this"/>
                    </p:panelGrid>
                </p:panelGrid>
                <p:panelGrid columns="2"
                             rendered="#{!inboxGroup.typeDep}">
                    <p:outputLabel value="留言訊息："/>
                    <p:outputLabel value="#{inboxGroup.message_css}"
                                   styleClass="colNormal breakAll"
                                   escape="false">
                    </p:outputLabel>
                </p:panelGrid>
            </p:tab>
        </p:accordionPanel>   

    </cc:implementation>
</ui:composition>

