<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
]>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:cp="http://java.sun.com/jsf/composite/components"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<p:remoteCommand
	name="reloadGroup#{cc.attrs.componentID}"
	actionListener="#{cc.attrs.model.event_reloadItemGroup()}"
	onstart="showLoad();clearFilters#{cc.attrs.componentID}('all');"
	oncomplete="hideLoad();"
	update="@(.#{cc.attrs.componentID}_MultItemPickerComponent)"
	process="@this">
</p:remoteCommand>

<style>
</style>

<div
	style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
	<div>
		<p:selectOneRadio
			styleClass="changeShowMode_#{cc.attrs.componentID} bootstrap-fix"
			value="#{cc.attrs.model.srcShowMode}">
			<f:selectItems
				value="#{cc.attrs.model.getSrcShowModeItems()}"
				var="item"
				itemValue="#{item.sid}"
				itemLabel="#{item.name}" />
			<p:ajax
				event="change"
				listener="#{cc.attrs.model.event_changeSrcShowMode()}"
				onstart="showLoad();clearFilters#{cc.attrs.componentID}('target');"
				oncomplete="hideLoad();"
				update="@(.#{cc.attrs.componentID}_MultItemPickerComponent)"
				process="@this @(.changeShowMode_#{cc.attrs.componentID})">
			</p:ajax>
		</p:selectOneRadio>
	</div>
	<!-- 選項：含以下 -->
	<div>
		<p:selectBooleanCheckbox
			value="#{cc.attrs.model.containFollowing}"
			style=" text-align: center;"
			itemLabel="選取時含以下"
			label="選取時含以下">
			<p:ajax
				listener="#{commonBean.doNottingPostback()}"
				update="@(.itemTree_AllPanel_#{cc.attrs.componentID})">
			</p:ajax>
		</p:selectBooleanCheckbox>
	</div>
	<div>&nbsp;</div>
	<div>
		<p:outputPanel
			style="display: flex; align-items: center; justify-content: flex-end;"
			rendered="#{cc.attrs.model.enableGroupMode}">
			<p:outputLabel
				for="@next"
				value="群組：" />
			<p:selectOneMenu
				styleClass="changeItemGroup_#{cc.attrs.componentID}"
				value="#{cc.attrs.model.selectedItemGroupSid}">
				<f:selectItems value="#{cc.attrs.model.itemGroupSelectItems}" />
				<p:ajax
					event="change"
					listener="#{cc.attrs.model.event_changeItemGroup()}"
					onstart="showLoad();clearFilters#{cc.attrs.componentID}('all');"
					oncomplete="hideLoad();"
					update="@(.#{cc.attrs.componentID}_MultItemPickerComponent)"
					process="@this @(.changeItemGroup_#{cc.attrs.componentID})" />
			</p:selectOneMenu>
			<!-- 修正 selectitem label 無法顯示 css content 問題 -->
			<script>selectMenuItemMakeup("changeItemGroup_#{cc.attrs.componentID}");</script>
			<div style="width: 5px" />
			<p:commandButton
				icon="fa fa-cog"
				title="群組設定"
				styleClass="bootstrap-fix"
				onclick="window.open('/tech-request/setting/setting_custom_group.xhtml?componentID=#{cc.attrs.componentID}&amp;ctype=DEP')" />
		</p:outputPanel>
	</div>
</div>
</html>