<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:cc="http://java.sun.com/jsf/composite"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:p="http://primefaces.org/ui"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <!-- INTERFACE -->
    <cc:interface>
        <cc:attribute
            name="model"
            type="com.cy.tech.request.web.controller.component.mipker.MultItemPickerComponent"
            required="true"
            shortDescription="所有可選擇項目" />
            
        <cc:attribute
            name="menuWidth"
            type="java.lang.Integer"
            required="true"
            shortDescription="選擇清單寬度" />

        <cc:attribute
            name="itemName"
            type="java.lang.String"
            shortDescription="項目 header 顯示名稱" />

        <!--選取事件-->
        <cc:attribute
            name="rowDoubleClickEvent"
            shortDescription="雙擊項目事件"
            method-signature="void actionListener(org.primefaces.event.SelectEvent)"
            required="true" />

        <!--選取事件後的更新區域-->
        <cc:attribute
            name="eventUpdate"
            type="java.lang.String"
            shortDescription="雙擊項目事件"
            required="true" />

    </cc:interface>

    <!-- IMPLEMENTATION -->
    <cc:implementation>
        <p:dataTable
            value="#{cc.attrs.model.srcVO.allItems}"
            selection="#{cc.attrs.model.srcVO.selectedItems}"
            filteredValue="#{cc.attrs.model.srcVO.filteredItems}"
            var="itemTo"
            rowKey="#{itemTo.sid}"
            scrollHeight="350"
            scrollable="true"
            selectionMode="multiple"
            style="width:#{cc.attrs.menuWidth}px;"
            styleClass="asd">
            <p:ajax
                event="rowDblselect"
                onstart="showLoad();"
                listener="#{cc.attrs.rowDoubleClickEvent}"
                update="#{cc.attrs.eventUpdate}"
                oncomplete="hideLoad();" />
            <p:column
                headerText="#{cc.attrs.itemName}"
                filterBy="#{itemTo.name}"
                filterMatchMode="contains">
                <h:outputText
                    rendered="#{not itemTo.active}"
                    styleClass="WS1-1-2"
                    value="(停用)" />
                <h:outputText
                    value="#{itemTo.showName}"
                    escape="false" />
            </p:column>
        </p:dataTable>
    </cc:implementation>
</ui:composition>