<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="model"
                      type="com.cy.work.backend.web.view.components.WorkReportReadReceiptsMemberComponent"
                      shortDescription="索取讀取記錄物件" required="true" />
        <cc:actionSource name="actionEvent" targets="saveEvent" />
        <cc:actionSource name="actionOrgEvent" targets="orgEvent" />

    </cc:interface>
    <cc:implementation>
        <p:remoteCommand name="doFilterName" actionListener="#{cc.attrs.model.filterName()}" 
                         onstart="showLoad();"  oncomplete="hideLoad();"
                         process="@this memberName userPickList" />
        <p:panelGrid columns="8" >
            <p:outputLabel value="部門"/>
            <p:commandButton icon="ui-icon-search"
                             id="orgEvent"
                             onclick="showLoad();" 
                             oncomplete="hideLoad();"
                             process="@this userPickList memberName" />
            <p:outputLabel value="使用者暱稱"/>
            <p:inputText  id="memberName" placeholder="Search" value="#{cc.attrs.model.filterNameValue}" onkeydown="executeScriptByEnter(event, 'doFilterName();');"  />
            <p:commandButton icon="ui-icon-search" 
                            
                             onclick="doFilterName();" />

        </p:panelGrid>
        <p:pickList id="userPickList" value="#{cc.attrs.model.pickUsers}" var="u"  converter="#{userViewVOConverter}"
                    itemLabel="#{u.name}" itemValue="#{u}"  itemDisabled="#{!u.moveAble}" 
                    >
            <f:facet name="sourceCaption"><h:outputText value="未選取清單"/></f:facet>  
            <f:facet name="targetCaption"><h:outputText value="已選取清單"/></f:facet>
            <p:column>  
                <h:outputText value="#{u.departmentName} - #{u.name}"/>
            </p:column>
        </p:pickList>
        <p:panelGrid columns="2">
            <p:commandButton value="確定"  process="@this userPickList" id="saveEvent"
                             onclick="showLoad();" oncomplete="hideLoad();"/>    
            <p:commandButton value="取消" process="@this"  onclick="PF('readReceiptDlg').hide();" />
        </p:panelGrid>
    </cc:implementation>
</ui:composition>
