<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:cc="http://java.sun.com/jsf/composite"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <cc:interface>
        <cc:attribute name="model" shortDescription="組織樹物件"
                      type="com.cy.work.backend.web.common.SingleDepTreeManager" required="true" />
        <cc:attribute name="dlgName" shortDescription="dialog名稱"
                      type="java.lang.String" required="true"/>
        <cc:attribute name="btnShow" shortDescription="是否顯示下排按鈕"
                      type="java.lang.String" required="true"/>      
        <cc:attribute name="process" shortDescription="process的引用頁元件"
                      type="java.lang.String" />
        <cc:attribute name="update" shortDescription="update的引用頁元件"
                      type="java.lang.String" />
        <cc:actionSource name="actionEvent" targets="saveEvent" />
    </cc:interface>

    <cc:implementation>
        <p:panelGrid columns="2" >
            <p:inputText value="#{cc.attrs.model.searchDepText}" 
                         id="searchDepText" placeholder="Search"/>
            <p:commandButton icon="ui-icon-search" 
                             actionListener="#{cc.attrs.model.searchDepTree}" 
                             update="depTree" process="@this searchDepText"/>
        </p:panelGrid>
        <p:scrollPanel mode="native" style="width:310px;height:300px"  >
            <p:selectBooleanCheckbox value="#{cc.attrs.model.noShowDepHistory}" 
                                     itemLabel="不顯示停用部門"  >
                <p:ajax listener="#{cc.attrs.model.changeDepTree}" 
                        onstart="showLoad();" oncomplete="hideLoad();"
                        update="depTree" process="@this" />
            </p:selectBooleanCheckbox>
            <p:tree id="depTree" value="#{cc.attrs.model.depRoot}" var="node" 
                    
                    selectionMode="single" selection="#{cc.attrs.model.selNode}"
                    propagateSelectionUp="false">
                <p:treeNode>
                    <h:outputText value="#{node.name}"  />
                </p:treeNode>
            </p:tree>
        </p:scrollPanel>
        <p:panelGrid columns="3">
            <p:commandButton value="確定" id="saveEvent" 
                             onclick="showLoad()" 
                             oncomplete="hideLoad()"
                             rendered="#{cc.attrs.btnShow}"
                             process="@this depTree #{cc.attrs.process}"
                             update="#{cc.attrs.update}"/>    
            <p:commandButton value="清除" actionListener="#{cc.attrs.model.changeDepTree}"
                             onclick="showLoad()" 
                             rendered="#{cc.attrs.btnShow}"
                             oncomplete="hideLoad()"
                             update="depTree searchDepText" process="@this" />
            <p:commandButton value="取消" process="@this" 
                             rendered="#{cc.attrs.btnShow}"
                             oncomplete="PF('#{cc.attrs.dlgName}').hide();"/>
        </p:panelGrid>
    </cc:implementation>
</ui:composition>