<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="model" shortDescription="WorkReportDataComponent物件"
                      type="com.cy.work.backend.web.view.components.WRTraceComponent" required="true" />
    </cc:interface>
    <cc:implementation>

        <p:scrollPanel style="height:550px" 
                       mode="native" >
            <p:panelGrid  columns="2">
                <p:outputLabel value="工作報告主題："/>
                <p:outputLabel value="" 
                               style="white-space: normal; width: 600px;"
                               escape="false"/>

                <p:outputLabel value="追蹤日期："/>
                <p:calendar 
                    pattern="yyyy/MM/dd"
                    navigator="true" 
                    mode="popup" 
                    showOn="button" >
                </p:calendar>

                <p:outputLabel value="追蹤事項："/>
                <p:editor widgetVar="dlgTraceAction_view_wvTraceMemo" 
                          value="追蹤事項"
                          controls="font size bold italic underline color highlight"
                          height="150"
                          style="width: 600px; " >
                </p:editor>

                <p:outputLabel value="追蹤方式："/>
                <p:panelGrid columns="3" 
                             columnClasses="topAligned,topAligned,topAligned">
                    <p:selectOneRadio id="dlgTraceAction_view_traceRadio" 
                                      layout="custom">
                        <p:ajax event="change" 
                                onstart="showLoad();" 
                                oncomplete="hideLoad();"
                                process="@this"/>
                        <f:selectItem itemLabel="自行追蹤" 
                                      itemValue="0" />
                        <f:selectItem itemLabel="邀請其他人追蹤" 
                                      itemValue="1" />
                        <f:selectItem itemLabel="所屬部門追蹤" 
                                      itemValue="2" />
                    </p:selectOneRadio> 
                    <p:fieldset legend="個人">
                        <p:panelGrid columns="2" 
                                     style=" height:75px ">
                            <p:radioButton for="dlgTraceAction_view_traceRadio" 
                                           itemIndex="0" />
                            <p:outputLabel value="自行追蹤"/>

                            <p:radioButton for="dlgTraceAction_view_traceRadio" 
                                           itemIndex="1" />
                            <p:outputLabel value="邀請其他人追蹤"/>
                        </p:panelGrid>
                        <p:fieldset legend="追蹤此紀錄者">

                        </p:fieldset>
                    </p:fieldset>
                    <p:fieldset legend="部門">
                        <p:panelGrid columns="2" 
                                     style=" height:75px ">
                            <p:radioButton for="dlgTraceAction_view_traceRadio" 
                                           itemIndex="2" />
                            <p:outputLabel value="所屬部門追蹤"/>
                            <p:outputLabel value=""/>
                        </p:panelGrid>
                        <p:fieldset legend="追蹤此紀錄之部門">

                        </p:fieldset>
                    </p:fieldset>
                </p:panelGrid>
            </p:panelGrid>
        </p:scrollPanel>
        <p:panelGrid  columns="2">
            <p:commandButton value="確定"                                  
                             onclick="showLoad();" 
                             oncomplete="hideLoad();"
                             process="@this dlgTraceAction_view">
            </p:commandButton>
            <p:commandButton value="取消" 
                             onclick="PF('dlgTraceAction').hide();" 
                             process="@this"/>
        </p:panelGrid>
       



    </cc:implementation>
</ui:composition>
