<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="model" shortDescription="WorkReportHeaderComponent物件"
                      type="com.cy.work.backend.web.view.components.WorkReportHeaderComponent" required="true"/>
        <cc:attribute name="model2" shortDescription="WorkReportHeaderComponent物件"
                      type="com.cy.work.backend.web.view.components.WorkReportBtnComponent"/>
        <cc:attribute name="edit" shortDescription="是否可編輯"
                      type="java.lang.Boolean" required="true"/>
        <cc:attribute name="editing" shortDescription="是否可點選回傳已讀取"
                      type="java.lang.Boolean" required="true"/>
        <cc:actionSource name="ActionEvent" targets="sendActionEvent"/>
    </cc:interface>
    <cc:implementation>
        <p:toolbar style="background: none !important;">
            <f:facet name="left">
                <p:panelGrid style="width: 1000px">
                    <p:row>
                        <p:column colspan="1">
                            <h:outputText value="&#160;&#160;&#160;" />
                            <p:outputLabel value="部門:"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="#{cc.attrs.model.departmentName}" styleClass="reportTypeColor"/>
                        </p:column>
                        <p:column colspan="1">
                            <h:outputText value="&#160;&#160;&#160;" />
                            <p:outputLabel value="建立人員:"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="#{cc.attrs.model.createUserName}" styleClass="reportTypeColor"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="#{cc.attrs.model.createTimeTitle}:"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="#{cc.attrs.model.createTime}" styleClass="reportTypeColor"/>
                        </p:column>
                        <p:column colspan="1">
                            <h:outputText value="提交日期：" rendered="#{cc.attrs.model.submitTime != null}"/>
                        </p:column>
                        <p:column colspan="1">
                            <h:outputText value="#{cc.attrs.model.submitTime}"
                                          rendered="#{cc.attrs.model.submitTime != null}" styleClass="reportTypeColor"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="#{cc.attrs.model2.invalidCannotEnterReason}" style="color: red"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <h:outputText styleClass="column-label-require" />
                            <p:outputLabel value="標籤:"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:selectOneMenu value="#{cc.attrs.model.tagID}" rendered="#{cc.attrs.edit}">
                                <f:selectItem itemLabel="請選擇" itemValue=""/>
                                <f:selectItems value="#{workProjectTagItemBean.activeWorkProjectTagItems}"/>
                            </p:selectOneMenu>
                            <p:outputLabel value="#{workProjectTagItemBean.getWorkProjectTagName(cc.attrs.model.tagID)}"
                                           rendered="#{!cc.attrs.edit}" styleClass="reportTypeColor"/>
                        </p:column>
                        <p:column colspan="1">
                            <h:outputText styleClass="column-label-require" />
                            <p:outputLabel value="編輯權限:"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:selectOneMenu value="#{cc.attrs.model.acceptEditID}" rendered="#{cc.attrs.edit}">
                                <f:selectItem itemLabel="請選擇" itemValue=""/>
                                <f:selectItems value="#{workProjectAcceptEditItemBean.workProjectAcceptEditItems}"/>
                            </p:selectOneMenu>
                            <p:outputLabel
                                    value="#{workProjectAcceptEditItemBean.getWorkProjectAcceptEditName(cc.attrs.model.acceptEditID)}"
                                    styleClass="reportTypeColor" rendered="#{!cc.attrs.edit}"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="單號:"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="#{cc.attrs.model.workProjectNo}" styleClass="reportTypeColor"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="狀態:"/>
                        </p:column>
                        <p:column colspan="1">
                            <p:outputLabel value="#{cc.attrs.model.status}" styleClass="reportTypeColor"/>
                        </p:column>

                    </p:row>
                </p:panelGrid>
            </f:facet>
            <f:facet name="right">
                <p:commandButton value="回傳已讀取" style="width:100px;height:60px" id="sendActionEvent"
                                 rendered="#{cc.attrs.model.showReadReceiptBtn}"
                                 disabled="#{!cc.attrs.model.readReceiptBtnAble || cc.attrs.editing}"></p:commandButton>
            </f:facet>
        </p:toolbar>
    </cc:implementation>
</ui:composition>
