<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core" 
                xmlns:cc="http://java.sun.com/jsf/composite">

    <cc:interface>
        <cc:attribute name="model" shortDescription="WorkReportBtnComponent物件"
                      type="com.cy.work.backend.web.view.components.WorkReportBtnComponent" required="true" />
        <cc:attribute name="process" shortDescription="process的引用頁元件"
                      type="java.lang.String" />
    </cc:interface>
    <cc:implementation>
        <script type="text/javascript">

            function doCommitToUpdate(obj) {
                try {
                    if (checkIframe())
                    {
                        parent.openerByBtnCommitJS(obj);
                    } else if (window.opener) {
                        window.opener.openerByBtnCommitJS(obj);
                    }
                } catch (err) {
                    // no method
                }

            }
            
             function doReadReceptToUpdate(obj) {
                try {
                    if (checkIframe())
                    {
                        parent.openerByBtnReadReceptJS(obj);
                    } else if (window.opener) {
                        window.opener.openerByBtnReadReceptJS(obj);
                    }
                } catch (err) {
                    // no method
                }

            }

            function doDeleteToUpdate(obj) {
                try {
                    if (checkIframe())
                    {
                        parent.openerByDeleteJS(obj);
                    } else if (window.opener) {
                        window.opener.openerByDeleteJS(obj);
                    }
                } catch (err) {
                    // no method
                }
            }

            function doInvalidToUpdate(obj) {
                try {
                    if (checkIframe())
                    {
                        parent.openerByInvalidJS(obj);
                    } else if (window.opener) {
                        window.opener.openerByInvalidJS(obj);
                    }
                } catch (err) {
                    // no method
                }
            }

            function doEditContentToUpdate(obj) {
                try {
                    if (checkIframe())
                    {
                        parent.openerByEditContentJS(obj);
                    } else if (window.opener) {
                        window.opener.openerByEditContentJS(obj);
                    }
                } catch (err) {
                    // no method
                }
            }

            function doEditTagToUpdate(obj) {
                try {
                    if (checkIframe())
                    {
                        parent.openerByEditTagJS(obj);
                    } else if (window.opener) {
                        window.opener.openerByEditTagJS(obj);
                    }
                } catch (err) {
                    // no method
                }
            }

            function doTraceToUpdate(obj) {
                try {
                    if (checkIframe())
                    {
                        parent.openerByTraceJS(obj);
                    } else if (window.opener) {
                        window.opener.openerByTraceJS(obj);
                    }
                } catch (err) {
                    // no method
                }
            }

            function doFavoriteToUpdate(obj) {
                try {
                    if (checkIframe())
                    {
                        parent.openerByFavoriteJS(obj);
                    } else if (window.opener) {
                        window.opener.openerByFavoriteJS(obj);
                    }
                } catch (err) {
                    // no method
                }
            }

            function doTransToUpdate(obj) {
                try {
                    if (checkIframe())
                    {
                        parent.openerByTransJS(obj);
                    } else if (window.opener) {
                        window.opener.openerByTransJS(obj);
                    }
                } catch (err) {
                    // no method
                }

            }

            function checkIframe() {
                if (self !== top) {
                    return true;
                }
                return false;
            }





            function doPreviousBtn() {
                try {
                    if (checkIframe())
                    {
                        parent.openerByBtnUp();
                    } else if (window.opener) {
                        window.opener.openerByBtnUp();
                    }
                } catch (err) {
                    // no method
                }
            }

            function doNextBtn() {
                try {
                    if (checkIframe())
                    {
                        parent.openerByBtnDown();
                    } else if (window.opener) {
                        window.opener.openerByBtnDown();
                    }
                } catch (err) {
                    // no method
                }
            }

            //只變更URL不重新導向
            function replaceUrlNotNavigation(url) {
                window.history.replaceState({}, '', url);
            }

            function backToList() {
                try {
                    if (checkIframe())
                    {
                        parent.closeIframe();
                    } else {
                        window.opener.closeIframe();
                    }
                } catch (err) {
                    // no method
                }
            }


        </script>

        <p:outputPanel id="title_info_click_btn_id" style="height:42px"  >

            <p:toolbar>
                <f:facet name="left">
                    <p:outputPanel >
                        <p:remoteCommand onstart="showLoad();" oncomplete="hideLoad();" name="doClickEditBtn" process="@this #{cc.attrs.process}"    actionListener="#{cc.attrs.model.workReportButtonListener.clickEdit()}" />
                        <p:remoteCommand name="doClickSendBtn" oncomplete="hideLoad();" process="@this #{cc.attrs.process}"    actionListener="#{cc.attrs.model.workReportButtonListener.clickSend()}" />
                        <p:remoteCommand name="doClickCancelBtn"  oncomplete="hideLoad();" process="@this"    actionListener="#{cc.attrs.model.workReportButtonListener.clickCancel()}" />
                        <p:remoteCommand name="doClickSummitBtn" onstart="showLoad();" oncomplete="hideLoad();" process="@this"    actionListener="#{cc.attrs.model.workReportButtonListener.clickSummit()}" /> 
                        <p:remoteCommand name="doClickToSummitBtn" onstart="showLoad();" oncomplete="hideLoad();" process="@this"    actionListener="#{cc.attrs.model.workReportButtonListener.clickDoSummit()}"/>  
                        <p:remoteCommand name="doClickDeleteBtn" onstart="showLoad();" oncomplete="hideLoad();" process="@this"    actionListener="#{cc.attrs.model.workReportButtonListener.clickDelete()}" />
                        <p:remoteCommand name="doClickInvaildBtn" onstart="showLoad();" oncomplete="hideLoad();" process="@this invaild_panel_id"    actionListener="#{cc.attrs.model.workReportButtonListener.clickInvalid()}" />  
                        <p:remoteCommand name="loadTabBtn" onstart="showLoad();" oncomplete="hideLoad();" update="modifyTagDialog" process="@this"    actionListener="#{cc.attrs.model.loadTag()}" />  
                        <p:remoteCommand name="loadEditTypeBtn" onstart="showLoad();" oncomplete="hideLoad();" update="modifyEditTypeDialog" process="@this"    actionListener="#{cc.attrs.model.loadEditType()}" />   
                        <p:remoteCommand name="loadReplyBtn" onstart="showLoad();" oncomplete="hideLoad();"  process="@this"    actionListener="#{cc.attrs.model.workReportButtonListener.clickReply()}" />       
                        <p:remoteCommand name="loadAttBtn" onstart="showLoad();" oncomplete="hideLoad();"  process="@this"    actionListener="#{cc.attrs.model.workReportButtonListener.clickAtt()}" />
                        <p:remoteCommand name="loadReadReceiptsBtn" onstart="showLoad();" oncomplete="hideLoad();"  process="@this"    actionListener="#{cc.attrs.model.workReportButtonListener.clickReadReceipt()}" />    
                        <p:remoteCommand name="loadPreviousBtn" onstart="showLoad();" oncomplete="hideLoad();"  process="@this"    actionListener="#{cc.attrs.model.workReportButtonListener.clickPrevious()}" /> 
                        <p:remoteCommand name="loadNextBtn" onstart="showLoad();" oncomplete="hideLoad();"  process="@this"    actionListener="#{cc.attrs.model.workReportButtonListener.clickNext()}" />  
                        <p:remoteCommand name="loadTraceBtn" onstart="showLoad();" oncomplete="hideLoad();"  process="@this"    actionListener="#{cc.attrs.model.workReportButtonListener.clickTrace()}" />     
                        <p:remoteCommand name="loadTranceBtn" onstart="showLoad();" oncomplete="hideLoad();"  process="@this"    actionListener="#{cc.attrs.model.workReportButtonListener.clickTrans()}" />           
                        <p:remoteCommand name="doClickFavoriteBtn" onstart="showLoad();" oncomplete="hideLoad();" process="@this"    actionListener="#{cc.attrs.model.workReportButtonListener.clickFavorite()}" />
                        <p:commandButton  title="編輯"  value="編輯" id="editBtn_real"
                                          process="@this #{cc.attrs.process}"
                                          onclick="doClickEditBtn()"
                                          disabled="#{!cc.attrs.model.editAble}"
                                          />
                        <p:commandButton  title="轉寄" value="轉寄"
                                          disabled="#{!cc.attrs.model.transAble}"
                                          onclick="loadTranceBtn()" 
                                          process="@this #{cc.attrs.process}"
                                          />
                        <p:commandButton  title="回覆" value="回覆"
                                          disabled="#{!cc.attrs.model.replyAble}"
                                          onclick="loadReplyBtn();"
                                          process="@this"
                                          />
                        <p:commandButton  title="附加檔案" value="附加檔案"
                                          disabled="#{!cc.attrs.model.attachAble}"
                                          onclick="loadAttBtn();"
                                          process="@this"
                                          />
                        <p:commandButton  title="標籤調整" value="標籤調整"
                                          disabled="#{!cc.attrs.model.tagAble}"
                                          onclick="loadTabBtn();"
                                          process="@this"
                                          />
                        <p:commandButton  title="編輯權限" value="編輯權限"
                                          disabled="#{!cc.attrs.model.editTypeAble}"
                                          onclick="loadEditTypeBtn();"
                                          process="@this"
                                          />
                        <p:commandButton  title="收藏" value="收藏" style="#{cc.attrs.model.favoriteBtnCss}"
                                          disabled="#{!cc.attrs.model.favoriteAble}"
                                          onclick="doClickFavoriteBtn();"
                                          process="@this"
                                          />
                        <p:commandButton  title="追蹤" value="追蹤" style="#{cc.attrs.model.traceBtnCss}"
                                          disabled="#{!cc.attrs.model.traceAble}"
                                          onclick="loadTraceBtn();"
                                          process="@this"
                                          />
                        <p:commandButton  title="提交" value="提交"
                                          disabled="#{!cc.attrs.model.submmitAble}"
                                          onclick="PF('submitDialog').show();"
                                          process="@this"
                                          />
                        <p:commandButton  title="確定" value="確定" 
                                          disabled="#{!cc.attrs.model.sendAble}"
                                          onclick="showLoad();saveHTML('workReportData_content');saveHTML('workReportData_remark');doClickSendBtn();"
                                          process="@this"
                                          />
                        <p:commandButton  title="取消" value="取消" 
                                          disabled="#{!cc.attrs.model.cancalAble}"
                                          onclick="showLoad();doClickCancelBtn();"
                                          process="@this"
                                          />
                        <p:commandButton  title="上一筆" value="上一筆" 
                                          disabled="#{!cc.attrs.model.previousAble}"
                                          onclick="showLoad();
                                                  doPreviousBtn();
                                                  loadPreviousBtn();"
                                          oncomplete="hideLoad();"
                                          process="@this"
                                          />
                        <p:commandButton  title="下一筆" value="下一筆" 
                                          disabled="#{!cc.attrs.model.nextAble}"
                                          onclick="showLoad();
                                                  doNextBtn();
                                                  loadNextBtn();"
                                          oncomplete="hideLoad();"
                                          process="@this"
                                          />
                        <p:commandButton  title="回報表" value="回報表" 
                                          disabled="#{!cc.attrs.model.backList}"
                                          onclick="showLoad();
                                                  backToList();"
                                          oncomplete="hideLoad();"
                                          process="@this"
                                          />
                        <h:graphicImage library="images" id="btn_load_img_id" name="ajax-loader.gif" title="執行中" style="display:none;margin-bottom:-5px !important;width:25px;height:25px;transform:scale(1.0,1.0)" />

                    </p:outputPanel>
                </f:facet>
                <f:facet name="right">
                    <p:commandButton  title="索取讀取記錄" value="索取讀取記錄"
                                      disabled="#{!cc.attrs.model.readRcordAble}"
                                      onclick="loadReadReceiptsBtn();"
                                      process="@this"
                                      />
                    <p:commandButton  title="作廢" value="作廢"
                                      disabled="#{!cc.attrs.model.invalidAble}"
                                      onclick="PF('invaild_dlg_wv').show();"
                                      rendered="#{cc.attrs.model.showInvalidBtn}"
                                      process="@this"
                                      />
                    <p:commandButton  title="刪除" value="刪除"
                                      disabled="#{!cc.attrs.model.deleteAble}"
                                      rendered="#{cc.attrs.model.showDeleteBtn}"
                                      onclick="PF('deleteDialog').show();"
                                      process="@this"
                                      />
                </f:facet>
            </p:toolbar>
            <p:dialog id="submitDialog"  widgetVar="submitDialog" header="確認" resizable="false"
                      modal="true">
                <h:outputText value="工作報告將正式發佈提交,請確認" escape="false"/>
                <p:panelGrid columns="2" >
                    <p:commandButton value="確認" type="button" onclick="doClickSummitBtn();" process="@this" />
                    <p:commandButton value="取消" type="button" onclick="PF('submitDialog').hide()" />
                </p:panelGrid>
            </p:dialog>
            <p:dialog id="deleteDialog"  widgetVar="deleteDialog" header="確認" resizable="false"
                      modal="true">
                <h:outputText value="工作報告將刪除,請確認" escape="false"/>
                <p:panelGrid columns="2" >
                    <p:commandButton value="確認" type="button" onclick="doClickDeleteBtn();" process="@this"/>
                    <p:commandButton value="取消" type="button" onclick="PF('deleteDialog').hide()"/>
                </p:panelGrid>
            </p:dialog>
            <p:dialog header="標籤調整"
                      widgetVar="modifyTagDialog"
                      id="modifyTagDialog"
                      resizable="false"
                      modal="true">
                <p:panelGrid columns="2" >
                    <h:outputText value="標籤" escape="false"/>
                    <p:selectOneMenu value="#{cc.attrs.model.selectTagID}" id="activeWorkProjectTagItemsID"  >

                        <f:selectItems value="#{workProjectTagItemBean.activeWorkProjectTagItems}"   />
                    </p:selectOneMenu>
                    <p:commandButton value="確認" onclick="showLoad();" oncomplete="hideLoad();" actionListener="#{cc.attrs.model.workReportButtonListener.clickTag()}" update="activeWorkProjectTagItemsID"  process="@this activeWorkProjectTagItemsID"/>
                    <p:commandButton value="取消" onclick="PF('modifyTagDialog').hide()"/>
                </p:panelGrid>
            </p:dialog>

            <p:confirmDialog id="commitAlertDlg"  widgetVar="commitAlertDlgWv" >
                <f:facet name="message">
                    <h:outputText value="提交後不可進行修改，請確認！" escape="false"/>
                </f:facet>
                <p:commandButton value="確認" onclick="doClickToSummitBtn();" process="@this" />
                <p:commandButton value="取消" process="@this" onclick="PF('commitAlertDlgWv').hide()" />
            </p:confirmDialog>

            <p:dialog header="編輯權限"
                      widgetVar="modifyEditTypeDialog"
                      id="modifyEditTypeDialog"
                      resizable="false"
                      modal="true">
                <p:panelGrid columns="2" >
                    <h:outputText value="編輯權限" escape="false"/>
                    <p:selectOneMenu value="#{cc.attrs.model.selectEditTypeID}"  >
                        <f:selectItems value="#{workProjectAcceptEditItemBean.workProjectAcceptEditItems}"   />
                    </p:selectOneMenu>
                    <p:commandButton value="確認"  onclick="showLoad();" oncomplete="hideLoad();" actionListener="#{cc.attrs.model.workReportButtonListener.clickEditType()}"  process="@this modifyEditTypeDialog"/>
                    <p:commandButton value="取消"  onclick="PF('modifyEditTypeDialog').hide()"/>
                </p:panelGrid>
            </p:dialog>

            <p:dialog header="作廢" 
                      modal="true"
                      id="invaild_dlg_id"
                      widgetVar="invaild_dlg_wv" 
                      draggable="false" 
                      closable="false"
                      resizable="false">
                <p:panelGrid id="invaild_panel_id">
                    <p:row>
                        <p:column colspan="1">
                            <h:outputText value="作廢原因"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="1">
                            <p:inputTextarea value="#{cc.attrs.model.invalidReason}" cols="35" rows="7" autoResize="true"/>
                        </p:column>
                    </p:row>
                    <p:row>
                        <p:column colspan="2">
                            <p:commandButton value="確定" 
                                             onclick="doClickInvaildBtn();"
                                             process="@this invaild_panel_id" />
                            <p:commandButton type="button" value="取消" onclick="PF('invaild_dlg_wv').hide()"/>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:dialog>   
        </p:outputPanel>

    </cc:implementation>
</ui:composition>

