<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:cp="http://java.sun.com/jsf/composite/components"
      >
    <p:dialog header="#{pickUserDialogTitle}" widgetVar="#{pickUserDialogVar}" modal="true">
        <p:outputPanel id="#{pickUserDialogID}">
            <p:remoteCommand name="#{pickUserSearchMethodName}" actionListener="#{pickUserComponent.filterName()}" 
                             onstart="showLoad();"  oncomplete="hideLoad();" update="#{pickUserID}"
                             process="@this #{pickUserMemberID} #{pickUserID}" />
            <p:panelGrid columns="8" >
                <p:outputLabel value="部門"/>
                <p:commandButton icon="ui-icon-search"
                                 onclick="showLoad();" 
                                 update="#{pickUserSelDepDialogID}"
                                 oncomplete="hideLoad();PF('#{pickUserSelDepDialogVar}').show();"
                                 actionListener="#{pickUserComponent.loadSelectDepTree()}"
                                 process="@this #{pickUserID} #{pickUserMemberID}" />
                <p:outputLabel value="使用者暱稱"/>
                <p:inputText  id="#{pickUserMemberID}" placeholder="Search" value="#{pickUserComponent.filterNameValue}" onkeydown="executeScriptByEnter(event, '#{pickUserSearchMethodName}();');"  />
                <p:commandButton icon="ui-icon-search" 
                                 onclick="#{pickUserSearchMethodName}();" />

            </p:panelGrid>
            <p:pickList id="#{pickUserID}" value="#{pickUserComponent.pickUsers}" var="u"  converter="#{userViewVOConverter}"
                        itemLabel="#{u.name}" itemValue="#{u}"  itemDisabled="#{!u.moveAble}" 
                        >
                <f:facet name="sourceCaption"><h:outputText value="未選取清單"/></f:facet>  
                <f:facet name="targetCaption"><h:outputText value="已選取清單"/></f:facet>
                <p:column>  
                    <h:outputText value="#{u.departmentName} - #{u.name}"/>
                </p:column>
            </p:pickList>
            <p:panelGrid columns="2">
                <p:commandButton value="確定"  process="@this #{pickUserID}" update=":formTemplate:all_permission_tab"
                                 onclick="showLoad();" oncomplete="hideLoad();" actionListener="#{pickUserComponent.savePickList()}"/>    
                <p:commandButton value="取消" process="@this"  onclick="PF('#{pickUserDialogVar}').hide();" />
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>

    <p:dialog header="部門" widgetVar="#{pickUserSelDepDialogVar}" modal="true" resizable="false">
        <p:outputPanel id="#{pickUserSelDepDialogID}">
            <cp:depTree model="#{pickUserComponent.selectDepTreeManager}"  update="#{pickUserDialogID}" 
                        dlgName="#{pickUserSelDepDialogVar}"   btnShow="true" >
                <f:actionListener for="actionEvent"  binding="#{pickUserComponent.doSelectDep()}"/>
            </cp:depTree>
        </p:outputPanel>
    </p:dialog>

</html>
