<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:cp="http://java.sun.com/jsf/composite/components"
      >



    <p:dialog widgetVar="dlgTraceAction" 
              header="加入追蹤"
              resizable="false"
              position="left top"
              modal="true">
        <p:ajax event="close"  onstart="showLoad();" 
                oncomplete="hideLoad();"
                listener="#{workReportTraceComponents.close()}"
                process="@this" />
        <p:outputPanel id="dlgTraceAction_view" 
                       style="width: 900px;">

            <p:scrollPanel style="height:550px" 
                           mode="native" >
                <p:panelGrid  columns="2">
                    <p:outputLabel value="工作報告主題："/>
                    <p:outputLabel value="#{workReportTraceComponents.title}" 
                                   style="white-space: normal; width: 600px;"
                                   escape="false"/>
                    <p:outputLabel value="追蹤日期："/>
                    <p:calendar 
                        id="dlgTraceAction_view_noticeDate"
                        pattern="yyyy/MM/dd"
                        navigator="true" 
                        value="#{workReportTraceComponents.noticeDate}"
                        mode="popup" 
                        showOn="button" >
                    </p:calendar>
                    <p:outputLabel value="追蹤事項："/>
                    <p:editor widgetVar="dlgTraceAction_view_wvTraceMemo" 
                              id="dlgTraceAction_view_memo"
                              value="#{workReportTraceComponents.memo}"
                              converter="#{editorConverter}"
                              controls="font size bold italic underline color highlight"
                              height="150"
                              style="width: 600px; " >
                    </p:editor>
                    <p:outputLabel value="追蹤方式："/>
                    <p:panelGrid columns="3" id="dlgTraceAction_view_traceRadio_panel_id"
                                 columnClasses="topAligned,topAligned,topAligned">
                        <p:selectOneRadio id="dlgTraceAction_view_traceRadio" 
                                          value="#{workReportTraceComponents.traceRadio}"
                                          layout="custom">
                            <p:ajax event="change"                                     
                                    onstart="showLoad();" 
                                    listener="#{workReportTraceComponents.onChangeTraceRadio()}"
                                    oncomplete="hideLoad();"
                                    process="@this dlgTraceAction_view_memo dlgTraceAction_view_noticeDate"/>
                            <f:selectItem itemLabel="自行追蹤" 
                                          itemValue="0" />
                            <f:selectItem itemLabel="邀請其他人追蹤" 
                                          itemValue="1" />
                            <f:selectItem itemLabel="所屬部門追蹤" 
                                          itemValue="2" />
                        </p:selectOneRadio> 
                        <p:fieldset legend="個人" style="margin-left: -18px">
                            <p:panelGrid columns="2" 
                                         style=" height:75px ">
                                <p:radioButton for="dlgTraceAction_view_traceRadio" 
                                               itemIndex="0" />
                                <p:outputLabel value="自行追蹤"/>

                                <p:radioButton for="dlgTraceAction_view_traceRadio" 
                                               itemIndex="1" />
                                <p:outputLabel value="邀請其他人追蹤"/>
                            </p:panelGrid>
                            <p:fieldset legend="追蹤人員">
                                <p:dataTable value="#{workReportTraceComponents.traceUsers}" 
                                             var="u" 
                                             paginator="true" 
                                             rows="10"
                                             scrollable="true" 
                                             scrollHeight="130"
                                             style=" width: 300px;">
                                    <p:column headerText="暱稱" >
                                        <h:outputText value="#{u.name}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:fieldset>
                        </p:fieldset>
                        <p:fieldset legend="部門">
                            <p:panelGrid columns="2" 
                                         style=" height:75px ">
                                <p:radioButton for="dlgTraceAction_view_traceRadio" 
                                               itemIndex="2" />
                                <p:outputLabel value="所屬部門追蹤"/>
                                <p:outputLabel value=""/>
                            </p:panelGrid>
                            <p:fieldset legend="追蹤部門">
                                <p:dataTable value="#{workReportTraceComponents.traceDeps}" 
                                             var="o"  
                                             paginator="true" 
                                             rows="10"
                                             scrollable="true" 
                                             scrollHeight="130"
                                             style=" width: 300px;">
                                    <p:column headerText="單位" >
                                        <h:outputText value=" #{o.name}"/>
                                    </p:column>
                                </p:dataTable>
                            </p:fieldset>
                        </p:fieldset>
                    </p:panelGrid>
                    <p:outputPanel/>
                    <p:outputLabel value="註：追蹤人員/追蹤部門列表，僅顯示追蹤尚未點選已完成的暱稱、部門清單。" style="color: red;"/>
                </p:panelGrid>
            </p:scrollPanel>
            <p:panelGrid  columns="2">
                <p:commandButton value="確定"                                  
                                 onclick="showLoad(); saveHTML('dlgTraceAction_view_wvTraceMemo');" 
                                 actionListener="#{workReportTraceComponents.saveTrace()}"      
                                 oncomplete="hideLoad();"
                                 process="@this dlgTraceAction_view">
                </p:commandButton>
                <p:commandButton value="取消"
                                 onclick="showLoad();"
                                 oncomplete="hideLoad();"
                                 actionListener="#{workReportTraceComponents.close()}" 
                                 process="@this"/>
            </p:panelGrid>
        </p:outputPanel>
    </p:dialog>

    <!--追蹤人員-->
    <p:dialog header="追蹤人員" 
              widgetVar="dlgTraceActionUsers" 
              modal="true" >
        <p:ajax event="close"  onstart="showLoad();" 
                oncomplete="hideLoad();"
                listener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.close()}"
                process="@this" />
        <p:outputPanel id="dlgTraceActionUsers_view" 
                       style="width: 900px;">
            <p:remoteCommand name="traceActionUsersListViewDoFilterName"    actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.filterName()}" 
                             onstart="showLoad();"  oncomplete="hideLoad();"
                             process="dlgTraceActionUsers_view_traceUserName @this dlgTraceActionUsers_view_listView "
                             update="dlgTraceActionUsers_view_listView" />
            <p:panelGrid columns="8" >
                <p:outputLabel value="部門"/>
                <p:commandButton icon="ui-icon-search" 
                                 actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.loadDepTree()}"
                                 oncomplete="hideLoad();PF('dlgTraceActionUsers_deptUnitDlg').show();"
                                 update="dlgTraceActionUsers_dep"
                                 onclick="showLoad();"
                                 process="@this">
                </p:commandButton>
                <p:outputLabel value="使用者暱稱"/>
                <p:inputText id="dlgTraceActionUsers_view_traceUserName" 
                             placeholder="Search"  onkeydown="executeScriptByEnter(event, 'traceActionUsersListViewDoFilterName();');"
                             value="#{workReportTraceComponents.workReportTraceOtherPersonComponent.traceUserName}">
                </p:inputText>
                <p:commandButton icon="ui-icon-search"
                                 onclick="traceActionUsersListViewDoFilterName();"
                                 process="@this">
                </p:commandButton>
                <p:outputLabel value="群組"/>
                <p:selectOneMenu id="dlgTraceActionUsers_view_groupSetup" 
                                 value="#{workReportTraceComponents.workReportTraceOtherPersonComponent.selWRGroupVOs}" >
                    <f:selectItem itemValue="" itemLabel="請選擇" />
                    <f:selectItems value="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupVOs}"
                                   />
                    <p:ajax event="change"
                            onstart="showLoad();"
                            oncomplete="hideLoad();"
                            listener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.changeGroupSelectItem()}"
                            process="@this dlgTraceActionUsers_view_groupSetup"
                            update="dlgTraceActionUsers_view_listView" />
                </p:selectOneMenu>
                <p:commandButton icon="fa fa-plus"
                                 onclick="showLoad();"
                                 actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.toGroupManagerDialog()}"
                                 update="pt_group_setup_private_dlg_panel_id"
                                 oncomplete="hideLoad();PF('pt_group_setup_private_dlg_wv').show();"
                                 >

                </p:commandButton>
            </p:panelGrid>
            <h:panelGrid id="dlgTraceActionUsers_view_listView" 
                         columns="3" 
                         columnClasses="topAligned,topAligned">

                <p:dataTable id="dlgTraceActionUsers_view_dtSource" 
                             widgetVar="dlgTraceActionUsers_view_wvSource" 
                             var="u" 
                             value="#{workReportTraceComponents.workReportTraceOtherPersonComponent.dataPickList.sourceData}"
                             selection="#{workReportTraceComponents.workReportTraceOtherPersonComponent.dataPickList.sourceSelected}"
                             rowKey="#{u.sid}" 
                             rowIndexVar="rowIndex" 
                             selectionMode="single" 
                             paginator="true" 
                             rows="20" 
                             scrollHeight="100" 
                             scrollable="true" 
                             resizableColumns="true" 
                             liveResize="true">
                    <p:ajax event="rowDblselect" 
                            listener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.dataPickList.btnAddRow}"
                            onstart="showLoad();" 
                            process="@this dlgTraceActionUsers_view_dtSource "
                            update="dlgTraceActionUsers_view_dtTarget dlgTraceActionUsers_view_dtSource"
                            oncomplete="hideLoad();" />
                    <p:column headerText="序" 
                              styleClass="alignCenter" 
                              width="25">
                        <h:outputText value="#{rowIndex + 1}" />
                    </p:column>
                    <p:column headerText="部門" 
                              width="110">
                        <h:outputText value="#{u.departmentName}" />
                    </p:column>
                    <p:column headerText="名稱">
                        <h:outputText value="#{u.name}" />
                    </p:column>
                </p:dataTable>
                <p:panelGrid columns="1">
                    <p:commandButton icon="ui-icon-arrow-1-e" 
                                     title="add"
                                     process="@this dlgTraceActionUsers_view_dtSource"
                                     update="dlgTraceActionUsers_view_dtTarget dlgTraceActionUsers_view_dtSource"
                                     actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.dataPickList.btnAddRow}"
                                     onclick="showLoad();" 
                                     oncomplete="hideLoad();"
                                     >
                    </p:commandButton>
                    <p:commandButton icon="ui-icon-arrowstop-1-e" 
                                     title="Add All"
                                     process="@this dlgTraceActionUsers_view_dtSource"
                                     update="dlgTraceActionUsers_view_dtTarget dlgTraceActionUsers_view_dtSource"
                                     actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.dataPickList.btnAddAllRow}"
                                     onclick="showLoad();" 
                                     oncomplete="hideLoad();">
                    </p:commandButton>
                    <p:commandButton icon="ui-icon-arrow-1-w" 
                                     title="Remove"
                                     process="@this dlgTraceActionUsers_view_dtTarget"
                                     update="dlgTraceActionUsers_view_dtSource dlgTraceActionUsers_view_dtTarget"
                                     actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.dataPickList.btnRemoveRow}"
                                     onclick="showLoad();" 
                                     oncomplete="hideLoad();">
                    </p:commandButton>
                    <p:commandButton icon="ui-icon-arrowstop-1-w" 
                                     title="Remove All" 
                                     process="@this dlgTraceActionUsers_view_dtTarget"
                                     update="dlgTraceActionUsers_view_dtSource dlgTraceActionUsers_view_dtTarget"
                                     actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.dataPickList.btnRemoveAllRow}"
                                     onclick="showLoad();"
                                     oncomplete="hideLoad();"
                                     >
                    </p:commandButton>
                </p:panelGrid>
                <p:dataTable id="dlgTraceActionUsers_view_dtTarget"
                             widgetVar="dlgTraceActionUsers_view_wvTarget" 
                             var="u" 
                             value="#{workReportTraceComponents.workReportTraceOtherPersonComponent.dataPickList.targetData}"
                             selection="#{workReportTraceComponents.workReportTraceOtherPersonComponent.dataPickList.targetSelected}"
                             rowKey="#{u.sid}" 
                             rowIndexVar="rowIndex"
                             selectionMode="single"
                             paginator="true" 
                             rows="20" 
                             scrollHeight="100" 
                             scrollable="true" 
                             resizableColumns="true"
                             liveResize="true">
                    <p:ajax event="rowDblselect" 
                            process="@this dlgTraceActionUsers_view_dtTarget"
                            update="dlgTraceActionUsers_view_dtSource dlgTraceActionUsers_view_dtTarget"
                            listener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.dataPickList.btnRemoveRow}"
                            onstart="showLoad();" 
                            oncomplete="hideLoad();"
                            />
                    <p:column headerText="序" 
                              styleClass="alignCenter" 
                              width="25">
                        <h:outputText value="#{rowIndex + 1}" />
                    </p:column>
                    <p:column headerText="部門" 
                              width="110">
                        <h:outputText value="#{u.departmentName}" />
                    </p:column>
                    <p:column headerText="名稱">
                        <h:outputText value="#{u.name}" />
                    </p:column>
                </p:dataTable>
            </h:panelGrid>
            <p:panelGrid columns="2">
                <p:commandButton value="確定" 
                                 onclick="showLoad();"
                                 actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.saveTrace()}"
                                 oncomplete="hideLoad();"
                                 />
                <p:commandButton value="取消" 
                                 onclick="showLoad();"
                                 oncomplete="hideLoad();"
                                 actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.close()}"
                                 process="@this" >
                </p:commandButton>
            </p:panelGrid>

        </p:outputPanel>
    </p:dialog>

    <p:dialog  header="群組設定"
               id="pt_group_setup_private_dlg_id"
               position="left top"
               modal="true" 
               widgetVar="pt_group_setup_private_dlg_wv" 
               draggable="false" 
               closable="false"
               resizable="false"
               style="min-width:50%"
               >

        <p:panel id="pt_group_setup_private_dlg_panel_id" style="border:none">
            <p:remoteCommand name="groupDoFilterName"    actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.callSearch()}" 
                             onstart="showLoad();"  oncomplete="hideLoad();"
                             process="pt_group_setup_private_dlg_panel_status @this pt_group_setup_private_dlg_panel_filterName "
                             update="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.group_setup_private_dlg_panel_table_id}" />
            <p:panelGrid columns="2" styleClass="width100 marginTop10" id="pt_group_setup_private_dlg_panel_query_condition" >
                <p:panelGrid columns="5" >
                    <p:outputLabel value="使用狀態"/>
                    <p:selectOneMenu id="pt_group_setup_private_dlg_panel_status" value="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.statsId}" >
                        <f:selectItem itemValue="" itemLabel="全部" />
                        <f:selectItems value="#{activationItemBean.activationItems}" />
                    </p:selectOneMenu>
                    <p:inputText id="pt_group_setup_private_dlg_panel_filterName" value="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.filterValue}"
                            onkeydown="executeScriptByEnter(event, 'groupDoFilterName();');"     style="width: 200px;" placeholder="Search"/>
                    <p:commandButton icon="fa fa-search" onclick="groupDoFilterName()" process="@this" />
                </p:panelGrid>
                <p:panelGrid columns="2" styleClass="alignRight">
                    <p:commandButton value="新增" 
                                     onclick="showLoad();"
                                     update="pt_group_setup_private_setting_dlg_id"
                                     process="@this"
                                     actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.addWRGroupSetupPrivateData()}" 
                                     oncomplete="hideLoad();PF('#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.group_setup_private_setting_dlg_wv}').show()"
                                     />
                </p:panelGrid>
            </p:panelGrid>
            <!-- 群組列表 -->
            <p:dataTable id="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.group_setup_private_dlg_panel_table_id}" value="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.wrGroupVOs}" 
                         widgetVar="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.group_setup_private_dlg_panel_table_wv}"
                         var="item" 
                         rowIndexVar="rowIndex"
                         rowKey="#{item.group_sid}"
                         selectionMode="single"
                         scrollHeight="450" scrollable="true" paginator="true" rows="20"
                         selection="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.selectItem}"

                         >
                <p:ajax event="rowDblselect" 
                        onstart="showLoad();"
                        process="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.group_setup_private_dlg_panel_table_id}"
                        listener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.loadWRGroupSetupPrivateData()}"
                        oncomplete="hideLoad();PF('#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.group_setup_private_setting_dlg_wv}').show()"
                        update="pt_group_setup_private_setting_dlg_panel_id"/>
                <p:column headerText="序" width="4%" style="text-align:center;">
                    <h:outputText value="#{rowIndex+1}" />
                </p:column>
                <p:column headerText="群組名稱" >
                    <h:outputText value="#{item.group_name}"  />
                </p:column>
                <p:column headerText="群組資訊" >
                    <p:outputLabel value="#{item.info}" escape="false" 
                                   styleClass="autoSkip"/>
                    <p:tooltip for="@previous" value="#{item.info}"
                               escape="false" style="white-space: pre;"
                               trackMouse="true" />
                </p:column>
                <p:column headerText="備註" >
                    <h:outputText value="#{item.note}" />
                </p:column>
                <p:column headerText="使用狀態">
                    <h:outputText value="#{item.status}" />
                </p:column>
                <p:column headerText="刪除" >
                    <p:commandButton value="刪除"
                                     onclick="showLoad();"
                                     actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.toDeleteWRGroup(item.group_sid)}"
                                     process="@this #{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.group_setup_private_dlg_panel_table_id}" 
                                     update="@widgetVar(pt_group_setup_private_rm_dlg_wv) #{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.group_setup_private_dlg_panel_table_id}"
                                     oncomplete="PF('pt_group_setup_private_rm_dlg_wv').show();hideLoad();"
                                     >
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <br/>
            <p:row>
                <p:commandButton value="離開" 
                                 actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.closeGroupManager()}"
                                 onclick="showLoad();"
                                 oncomplete="hideLoad();PF('pt_group_setup_private_dlg_wv').hide();"
                                 />
            </p:row>
        </p:panel>
    </p:dialog>

    <!-- 刪除群組 -->
    <p:dialog widgetVar="pt_group_setup_private_rm_dlg_wv" 
              modal="true" header="確認" resizable="false">
        <h:outputText value="是否刪除該群組 (#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.deleteName})"/>
        <p/>
        <p:commandButton value="確定" 
                         actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.doDeleteWRGroup()}" 
                         onclick="showLoad();"
                         process="@this"
                         oncomplete="hideLoad();PF('pt_group_setup_private_rm_dlg_wv').hide()"
                         />
        <p:commandButton value="取消" onclick="PF('pt_group_setup_private_rm_dlg_wv').hide()"/>
    </p:dialog>

    <p:dialog  header="群組設定"
               id="pt_group_setup_private_setting_dlg_id"
               position="left top"
               width="50%"
               modal="true" 
               widgetVar="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.group_setup_private_setting_dlg_wv}" 
               draggable="false" 
               closable="false"
               resizable="false"
               >
        <p:panel id="pt_group_setup_private_setting_dlg_panel_id" style="border:none">
            <p:remoteCommand name="groupMaintainDoFilterName"    actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.filterName()}" 
                             onstart="showLoad();"  oncomplete="hideLoad();"
                             process="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.groupMaintainComponent_pickPanel} @this groupMaintainComponent_filterName "
                             update="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.groupMaintainComponent_pickPanel}" />
            <p:panelGrid  >
                <p:row>
                    <p:column colspan="2">
                        <p:outputLabel value="使用狀態"/>
                    </p:column>
                    <p:column colspan="1">
                        <p:selectOneMenu  value="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.statusID}">
                            <f:selectItems value="#{activationItemBean.activationItems}" />
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="1">
                        <p:outputLabel value="群組名稱" />
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="＊" styleClass="redColor" style="font-weight: bold;"/>
                    </p:column>
                    <p:column colspan="1">
                        <p:inputTextarea  value="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.groupName}"
                                          rows="1" cols="30" maxlength="20" placeholder="限20個中文字"/>
                    </p:column>
                </p:row>
                <p:row style="vertical-align: top" >
                    <p:column colspan="2">
                        <p:outputLabel value="備註事項" />
                    </p:column>
                    <p:column colspan="1">
                        <p:inputTextarea  value="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.note}"
                                          rows="5" cols="30" maxlength="50" placeholder="限50個中文字"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:separator />
            <p:panel id="pt_group_setup_private_setting_dlg_add_panel_id" style="border:none;">
                <!-- 成員選擇畫面-->
                <p:panel  style="border:none;">
                    <p:panelGrid columns="10">
                        <p:outputLabel value="部門："/>
                        <p:commandButton icon="fa fa-gear"  actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.loadDepTree()}"
                                         onclick="showLoad();"   process="@this #{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.groupMaintainComponent_pickPanel}" update="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.wrGroup_dep}"
                                         oncomplete="hideLoad();PF('#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.wrGroup_deptUnitDlg}').show()"/>
                        <p:outputLabel value="使用者暱稱"/>
                        <p:inputText  id="groupMaintainComponent_filterName"
                                      value="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.filterNameValue}"
                                      onkeydown="executeScriptByEnter(event, 'groupMaintainDoFilterName();');"
                                      />

                        <p:commandButton icon="fa fa-search"   onclick="groupMaintainDoFilterName();" 

                                         />
                    </p:panelGrid>
                    <p:pickList  id="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.groupMaintainComponent_pickPanel}" value="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.pickUsers}" var="u"  converter="#{userViewVOConverter}"
                                 itemLabel="#{u.name}" itemValue="#{u}"
                                 showSourceFilter="true"
                                 showTargetFilter="true"
                                 filterMatchMode="contains">

                        <f:facet name="sourceCaption">未選取清單</f:facet>
                        <f:facet name="targetCaption">已選取清單</f:facet>
                        <p:column>
                            <h:outputText value="#{u.departmentName} - #{u.name}"/>
                        </p:column>
                    </p:pickList>
                </p:panel>
            </p:panel>
            <p:row >
                <p:commandButton value="確定" 
                                 onclick="showLoad();" actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.save()}" oncomplete="hideLoad();"
                                 process="pt_group_setup_private_setting_dlg_id"/>
                <p:commandButton value="取消"
                                 onclick="showLoad();" actionListener="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.clear()}"
                                 oncomplete="hideLoad();PF('#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.group_setup_private_setting_dlg_wv}').hide();"
                                 />
            </p:row>


        </p:panel>
    </p:dialog>

    <p:dialog header="部門" widgetVar="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.wrGroup_deptUnitDlg}" modal="true" resizable="false">
        <p:outputPanel id="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.wrGroup_dep}">
            <cp:depTree model="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.depTreeManager}" 
                        dlgName="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.wrGroup_deptUnitDlg}"   btnShow="true"  >
                <f:actionListener for="actionEvent"
                                  binding="#{workReportTraceComponents.workReportTraceOtherPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.doSelectOrg()}" />
            </cp:depTree>
        </p:outputPanel>
    </p:dialog>

    <p:dialog header="部門" widgetVar="dlgTraceActionUsers_deptUnitDlg" modal="true" resizable="false">
        <p:outputPanel id="dlgTraceActionUsers_dep">
            <cp:depTree model="#{workReportTraceComponents.workReportTraceOtherPersonComponent.depTreeManager}" 
                        dlgName="dlgTraceActionUsers_deptUnitDlg"   btnShow="true"  >
                <f:actionListener for="actionEvent"
                                  binding="#{workReportTraceComponents.workReportTraceOtherPersonComponent.doSelectOrg()}" />
            </cp:depTree>
        </p:outputPanel>
    </p:dialog>


</html>
