<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:cp="http://java.sun.com/jsf/composite/components"
      >
 
    <p:dialog header="轉寄" widgetVar="dlgForward" draggable="true" modal="true" position="center center-50" style="#{workReportTransComponentsHeight}">
        <p:ajax event="close"  onstart="showLoad();" 
                oncomplete="hideLoad();"
                listener="#{workReportTraceComponents.clear()}"
                process="@this" />
        <p:outputPanel id="opForward" style="#{workReportTransComponentsHeight}">
            <p:panelGrid columns="2"  >
                <p:commandButton value="部門" onclick="showLoad();" oncomplete="hideLoad();" disabled="#{workReportTraceComponents.showDep}"
                                 update="opForward" process="@this" actionListener="#{workReportTraceComponents.changeToDep()}" >
                </p:commandButton>
                <p:commandButton value="個人" onclick="showLoad();" oncomplete="hideLoad();" disabled="#{!workReportTraceComponents.showDep}"
                                 update="opForward" process="@this" actionListener="#{workReportTraceComponents.changeToPerson()}" >
                </p:commandButton>
            </p:panelGrid>
            <p:separator />
            <p:outputPanel id="workReportTransDepComponents_panelID" rendered="#{workReportTraceComponents.showDep}" >
                <ui:include src="../worp/workReportTransDepComponents.xhtml">
                    <ui:param name="workReportTransDepComponent" value="#{workReportTraceComponents.transDepComponent}" />
                    <ui:param name="workReportTransDepComponentsHeight" value="#{workReportTransDepComponentsHeight}" />
                </ui:include>
            </p:outputPanel>
            <p:outputPanel id="workReportTransPersonComponents_panelID" rendered="#{!workReportTraceComponents.showDep}">
                <ui:include src="../worp/workReportTransPersonComponents.xhtml">
                    <ui:param name="workReportTransPersonComponent" value="#{workReportTraceComponents.transPersonComponent}" />
                    <ui:param name="workReportTransDepComponentsHeight" value="#{workReportTransPersonComponentsHeight}" />
                </ui:include>
            </p:outputPanel>
        </p:outputPanel>
    </p:dialog>


    <p:dialog  header="群組設定"
               id="trans_group_setup_private_dlg_id"
               position="left top"
               modal="true" 
               widgetVar="trans_group_setup_private_dlg_wv" 
               draggable="false" 
               closable="false"
               resizable="false"
               style="height: 600px;"
               >

        <p:panel id="trans_group_setup_private_dlg_panel_id" style="border:none;height: 600px">
            <p:remoteCommand name="transgroupDoFilterName"    actionListener="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.callSearch()}" 
                             onstart="showLoad();"  oncomplete="hideLoad();"
                             process="trans_group_setup_private_dlg_panel_status @this trans_group_setup_private_dlg_panel_filterName "
                             update="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.group_setup_private_dlg_panel_table_id}" />
            <p:panelGrid columns="2" styleClass="width100 marginTop10" id="trans_group_setup_private_dlg_panel_query_condition" >
               
                <p:panelGrid columns="5" >
                    <p:outputLabel value="使用狀態"/>
                    
                    <p:selectOneMenu id="trans_group_setup_private_dlg_panel_status" value="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.statsId}" >
                        <f:selectItem itemValue="" itemLabel="全部" />
                        <f:selectItems value="#{activationItemBean.activationItems}" />
                    </p:selectOneMenu>
                    <p:inputText id="trans_group_setup_private_dlg_panel_filterName" value="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.filterValue}"
                           onkeydown="executeScriptByEnter(event, 'transgroupDoFilterName();');"      style="width: 200px;" placeholder="Search"/>
                    <p:commandButton icon="fa fa-search" onclick="transgroupDoFilterName()" process="@this" />
                </p:panelGrid>
                <p:panelGrid columns="2" styleClass="alignRight">
                    <p:commandButton value="新增" 
                                     onclick="showLoad();"
                                     update="trans_group_setup_private_setting_dlg_id"
                                     process="@this"
                                     actionListener="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.addWRGroupSetupPrivateData()}" 
                                     oncomplete="hideLoad();PF('#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.group_setup_private_setting_dlg_wv}').show()"
                                     />
                </p:panelGrid>
            </p:panelGrid>
            <!-- 群組列表 -->
            <p:dataTable id="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.group_setup_private_dlg_panel_table_id}" value="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.wrGroupVOs}" 
                         widgetVar="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.group_setup_private_dlg_panel_table_wv}"
                         var="item" 
                         rowIndexVar="rowIndex"
                         rowKey="#{item.group_sid}"
                         selectionMode="single"
                         scrollHeight="400" scrollable="true" paginator="true" rows="20"
                         selection="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.selectItem}"

                         >
                <p:ajax event="rowDblselect" 
                        onstart="showLoad();"
                        process="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.group_setup_private_dlg_panel_table_id}"
                        listener="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.loadWRGroupSetupPrivateData()}"
                        oncomplete="hideLoad();PF('#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.group_setup_private_setting_dlg_wv}').show()"
                        update="trans_group_setup_private_setting_dlg_id"/>
                <p:column headerText="序" width="4%" style="text-align:center;">
                    <h:outputText value="#{rowIndex+1}" />
                </p:column>
                <p:column headerText="群組名稱" >
                    <h:outputText value="#{item.group_name}"  />
                </p:column>
                <p:column headerText="群組資訊" >
                    <p:outputLabel value="#{item.info}" escape="false" 
                                   styleClass="autoSkip"/>
                    <p:tooltip for="@previous" value="#{item.info}"
                               escape="false" style="white-space: pre;"
                               trackMouse="true" />
                </p:column>
                <p:column headerText="備註" >
                    <h:outputText value="#{item.note}" />
                </p:column>
                <p:column headerText="使用狀態">
                    <h:outputText value="#{item.status}" />
                </p:column>
                <p:column headerText="刪除" >
                    <p:commandButton value="刪除"
                                     onclick="showLoad();"
                                     actionListener="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.toDeleteWRGroup(item.group_sid)}"
                                     process="@this #{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.group_setup_private_dlg_panel_table_id}" 
                                     update="@widgetVar(trans_group_setup_private_rm_dlg_wv) #{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.group_setup_private_dlg_panel_table_id}"
                                     oncomplete="PF('trans_group_setup_private_rm_dlg_wv').show();hideLoad();"
                                     >
                    </p:commandButton>
                </p:column>
            </p:dataTable>
            <br/>
            <p:row>
                <p:commandButton value="離開" 
                                 actionListener="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.closeGroupManager()}"
                                 onclick="showLoad();"
                                 oncomplete="hideLoad();PF('trans_group_setup_private_dlg_wv').hide();"
                                 />
            </p:row>
        </p:panel>
    </p:dialog>

    <!-- 刪除群組 -->
    <p:dialog widgetVar="trans_group_setup_private_rm_dlg_wv" 
              modal="true" header="確認" resizable="false">
        <h:outputText value="是否刪除該群組 (#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.deleteName})"/>
        <p/>
        <p:commandButton value="確定" 
                         actionListener="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.doDeleteWRGroup()}" 
                         onclick="showLoad();"
                         process="@this"
                         oncomplete="hideLoad();PF('trans_group_setup_private_rm_dlg_wv').hide()"
                         />
        <p:commandButton value="取消" onclick="PF('trans_group_setup_private_rm_dlg_wv').hide()"/>
    </p:dialog>


    <p:dialog  header="群組設定"
               id="trans_group_setup_private_setting_dlg_id"
               position="left top"
               width="50%"
               modal="true" 
               widgetVar="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.group_setup_private_setting_dlg_wv}" 
               draggable="false" 
               closable="false"
               resizable="false"
               >
        <p:panel id="trans_group_setup_private_setting_dlg_panel_id" style="border:none">
            <p:remoteCommand name="transgroupMaintainDoFilterName"    actionListener="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.filterName()}" 
                             onstart="showLoad();"  oncomplete="hideLoad();"
                             process="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.groupMaintainComponent_pickPanel} @this transgroupMaintainComponent_filterName "
                             update="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.groupMaintainComponent_pickPanel}" />
            <p:panelGrid  >
                <p:row>
                    <p:column colspan="2">
                        <p:outputLabel value="使用狀態"/>
                    </p:column>
                    <p:column colspan="1">
                        <p:selectOneMenu  value="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.statusID}">
                            <f:selectItems value="#{activationItemBean.activationItems}" />
                        </p:selectOneMenu>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="1">
                        <p:outputLabel value="群組名稱" />
                    </p:column>
                    <p:column colspan="1">
                        <p:outputLabel value="＊" styleClass="redColor" style="font-weight: bold;"/>
                    </p:column>
                    <p:column colspan="1">
                        <p:inputTextarea  value="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.groupName}"
                                          rows="1" cols="30" maxlength="20" placeholder="限20個中文字"/>
                    </p:column>
                </p:row>
                <p:row style="vertical-align: top" >
                    <p:column colspan="2">
                        <p:outputLabel value="備註事項" />
                    </p:column>
                    <p:column colspan="1">
                        <p:inputTextarea  value="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.note}"
                                          rows="5" cols="30" maxlength="50" placeholder="限50個中文字"/>
                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:separator />
            <p:panel id="trans_group_setup_private_setting_dlg_add_panel_id" style="border:none;">
                <!-- 成員選擇畫面-->
                <p:panel  style="border:none;">
                    <p:panelGrid columns="10">
                        <p:outputLabel value="部門："/>
                        <p:commandButton icon="fa fa-gear"  actionListener="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.loadDepTree()}"
                                         onclick="showLoad();"   process="@this #{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.groupMaintainComponent_pickPanel}" update="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.wrGroup_dep}"
                                         oncomplete="hideLoad();PF('#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.wrGroup_deptUnitDlg}').show()"/>
                        <p:outputLabel value="使用者暱稱"/>
                        <p:inputText  id="transgroupMaintainComponent_filterName"
                                      value="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.filterNameValue}"
                                      onkeydown="executeScriptByEnter(event, 'transgroupMaintainDoFilterName();');"
                                      />

                        <p:commandButton icon="fa fa-search"   onclick="transgroupMaintainDoFilterName();" 

                                         />
                    </p:panelGrid>
                    <p:pickList  id="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.groupMaintainComponent_pickPanel}" value="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.pickUsers}" var="u"  converter="#{userViewVOConverter}"
                                 itemLabel="#{u.name}" itemValue="#{u}"
                                 showSourceFilter="true"
                                 showTargetFilter="true"
                                 filterMatchMode="contains">

                        <f:facet name="sourceCaption">未選取清單</f:facet>
                        <f:facet name="targetCaption">已選取清單</f:facet>
                        <p:column>
                            <h:outputText value="#{u.departmentName} - #{u.name}"/>
                        </p:column>
                    </p:pickList>
                </p:panel>
            </p:panel>
            <p:row >
                <p:commandButton value="確定" 
                                 onclick="showLoad();" actionListener="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.save()}" oncomplete="hideLoad();"
                                 process="trans_group_setup_private_setting_dlg_id"/>
                <p:commandButton value="取消"
                                 onclick="showLoad();" actionListener="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.clear()}"
                                 oncomplete="hideLoad();PF('#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.group_setup_private_setting_dlg_wv}').hide();"
                                 />
            </p:row>


        </p:panel>
    </p:dialog>

    <p:dialog header="部門" widgetVar="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.wrGroup_deptUnitDlg}" modal="true" resizable="false">
        <p:outputPanel id="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.wrGroup_dep}">
            <cp:depTree model="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.depTreeManager}" 
                        dlgName="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.wrGroup_deptUnitDlg}"   btnShow="true"  >
                <f:actionListener for="actionEvent"
                                  binding="#{workReportTraceComponents.transPersonComponent.wrGroupSetupPrivateComponent.maintainComponent.doSelectOrg()}" />
            </cp:depTree>
        </p:outputPanel>
    </p:dialog>

    <p:dialog header="部門" widgetVar="dlgTransActionUsers_deptUnitDlg" modal="true" resizable="false">
        <p:outputPanel id="dlgTransActionUsers_dep">
            <cp:depTree model="#{workReportTraceComponents.transPersonComponent.depTreeManager}" 
                        dlgName="dlgTransActionUsers_deptUnitDlg"   btnShow="true"  >
                <f:actionListener for="actionEvent"
                                  binding="#{workReportTraceComponents.transPersonComponent.doSelectOrg()}" />
            </cp:depTree>
        </p:outputPanel>
    </p:dialog>

    <!--轉寄個人使用者確認 -->
    <p:dialog header="確認" id="dlgCheckUsers_id" widgetVar="dlgCheckUsers" resizable="false" draggable="false" modal="true" position="left top" >
        <p:scrollPanel style="height:80px" mode="native"> 
            <p:outputLabel value="#{workReportTraceComponents.transPersonComponent.duplicateMessage}" escape="false" />
        </p:scrollPanel>
        <p:panelGrid columns="2">
            <p:commandButton  value="確定" 
                              onclick="showLoad();" 
                              actionListener="#{workReportTraceComponents.transPersonComponent.doSaveTransPerson()}"
                              oncomplete="hideLoad();PF('dlgCheckUsers').hide();"
                              process="@this pgMember messageCss">
            </p:commandButton>
            <p:commandButton value="取消" oncomplete="PF('dlgCheckUsers').hide();" process="@this"/>
        </p:panelGrid>
    </p:dialog>
</html>
