<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:cp="http://java.sun.com/jsf/composite/components"
      >

    <!--部門-->
    <p:scrollPanel id="spForwardDepMode" style="#{workReportTransDepComponentsHeight}" mode="native"
                   >
        <p:panelGrid columns="2">
            <p:outputLabel for="forwardDepMode"  />
            <p:selectOneRadio id="forwardDepMode" value="#{workReportTransDepComponent.forwardDepModeByTree}"  >
                <p:ajax event="change"   listener="#{workReportTransDepComponent.changeForwardDepMode()}"
                        onstart="showLoad();" oncomplete="hideLoad();"
                        update="spForwardDepMode" process="@this" />             
                <f:selectItem itemLabel="清單模式" itemValue="false" />
                <f:selectItem itemLabel="組織樹模式" itemValue="true" />
            </p:selectOneRadio>
        </p:panelGrid>
        <p:separator/>
        <p:dataTable id="dtFordwardDep" widgetVar="wvFordwardDep" var="f" 
                     rowIndexVar="rowIndex"  value="#{workReportTransDepComponent.transOrgViewVOs}"
                     paginator="true" rows="20" 
                     scrollHeight="150" scrollable="true"
                     resizableColumns="true" liveResize="true">
            <p:column headerText="序" styleClass="alignCenter" width="25">
                <h:outputText value="#{rowIndex + 1}" />
            </p:column>
            <p:column headerText="轉發部門" width="250">
                <h:outputText value="#{f.transOrgName}" />
            </p:column>
            <p:column headerText="被轉發部門" width="250">
                <h:outputText value="#{f.transedOrgName}" />
            </p:column>
            <p:column headerText="轉發者-時間" >
                <h:outputText value="#{f.transUserName}" />
                <h:outputText value="-" >
                </h:outputText>
                <h:outputText value="#{f.transTime}" >
                </h:outputText>
                <h:outputText value="#{f.status}" />
            </p:column>
        </p:dataTable>
        <p:separator/>
        <p:panelGrid columns="3" style="width:100%" rendered="#{!workReportTransDepComponent.forwardDepModeByTree}">
            <p:outputPanel>
                <p:remoteCommand name="doTransfilterName"    actionListener="#{workReportTransDepComponent.doTransfilterName()}" 
                                 onstart="showLoad();"  oncomplete="hideLoad();"
                                 update="dtSourceOrg treeSourceOrg" process="@this transFilterDepName"  />
                <p:outputLabel value="部門："/>
                <p:inputText id="transFilterDepName"  value="#{workReportTransDepComponent.transFilterName}" onkeydown="executeScriptByEnter(event, 'doTransfilterName();');"/>
                <p:commandButton icon="fa fa-search"
                                 onclick="doTransfilterName();"
                                 process="@this" />
            </p:outputPanel>
            <p:selectBooleanCheckbox itemLabel="含子單位" value="#{workReportTransDepComponent.addChild}"  class="alignRight"  rendered="false" />
            <p:tooltip for="@previous" value="確定後一併選取子單位" trackMouse="true"/>                        
        </p:panelGrid>
        <p:outputPanel rendered="#{!workReportTransDepComponent.forwardDepModeByTree}">
            <h:panelGrid id="pgOrg" columns="3" columnClasses="topAligned,topAligned">

                <p:dataTable id="dtSourceOrg" widgetVar="wvSourceOrg" var="o" 
                             rowIndexVar="rowIndex"
                             value="#{workReportTransDepComponent.dataPickList.sourceData}" rowKey="#{o.sid}"
                             selection="#{workReportTransDepComponent.dataPickList.sourceSelected}"
                             paginator="true" rows="20" 
                             selectionMode="single" scrollHeight="100" scrollable="true"
                             resizableColumns="true" liveResize="true">
                    <p:ajax event="rowDblselect" 
                            listener="#{workReportTransDepComponent.dataPickList.btnAddRow}"
                            onstart="showLoad();" oncomplete="hideLoad();"
                            update=":formTemplate:pgOrg" process="@this :formTemplate:pgOrg" />
                    <p:column headerText="序" styleClass="alignCenter" width="25">
                        <h:outputText value="#{rowIndex + 1}" />
                    </p:column>
                    <p:column headerText="部門">
                        <h:outputText  value="#{o.name}"  />
                    </p:column>
                </p:dataTable>
                <p:panelGrid columns="1">
                    <p:commandButton icon="fa fa-angle-right" title="add"
                                     actionListener="#{workReportTransDepComponent.dataPickList.btnAddRow}"
                                     onclick="showLoad();" oncomplete="hideLoad();"
                                     update=":formTemplate:pgOrg" 
                                     process="@this :formTemplate:pgOrg">
                    </p:commandButton>
                    <p:commandButton icon="fa fa-angle-double-right" title="Add All"
                                     actionListener="#{workReportTransDepComponent.dataPickList.btnAddAllRow}"
                                     onclick="showLoad();" oncomplete="hideLoad();"
                                     update=":formTemplate:pgOrg" 
                                     process="@this :formTemplate:pgOrg">
                    </p:commandButton>
                    <p:commandButton icon="fa fa-angle-left" title="Remove"
                                     actionListener="#{workReportTransDepComponent.dataPickList.btnRemoveRow}"

                                     onclick="showLoad();" oncomplete="hideLoad();"
                                     update=":formTemplate:pgOrg" 
                                     process="@this :formTemplate:pgOrg">
                    </p:commandButton>
                    <p:commandButton icon="fa fa-angle-double-left" title="Remove All" 
                                     actionListener="#{workReportTransDepComponent.dataPickList.btnRemoveAllRow}"
                                     onclick="showLoad();" oncomplete="hideLoad();"
                                     update=":formTemplate:pgOrg" 
                                     process="@this :formTemplate:pgOrg">
                    </p:commandButton>
                </p:panelGrid>
                <p:dataTable id="dtTargetOrg" widgetVar="wvTargetOrg" var="o" 
                             value="#{workReportTransDepComponent.dataPickList.targetData}" rowKey="#{o.sid}"
                             selection="#{workReportTransDepComponent.dataPickList.targetSelected}"
                             rowIndexVar="rowIndex" 
                             paginator="true" rows="20" 
                             selectionMode="single" scrollHeight="100" scrollable="true"  
                             resizableColumns="true" liveResize="true">
                    <p:ajax event="rowDblselect" 
                            listener="#{workReportTransDepComponent.dataPickList.btnRemoveRow}"
                            onstart="showLoad();" oncomplete="hideLoad();"
                            update=":formTemplate:pgOrg" process="@this :formTemplate:pgOrg" />
                    <p:column headerText="序" styleClass="alignCenter" width="25">
                        <h:outputText value="#{rowIndex + 1}"  />
                    </p:column>
                    <p:column headerText="部門">
                        <h:outputText value="#{o.name}" />
                    </p:column>
                </p:dataTable>
            </h:panelGrid>
        </p:outputPanel>
        <p:outputPanel  id="treeSourceOrg" rendered="#{workReportTransDepComponent.forwardDepModeByTree}">
            <cp:depTree model="#{workReportTransDepComponent.depTreeManager}" 
                        dlgName="dlgTransActionOrg_deptUnitDlg"   btnShow="false"  >
            </cp:depTree>
        </p:outputPanel>

    </p:scrollPanel>
    <p:panelGrid columns="2">
        <p:commandButton value="確定"  actionListener="#{workReportTransDepComponent.saveDepInBox()}"
                         onclick="showLoad();" oncomplete="hideLoad();"
                         process="@this spForwardDepMode dtTargetOrg treeSourceOrg"/>
        <p:commandButton value="取消" process="@this" actionListener="#{workReportTransDepComponent.closeDialog()}"
                         />
    </p:panelGrid>
</html>
