<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html [
    <!ENTITY nbsp "&#160;"> 
]>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      >

    <p:panelGrid id="screen_view_query">
        <p:row>
            <p:column colspan="1">
                <p:outputLabel value="類型："/>
            </p:column>
            <p:column colspan="1">
                <p:selectOneMenu id="screen_view_query_categoryType"
                                 value="#{workReportTransSearchComponent.workReportSearchHeaderComponent.selectTag}" style="width: 80px;" >
                    <f:selectItem itemLabel="全部"   itemValue="" />
                    <f:selectItems value="#{workProjectTagItemBean.workProjectTagItems}"   />
                </p:selectOneMenu>
            </p:column>
            <p:column colspan="1">
                <p:outputLabel value="是否閱讀："/>
            </p:column>
            <p:column colspan="1">
                <p:selectOneMenu value="#{workReportTransSearchComponent.workReportSearchHeaderComponent.readStatus}" 
                                 style=" width: 80px" 
                                 styleClass="textEllipsis" >
                    <f:selectItem itemLabel="全部"   itemValue="" />
                    <f:selectItems value="#{transReadStatusItemBean.readStatusItems}"/>
                </p:selectOneMenu>
            </p:column>
            <p:column colspan="1" rendered="#{workReportTransSearchComponent.showSelectTransType}">
                <p:outputLabel value="寄發類型："/>
            </p:column>
            <p:column colspan="1" rendered="#{workReportTransSearchComponent.showSelectTransType}">
                <p:selectOneMenu value="#{workReportTransSearchComponent.workReportSearchHeaderComponent.selectTransType}" 
                                 style=" width: 80px" 
                                 styleClass="textEllipsis" >
                    <f:selectItem itemLabel="全部"   itemValue="" />
                    <f:selectItems value="#{transForwardTypeItemBean.transForwardTypesItems}"/>
                </p:selectOneMenu>
            </p:column>
            <p:column colspan="1" >
                <p:outputLabel value="#{workReportTransSearchComponent.selectAllOrgTitleName}："/>
            </p:column>
            <p:column colspan="1">
                <p:commandButton icon="ui-icon-search"
                                 actionListener="#{workReportTransSearchComponent.loadAllDepTree()}"
                                 onclick="showLoad();" 
                                 oncomplete="hideLoad();"
                                 process="@this">
                </p:commandButton>
            </p:column>
            <p:column colspan="1"  rendered="#{workReportTransSearchComponent.showSelectBaseOrg}">
                <p:panelGrid columns="2">
                    <p:outputLabel value="寄發至："/>
                    <p:commandButton icon="ui-icon-search"
                                     actionListener="#{workReportTransSearchComponent.loadBaseDepTree()}"
                                     onclick="showLoad();" 
                                     oncomplete="hideLoad();"
                                     process="@this">
                    </p:commandButton>
                </p:panelGrid>
            </p:column>
        </p:row>
        <p:row>
            <p:column colspan="1">
                <p:outputLabel value="主題："/>
            </p:column>
            <p:column colspan="1">
                <p:inputText value="#{workReportTransSearchComponent.workReportSearchHeaderComponent.title}" onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
            </p:column>
            <p:column colspan="1">
                <p:outputLabel value="內容："/>
            </p:column>
            <p:column colspan="1">
                <p:inputText value="#{workReportTransSearchComponent.workReportSearchHeaderComponent.content}" onkeydown="executeScriptByEnter(event, 'doSearchData();');"/>
            </p:column>
            <p:column colspan="1">
                <p:outputLabel value="#{workReportTransSearchComponent.personTitleName}："/>
            </p:column>
            <p:column colspan="1">
                <p:inputText value="#{workReportTransSearchComponent.workReportSearchHeaderComponent.personName}" onkeydown="executeScriptByEnter(event, 'doSearchData();');"  />
            </p:column>
        </p:row>
        <p:row>
            <p:column colspan="1">
                <p:outputLabel value="模糊搜尋："/>
            </p:column>
            <p:column colspan="1">
                <p:inputText value="#{workReportTransSearchComponent.workReportSearchHeaderComponent.allSearchText}" onkeydown="executeScriptByEnter(event, 'doSearchData();');" />
            </p:column>
            <p:column colspan="1"/>
            <p:column colspan="1" >
                <p:panelGrid columns="3">
                    <p:tabMenu id="dateBtn" activeIndex="#{workReportTransSearchComponent.workReportSearchHeaderComponent.dateTypeIndex}">
                        <p:menuitem value="上個月" process="@this updatedDate"  update="updatedDate @parent"  
                                    actionListener="#{workReportTransSearchComponent.workReportSearchHeaderComponent.changeDateIntervalPreMonth()}"
                                    />
                        <p:menuitem value="本月份" process="@this updatedDate"  update="updatedDate @parent"  
                                    actionListener="#{workReportTransSearchComponent.workReportSearchHeaderComponent.changeDateIntervalThisMonth()}"
                                    />
                        <p:menuitem value="下個月" process="@this updatedDate" update="updatedDate @parent"  
                                    actionListener="#{workReportTransSearchComponent.workReportSearchHeaderComponent.changeDateIntervalNextMonth()}"
                                    />

                    </p:tabMenu>
                </p:panelGrid>
            </p:column>
            <p:column colspan="1">
                <p:outputLabel value="寄發區間："/>
            </p:column>
            <p:column colspan="3">
                <p:outputPanel id="updatedDate">
                    <p:calendar value="#{workReportTransSearchComponent.workReportSearchHeaderComponent.startDate}" 
                                navigator="true" mode="popup" 
                                showOn="button" pattern="yyyy/MM/dd" >
                    </p:calendar>
                    <p:outputLabel value="～"/>
                    <p:calendar value="#{workReportTransSearchComponent.workReportSearchHeaderComponent.endDate}" 
                                navigator="true" mode="popup" 
                                showOn="button" pattern="yyyy/MM/dd" >
                    </p:calendar>
                </p:outputPanel>
            </p:column>
            <p:column colspan="1">
                <p:outputPanel autoUpdate="true">
                    <p:panelGrid columns="2">
                        <p:commandButton value="搜尋" onclick="doSearchData()"
                                         process="@this">
                        </p:commandButton>
                        <p:commandButton value="清除"
                                         onclick="doClearData();" 
                                         oncomplete="hideLoad();"
                                         process="@this">
                        </p:commandButton>
                    </p:panelGrid>
                </p:outputPanel>
            </p:column>
        </p:row>
    </p:panelGrid>



</html>
