<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/templateProject.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <f:metadata>
        <f:event type="preRenderView" listener="#{sessionTimerBean.reStartIdle()}"/>
    </f:metadata>
    <ui:define name="title">
        <h:outputText value="工作報告-草稿" />
    </ui:define>
    function myrefresh()
    {
    window.location.reload();
    }
    <ui:define name="content">
        <p:outputPanel id="workReportHeaderPanel">
            <cp:workReportHeader model="#{worp1Bean.workReportHeaderComponent}"  edit="#{worp1Bean.edit}" editing="#{worp1Bean.edit}">
            </cp:workReportHeader>
        </p:outputPanel>

        <p:outputPanel id="workReportDataPanel">
            <cp:workReportData model="#{worp1Bean.workReportDataComponent}" process="workReportHeaderPanel"  edit="#{worp1Bean.edit}">
                <f:actionListener for="actionEvent" binding="#{worp1Bean.addSampleTitle()}"/>
                <f:actionListener for="doSampleActionEvent" binding="#{worp1Bean.doAddSampleTitle()}"/>
            </cp:workReportData>
        </p:outputPanel>
        <p:panelGrid columns="2" >
            <h:panelGroup>
                <h:outputText value="附加檔案："/>
            </h:panelGroup>
            <p:outputPanel id="attachemtUploadPanel">
                <p:commandButton value="附加檔案" 
                                 onclick="showLoad();"
                                 process="@this"  
                                 oncomplete="PF('dlgUploadWv').show();hideLoad();" 
                                 />
                <cp:attachmentUpload model="#{worp1Bean.wpAttachmentCompant}" process="attachemtViewPanel" uploadDialogWv="dlgUploadWv" uploadDialogId="dlgUploadId" update="attachemtViewPanel" >

                </cp:attachmentUpload>
            </p:outputPanel>
        </p:panelGrid>
        <p:outputPanel id="attachemtViewPanel">
            <cp:attachmentView model="#{worp1Bean.wpAttachmentCompant}"></cp:attachmentView>
        </p:outputPanel>
        <p:commandButton value="確認"  onclick="showLoad();saveHTML('workReportData_content');saveHTML('workReportData_remark');" oncomplete="hideLoad();" update="workReportDataPanel workReportHeaderPanel"  process="@this workReportDataPanel workReportHeaderPanel attachemtViewPanel" actionListener="#{worp1Bean.createWorkReport}"/>
        <p:commandButton value="取消" actionListener="#{worp1Bean.cancel()}" />
        <p:commandButton value="儲存草稿"  onclick="showLoad();saveHTML('workReportData_content');saveHTML('workReportData_remark');" oncomplete="hideLoad();" update="workReportDataPanel workReportHeaderPanel"  process="@this workReportDataPanel workReportHeaderPanel attachemtViewPanel" actionListener="#{worp1Bean.createTempWorkReport}"/>

        <p:confirmDialog id="confirmDlgTemplate"  widgetVar="confirmDlgTemplate" >
            <f:facet name="message">
                <h:outputText value="#{worp1Bean.errorMessage}" escape="false"/>
            </f:facet>
            <p:commandButton value="確認" type="button" onclick="PF('confirmDlgTemplate').hide()"/>
        </p:confirmDialog>


        <p:confirmDialog id="commitAlertDlg"  widgetVar="commitAlertDlgWv" >
            <f:facet name="message">
                <h:outputText value="存檔後不可進行修改，請確認！" escape="false"/>
            </f:facet>
            <p:commandButton value="確認" onclick="showLoad();saveHTML('workReportData_content');saveHTML('workReportData_remark');" oncomplete="hideLoad();" update="workReportDataPanel workReportHeaderPanel"  process="@this workReportDataPanel workReportHeaderPanel attachemtViewPanel" actionListener="#{worp1Bean.doCreateWorkReport()}" />
            <p:commandButton value="取消"  process="@this" onclick="PF('commitAlertDlgWv').hide()" />
        </p:confirmDialog>


    </ui:define>

</ui:composition>
