<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../template/templateProject.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:cp="http://java.sun.com/jsf/composite/components"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
>

    <f:metadata>
        <f:event type="preRenderView" listener="#{worp2Bean.initialize()}"/>
    </f:metadata>
    <ui:define name="title">
        <h:outputText value="工作報告"/>
    </ui:define>

    <ui:define name="content">


        <ui:include src="../worp/workReportTransComponents.xhtml">
            <ui:param name="workReportTraceComponents" value="#{worp2Bean.workReportViewComponent.transComponent}"/>
            　　
            <ui:param name="workReportTransComponentsHeight" value="height:680px;width: 1100px; "/>
            <ui:param name="workReportTransDepComponentsHeight" value="height:600px;"/>
            <ui:param name="workReportTransPersonComponentsHeight" value="height:550px;"/>
        </ui:include>

        <ui:include src="../worp/workReportTraceComponents.xhtml">
            <ui:param name="workReportTraceComponents" value="#{worp2Bean.workReportViewComponent.traceComponent}"/>
        </ui:include>

        <p:outputPanel id="workReportBtnPanel">
            <cp:workReportBtn model="#{worp2Bean.workReportViewComponent.workReportBtnComponent}"
                              process="workReportHeaderPanel workReportDataPanel">

            </cp:workReportBtn>
        </p:outputPanel>
        <p:scrollPanel mode="native" id="scrollPanelID">

            <p:outputPanel id="workReportHeaderPanel">
                <cp:workReportHeader model="#{worp2Bean.workReportViewComponent.workReportHeaderComponent}"
                                     model2="#{worp2Bean.workReportViewComponent.workReportBtnComponent}"
                                     edit="#{worp2Bean.workReportViewComponent.edit}"
                                     editing="#{worp2Bean.workReportViewComponent.workReportBtnComponent.editMode}">
                    <f:actionListener for="ActionEvent"
                                      binding="#{worp2Bean.workReportViewComponent.workReportReadReceiptsMemberComponent.sendToReadReceopt()}"/>
                </cp:workReportHeader>
            </p:outputPanel>
            <p:outputPanel id="workReportDataPanel">
                <cp:workReportData model="#{worp2Bean.workReportViewComponent.workReportDataComponent}"
                                   edit="#{worp2Bean.workReportViewComponent.workReportBtnComponent.editMode}">
                    <f:actionListener for="actionEvent"
                                      binding="#{worp2Bean.workReportViewComponent.addSampleTitle()}"/>
                    <f:actionListener for="doSampleActionEvent"
                                      binding="#{worp2Bean.workReportViewComponent.doAddSampleTitle()}"/>
                </cp:workReportData>
            </p:outputPanel>
            <p:remoteCommand name="closeLock"
                             actionListener="#{worp2Bean.workReportViewComponent.lockCountDownComponent.closeLock()}"
                             update="userModifyPanel"
                             process="@this"
                             oncomplete="PF('lock_time_up').show()">
            </p:remoteCommand>
            <p:outputPanel id="userModifyPanel" style="height: 30px;width: 950px">
                <p:panelGrid columns="2" styleClass="width100 ">
                    <p:outputPanel id="screen_fullissue_content_view_lock"
                                   rendered="#{worp2Bean.workReportViewComponent.lockCountDownComponent.showLock}">
                        <p:panelGrid columns="3">
                            <p:outputLabel value="編輯鎖定： #{worp2Bean.workReportViewComponent.lockCountDownComponent.editUserName}"/>
                            <p:outputLabel value="鎖定倒數："/>
                            <p:outputLabel id="screen_fullissue_content_view_lockCount"/>
                        </p:panelGrid>

                    </p:outputPanel>
                    <p:panelGrid columns="3" styleClass="alignRight">
                        <p:outputLabel value="最後編輯時間："/>
                        <p:outputLabel value="#{worp2Bean.workReportViewComponent.userModifyVO.lastModifyTime}">

                        </p:outputLabel>
                        <p:outputLabel value="編輯人：#{worp2Bean.workReportViewComponent.userModifyVO.modifyUserName}"/>
                    </p:panelGrid>
                </p:panelGrid>
            </p:outputPanel>
            <!-- TAB -->
            <p:outputPanel deferred="true" id="viewPanelBottomInfoTabId">

                <p:tabView style="border:none" rendered="#{worp2Bean.workReportViewComponent.showBottomInfoTab}"
                           activeIndex="#{worp2Bean.workReportViewComponent.tabIndex}"
                           widgetVar="viewPanelBottomInfoTab" id="viewPanelBottomInfoTabInId"
                           dynamic="true" effect="slide" effectDuration="fast">
                    <p:tab id="trace_tab_id"
                           rendered="#{worp2Bean.workReportViewComponent.workReportTraceComponent.showTraceTab}">
                        <f:facet name="title">
                            <p:outputLabel value="追蹤"/>
                            <p:outputLabel styleClass="ui-icon ui-icon-plusthick" style="margin-top: -2px"
                                           onclick="openAllTab('viewPanelBottomInfoTabInId', 'wr_trace_tab_wv', 'wr_trace_tab_id');"/>
                            <p:outputLabel styleClass="ui-icon ui-icon-minusthick" style="margin-top: -2px"
                                           onclick="closeAllTab('viewPanelBottomInfoTabInId', 'wr_trace_tab_wv', 'wr_trace_tab_id');"/>
                        </f:facet>
                        <p:scrollPanel mode="native">
                            <p:panel style="border:none">
                                <p:accordionPanel widgetVar="wr_trace_tab_wv" id="wr_trace_tab_id"
                                                  value="#{worp2Bean.workReportViewComponent.workReportTraceComponent.WRTraceVO}"
                                                  var="trace" activeIndex="0"
                                                  multiple="true">
                                    <p:tab>
                                        <f:facet name="title">
                                            <p:outputLabel value="#{trace.userInfo}"
                                                           style="font-weight: bold"/>&nbsp;
                                            <h:outputText value="#{trace.time}"
                                                          style="font-weight: bold">
                                            </h:outputText>

                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <p:outputLabel value="#{trace.traceType}"/>
                                        </f:facet>
                                        <p:outputLabel value="#{trace.content}"
                                                       style="white-space: pre;"
                                                       escape="false"
                                        />

                                    </p:tab>
                                </p:accordionPanel>
                            </p:panel>
                        </p:scrollPanel>
                    </p:tab>
                    <p:tab id="reply_tab_id"
                           rendered="#{worp2Bean.workReportViewComponent.workReportReplyComponent.showReplyTab}">
                        <f:facet name="title">
                            <p:outputLabel value="回覆"/>
                        </f:facet>
                        <p:scrollPanel mode="native">
                            <p:panel style="border:none">
                                <p:accordionPanel widgetVar="wr_replytrace_tab_wv" id="wr_replytrace_tab_id"
                                                  value="#{worp2Bean.workReportViewComponent.workReportReplyComponent.WRTraceVO}"
                                                  var="replytrace" activeIndex="-1"
                                                  multiple="true">
                                    <p:tab>
                                        <f:facet name="title">
                                            <p:outputLabel value="#{replytrace.userInfo}"
                                                           style="font-weight: bold"/>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <h:outputText value="#{replytrace.time}"
                                                          style="font-weight: bold">
                                            </h:outputText>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <p:commandButton icon="fa fa-pencil"
                                                             title="編輯回覆"
                                                             onclick="showLoad();" oncomplete="hideLoad();"
                                                             class="btnAccPanelIcon"
                                                             rendered="#{!worp2Bean.workReportViewComponent.wrStatusDeleteOrInvail and replytrace.showEditBtn}"
                                                             actionListener="#{worp2Bean.workReportViewComponent.loadReply(replytrace.sid)}"
                                                             process="@this"
                                            />
                                        </f:facet>
                                        <p:outputLabel value="#{replytrace.content}"
                                                       style="white-space: pre;"
                                                       escape="false"
                                        />
                                    </p:tab>
                                </p:accordionPanel>
                            </p:panel>
                        </p:scrollPanel>
                    </p:tab>
                    <p:tab title="附加檔案" id="att_tab_id"
                           rendered="#{worp2Bean.workReportViewComponent.workReportAttachMaintainCompant.showAttTab}">
                        <cp:attachmentMaintain
                                model="#{worp2Bean.workReportViewComponent.workReportAttachMaintainCompant}"
                                wrStatusDeleteOrInvail="#{worp2Bean.workReportViewComponent.wrStatusDeleteOrInvail}"/>
                    </p:tab>
                    <p:tab title="索取讀取記錄狀況"
                           rendered="#{worp2Bean.workReportViewComponent.workReportReadReceiptsMemberComponent.showReadReceiptTab}">
                        <p:dataTable
                                value="#{worp2Bean.workReportViewComponent.workReportReadReceiptsMemberComponent.readReceiptVOs}"
                                rowIndexVar="index"
                                var="readReceipt" rowKey="#{readReceipt.userSid}"
                                paginator="true" rows="10"
                                resizableColumns="false"
                        >
                            <p:column headerText="序" width="10">
                                <h:outputText value="#{index+1}"/>
                            </p:column>
                            <p:column headerText="部門">
                                <h:outputText value="#{readReceipt.departmentName}"/>
                            </p:column>
                            <p:column headerText="使用者暱稱" filterBy="#{readReceipt.name}" filterMatchMode="contains">
                                <h:outputText value="#{readReceipt.name}"/>
                            </p:column>
                            <p:column headerText="索取時間">
                                <h:outputText value="#{readReceipt.requiretime}"/>
                            </p:column>
                            <p:column headerText="確認已讀取時間">
                                <h:outputText value="#{readReceipt.readtime}"/>
                            </p:column>

                        </p:dataTable>

                    </p:tab>
                    <p:tab title="呈報"
                           rendered="#{worp2Bean.workReportViewComponent.workInboxComponent.showIncomeReport}">
                        <cp:inboxItem items="#{worp2Bean.workReportViewComponent.workInboxComponent.incomeReports}"
                                      accId="ix_report_acc_panel_layer_zero"/>
                    </p:tab>
                    <p:tab title="轉個人"
                           rendered="#{worp2Bean.workReportViewComponent.workInboxComponent.showIncomeMember}">
                        <cp:inboxItem items="#{worp2Bean.workReportViewComponent.workInboxComponent.incomeMembers}"
                                      accId="ix_personal_acc_panel_layer_zero"/>
                    </p:tab>
                    <p:tab title="指示"
                           rendered="#{worp2Bean.workReportViewComponent.workInboxComponent.showIncomeInstructions}">
                        <cp:inboxItem items="#{worp2Bean.workReportViewComponent.workInboxComponent.incomeInstructions}"
                                      accId="ix_instruction_acc_panel_layer_zero"/>
                    </p:tab>
                    <p:tab title="寄件備份"
                           rendered="#{worp2Bean.workReportViewComponent.workInboxComponent.showSentBackup}">
                        <cp:inboxGroupItem model="#{worp2Bean.workReportViewComponent.workInboxComponent}"
                                           accId="ix_sentback_acc_panel_layer_zero"/>
                    </p:tab>
                </p:tabView>
            </p:outputPanel>
        </p:scrollPanel>
        <cp:attachmentUpload uploadDialogWv="dlgUploadWv" uploadDialogId="dlgUploadId"
                             model="#{worp2Bean.workReportViewComponent.wpAttachmentCompant}"
                             update="attachemtViewPanel viewPanelBottomInfoTabId ">
        </cp:attachmentUpload>
        <p:dialog header="確認" widgetVar="attach_del_confirm_wv" id="attach_del_confirm_id" modal="true"
                  resizable="false">
            <p:panelGrid columns="1">
                <h:outputText escape="false"
                              value="是否刪除此附件(#{worp2Bean.workReportViewComponent.workReportAttachMaintainCompant.selDelAtt.attName})"/>
            </p:panelGrid>
            <p:panelGrid columns="2">
                <p:commandButton value="確定"
                                 onclick="showLoad();"
                                 process="@this"
                                 actionListener="#{worp2Bean.workReportViewComponent.workReportAttachMaintainCompant.deleteAtt()}"
                                 oncomplete="hideLoad();PF('attach_del_confirm_wv').hide()"
                />
                <p:commandButton value="取消" oncomplete="PF('attach_del_confirm_wv').hide();" process="@this"/>
            </p:panelGrid>
        </p:dialog>
        <p:dialog header="部門" widgetVar="deptUnitDlg" modal="true" resizable="false">
            <p:outputPanel id="dep">
                <cp:depTree model="#{worp2Bean.workReportViewComponent.depTreeManager}"
                            dlgName="deptUnitDlg" btnShow="true">
                    <f:actionListener for="actionEvent" binding="#{worp2Bean.workReportViewComponent.doSelectOrg()}"/>
                </cp:depTree>
            </p:outputPanel>
        </p:dialog>


        <p:dialog header="索取讀取記錄" widgetVar="readReceiptDlg" modal="true">
            <p:outputPanel id="readReceiptPanel">
                <cp:readReceiptView model="#{worp2Bean.workReportViewComponent.workReportReadReceiptsMemberComponent}">
                    <f:actionListener for="actionEvent"
                                      binding="#{worp2Bean.workReportViewComponent.workReportReadReceiptsMemberComponent.saveReadReceipt()}"/>
                    <f:actionListener for="actionOrgEvent"
                                      binding="#{worp2Bean.workReportViewComponent.loadDepTree()}"/>
                </cp:readReceiptView>
            </p:outputPanel>
        </p:dialog>

        <!--訊息點閱狀況-->
        <p:dialog header="訊息點閱狀況"
                  widgetVar="dlgIssueSentBackup"
                  modal="true">
            <p:outputPanel id="dlgIssueSentBackup_view"
                           style=" width: 720px;">
                <p:dataTable id="dlgIssueSentBackup_view_dtInbox"
                             widgetVar="dlgIssueSentBackup_view_wvInbox"
                             value="#{worp2Bean.workReportViewComponent.workInboxComponent.sentBackReadStatus}"
                             selection="#{worp2Bean.workReportViewComponent.workInboxComponent.selSentBackReadStatus}"
                             disabledSelection="#{!o.canCancel}"
                             var="o"
                             rowIndexVar="rowIndex"
                             rowKey="#{o.inbox_sid}"
                             paginator="true"
                             rows="20"
                             scrollHeight="200"
                             scrollable="true">
                    <p:column selectionMode="multiple"
                              styleClass="alignCenter"
                              width="50"
                              toggleable="false">
                        <f:facet name="header">
                            <h:outputText value="訊息回收"/>
                        </f:facet>
                    </p:column>
                    <p:column headerText="序"
                              styleClass="alignCenter"
                              width="25">
                        <h:outputText value="#{rowIndex+1}"/>
                    </p:column>
                    <p:column headerText="部門"
                              width="80">
                        <h:outputText value="#{o.departmentName}"/>
                    </p:column>
                    <p:column headerText="使用者暱稱"
                              rendered="#{!worp2Bean.workReportViewComponent.workInboxComponent.depSentBackReadStatus}"
                              width="100">
                        <h:outputText value="#{o.userName}"/>
                    </p:column>
                    <p:column headerText="點閱時間"
                              width="120">
                        <h:outputText value="#{o.readTime}">
                        </h:outputText>
                    </p:column>
                    <p:column headerText="回收時間"
                              width="120">
                        <h:outputText value="#{o.cancelTime}">
                        </h:outputText>
                    </p:column>
                </p:dataTable>
                <p:panelGrid id="dlgIssueSentBackup_view_count"
                             columns="1"
                             styleClass="width100 marginTop10">
                    <p:panelGrid columns="1" styleClass="alignRight">
                        <p:outputLabel
                                value="應點閱人數： #{worp2Bean.workReportViewComponent.workInboxComponent.needToReadPersonNumber}人"/>
                        <p:outputLabel
                                value="已點閱人數：#{worp2Bean.workReportViewComponent.workInboxComponent.readedPersonNumber}人"/>
                        <p:outputLabel
                                value="已回收人數：#{worp2Bean.workReportViewComponent.workInboxComponent.cancelPersonNumber}人"/>
                    </p:panelGrid>
                    <p:panelGrid columns="2">
                        <p:commandButton value="執行回收"
                                         onclick="showLoad();"
                                         actionListener="#{worp2Bean.workReportViewComponent.workInboxComponent.cancelWorkInBox()}"
                                         oncomplete="hideLoad();"
                                         process="@this dlgIssueSentBackup_view_dtInbox"/>
                        <p:commandButton value="關閉"
                                         onclick=";PF('dlgIssueSentBackup').hide();"
                                         process="@this"/>
                    </p:panelGrid>
                </p:panelGrid>
            </p:outputPanel>
        </p:dialog>

        <!-- 已處理 WORKRPT-116 -->
        <p:dialog header="回覆"
                  id="reply_dialog"
                  modal="true"
                  position="center center-200"
                  widgetVar="reply_dialog"
                  draggable="true"
                  closable="false"
                  resizable="true"
        >
            <p:panelGrid columns="1">
                <p:row>
                    <p:column colspan="2">
                        <p:outputLabel value="#{worp2Bean.workReportViewComponent.replyEditVO.userInfo}"
                                       style="color:black;font-weight: bold"/>
                        &nbsp;
                        <h:outputText
                                value="#{worp2Bean.workReportViewComponent.replyEditVO.time}"
                                style="color:black;font-weight: bold">
                        </h:outputText>&nbsp;
                    </p:column>
                </p:row>
                <p:row style="vertical-align: top">
                    <p:column colspan="2">
                        <p:editor controls="font size bold italic underline color highlight" id="reply_dialog_edit"
                                  widgetVar="reply_dialog_edit_wv"
                                  value="#{worp2Bean.workReportViewComponent.replyEditVO.content}"
                                  converter="#{editorConverter}"
                                  style="width:500px;"/>
                    </p:column>
                </p:row>
                <p:row>
                    <p:column colspan="1">
                        <p:outputLabel value="附加檔案："/>
                    </p:column>
                    <p:column colspan="1">
                        <p:commandButton value="附加檔案"
                                         onclick="showLoad();
                                                 updateAthUploadMsg();"
                                         process="@this"
                                         oncomplete="PF('dlgUploadWv').show();hideLoad();"
                        />

                    </p:column>
                </p:row>
            </p:panelGrid>
            <p:scrollPanel mode="native" style="border:none;max-height:150px">
                <p:outputPanel id="attachemtViewPanel">
                    <cp:attachmentView
                            model="#{worp2Bean.workReportViewComponent.wpAttachmentCompant}"></cp:attachmentView>
                </p:outputPanel>
            </p:scrollPanel>
            <p:row>
                <p:commandButton value="確定" onclick="showLoad();saveHTML('reply_dialog_edit_wv');"
                                 oncomplete="hideLoad();"
                                 actionListener="#{worp2Bean.workReportViewComponent.doReply()}"
                                 process="@this attachemtViewPanel reply_dialog_edit"/>
                <p:commandButton value="取消" onclick=";PF('reply_dialog').hide();"/>
            </p:row>
        </p:dialog>

        <p:confirmDialog id="confirmDlgTemplate" widgetVar="confirmDlgTemplate">
            <f:facet name="message">
                <h:outputText value="#{worp2Bean.errorMessage}" escape="false"/>
            </f:facet>
            <p:commandButton value="確認" type="button" onclick="PF('confirmDlgTemplate').hide()"/>
        </p:confirmDialog>

        <p:confirmDialog widgetVar="lock_time_up" header="提醒" resizable="false" modal="true" escape="true" width="300">
            <f:facet name="message">
                <h:outputText value="鎖定時間已逾時"/>
            </f:facet>
            <p:commandButton value="確認" type="button" onclick="PF('lock_time_up').hide()"/>
        </p:confirmDialog>


        <script type="text/javascript">
            jQuery(document).ready(function () {
                $("#scrollPanelID").css('height', $(window).height() - $("#workReportBtnPanel").height() - 20);
            });


            function myrefresh() {
                window.location.reload();
            }
        </script>
    </ui:define>

</ui:composition>
